Repository mckinsey/vizro, pull requests merged in 2023-10, with the labels that each got.

#77 Update tutorial first page dashboard image
  vizro-core/changelog.d/20230929_152304_47756459+axa99_docs_review.md
  vizro-core/docs/assets/tutorials/dashboard/dashboard21.png
Labels: Status: Ready for Review :ballot_box_with_check:, Community, Component: Docs :spiral_notepad:

#84 Fix unit test interdependence
  vizro-core/changelog.d/20231001_000340_huong_li_nguyen_fix_test_interdependence.md
  vizro-core/docs/pages/development/authors.md
  vizro-core/src/vizro/_constants.py
  vizro-core/src/vizro/models/_navigation/_accordion.py
  vizro-core/src/vizro/models/_navigation/navigation.py
  vizro-core/tests/unit/vizro/conftest.py
  vizro-core/tests/unit/vizro/models/_navigation/conftest.py
  vizro-core/tests/unit/vizro/models/_navigation/test_accordion.py
  vizro-core/tests/unit/vizro/models/_navigation/test_navigation.py
  vizro-core/tests/unit/vizro/models/test_dashboard.py
  vizro-core/tests/unit/vizro/models/test_page.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Refactoring :superhero:, Component: Tests :test_tube:

#83 [Snyk] Security upgrade pydantic from 1.10.13 to 2.4.0
  .pre-commit-config.yaml
  vizro-core/changelog.d/20231002_182747_huong_li_nguyen_snyk_fix_45c953e9ecaac62cbefac81184742ed1.md
  vizro-core/pyproject.toml
  vizro-core/snyk/requirements.txt
Labels: Status: Ready for Review :ballot_box_with_check:, Component: DevOps/Setup :classical_building:

#91 Make horizontal rulers visible
  CODEOWNERS
  vizro-core/changelog.d/20231003_115910_huong_li_nguyen_make_rulers_visible.md
  vizro-core/src/vizro/models/_navigation/_accordion.py
  vizro-core/src/vizro/models/_page.py
  vizro-core/src/vizro/static/css/layout.css
  vizro-core/tests/unit/vizro/models/_navigation/conftest.py
Labels: Status: Ready for Review :ballot_box_with_check:, Issue: Bug Report :bug:

#90 Add comparison table to `Why Vizro` docs page
  README.md
  vizro-core/README.md
  vizro-core/changelog.d/20231003_103941_huong_li_nguyen_end_to_end_use_case_example.md
  vizro-core/docs/pages/explanation/why_vizro.md
  vizro-core/docs/stylesheets/extra.css
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Docs :spiral_notepad:

#92 Fix bug so that `add_type` updates forward references in new type added
  vizro-core/changelog.d/20231004_131631_huong_li_nguyen_fix_child_forwardref.md
  vizro-core/docs/assets/tutorials/dashboard/dashboard21.png
  vizro-core/docs/assets/tutorials/dashboard/dashboard22.png
  vizro-core/docs/assets/tutorials/dashboard/dashboard23.png
  vizro-core/docs/pages/user_guides/custom_components.md
  vizro-core/src/vizro/models/_base.py
  vizro-core/tests/unit/vizro/models/test_base.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Docs :spiral_notepad:, Issue: Bug Report :bug:

#74 Enable highlighting of active page button and refactor `accordion.build()`
  vizro-core/changelog.d/20230928_143738_nadija_ratkusic_graca_highlight_active_accordion_item.md
  vizro-core/src/vizro/models/_dashboard.py
  vizro-core/src/vizro/models/_navigation/_accordion.py
  vizro-core/src/vizro/models/_navigation/navigation.py
  vizro-core/src/vizro/models/_page.py
  vizro-core/src/vizro/static/css/accordion.css
  vizro-core/src/vizro/static/css/layout.css
  vizro-core/tests/unit/vizro/conftest.py
  vizro-core/tests/unit/vizro/models/_navigation/conftest.py
  vizro-core/tests/unit/vizro/models/_navigation/test_accordion.py
  vizro-core/tests/unit/vizro/models/_navigation/test_navigation.py
  vizro-core/tests/unit/vizro/models/test_dashboard.py
  vizro-core/tests/unit/vizro/models/test_page.py
Labels: Type: Technical DR :floppy_disk:, Status: Ready for Review :ballot_box_with_check:, Issue: Bug Report :bug:

#96 Add more unit tests for page components/controls
  CODEOWNERS
  vizro-core/changelog.d/20231005_135142_huong_li_nguyen_update_custom_control_example.md
  vizro-core/docs/pages/user_guides/components.md
  vizro-core/tests/unit/vizro/models/test_page.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Docs :spiral_notepad:

#95 Allow None/Optional parameters
  vizro-core/changelog.d/20231004_184107_maximilian_schulz_allow_none_parameters.md
  vizro-core/docs/pages/user_guides/parameters.md
  vizro-core/schemas/0.1.4.dev0.json
  vizro-core/src/vizro/_constants.py
  vizro-core/src/vizro/actions/_actions_utils.py
  vizro-core/src/vizro/managers/_data_manager.py
  vizro-core/src/vizro/models/_components/form/dropdown.py
  vizro-core/src/vizro/models/_controls/parameter.py
  vizro-core/tests/unit/vizro/actions/test_parameter_action.py
  vizro-core/tests/unit/vizro/models/_components/form/test_dropdown.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Configuration :computer:

#97 Introduce validator to raise ModuleNotFoundError at dashboard creation
  vizro-core/changelog.d/20231005_145819_maximilian_schulz_86_absence_of_openpyxl_library_causes_console_errors.md
  vizro-core/src/vizro/actions/export_data_action.py
  vizro-core/src/vizro/models/_action/_action.py
  vizro-core/src/vizro/models/types.py
  vizro-core/tests/unit/vizro/actions/test_export_data_action.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Configuration :computer:, Issue: Bug Report :bug:

#80 Add unit tests for `Action` model
  vizro-core/changelog.d/20230927_081254_petar_pejovic_actions_unit_tests.md
  vizro-core/pyproject.toml
  vizro-core/src/vizro/actions/_action_loop/_action_loop.py
  vizro-core/src/vizro/actions/_action_loop/_get_action_loop_components.py
  vizro-core/src/vizro/actions/_callback_mapping/_callback_mapping_utils.py
  vizro-core/src/vizro/actions/_callback_mapping/_get_action_callback_mapping.py
  vizro-core/src/vizro/models/_action/_action.py
  vizro-core/src/vizro/models/_components/graph.py
  vizro-core/src/vizro/models/_controls/filter.py
  vizro-core/src/vizro/models/_dashboard.py
  vizro-core/tests/unit/vizro/models/_action/test_action.py
  vizro-core/tests/unit/vizro/models/test_dashboard.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Refactoring :superhero:, Component: Tests :test_tube:

#103 Release of vizro-core 0.1.4
  vizro-core/CHANGELOG.md
  vizro-core/changelog.d/20230928_143738_nadija_ratkusic_graca_highlight_active_accordion_item.md
  vizro-core/changelog.d/20230929_101825_huong_li_nguyen_v0_1_3.md
  vizro-core/changelog.d/20230929_110424_huong_li_nguyen_bump_version_after_013.md
  vizro-core/changelog.d/20230929_152304_47756459+axa99_docs_review.md
  vizro-core/changelog.d/20231001_000340_huong_li_nguyen_fix_test_interdependence.md
  vizro-core/changelog.d/20231002_135801_alexey_snigir_release_tests_fix.md
  vizro-core/changelog.d/20231002_182747_huong_li_nguyen_snyk_fix_45c953e9ecaac62cbefac81184742ed1.md
  vizro-core/changelog.d/20231003_103941_huong_li_nguyen_end_to_end_use_case_example.md
  vizro-core/changelog.d/20231003_115910_huong_li_nguyen_make_rulers_visible.md
  vizro-core/changelog.d/20231004_131631_huong_li_nguyen_fix_child_forwardref.md
  vizro-core/changelog.d/20231004_184107_maximilian_schulz_allow_none_parameters.md
  vizro-core/changelog.d/20231005_135142_huong_li_nguyen_update_custom_control_example.md
  vizro-core/changelog.d/20231005_145819_maximilian_schulz_86_absence_of_openpyxl_library_causes_console_errors.md
  vizro-core/changelog.d/20231009_162714_petar_pejovic_v0_1_4.md
  vizro-core/schemas/0.1.3.json
  vizro-core/schemas/0.1.4.json
  vizro-core/src/vizro/__init__.py
Labels: RELEASE

#93 Action loop and callback mapping tests
  vizro-core/changelog.d/20231004_152109_petar_pejovic_action_loop_and_callback_mapping_tests.md
  vizro-core/pyproject.toml
  vizro-core/src/vizro/actions/_callback_mapping/_callback_mapping_utils.py
  vizro-core/src/vizro/actions/export_data_action.py
  vizro-core/src/vizro/models/_action/_action.py
  vizro-core/tests/unit/vizro/actions/_action_loop/test_get_action_loop_components.py
  vizro-core/tests/unit/vizro/actions/_callback_mapping/test_get_action_callback_mapping.py
  vizro-core/tests/unit/vizro/actions/test_export_data_action.py
  vizro-core/tests/unit/vizro/models/_action/test_action.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Tests :test_tube:

#106 Fix CSS alignment bugs and add more templates
  vizro-core/changelog.d/20231011_110304_huong_li_nguyen_fix_css_bugs.md
  vizro-core/src/vizro/_themes/_templates/template_dark.py
  vizro-core/src/vizro/_themes/_templates/template_light.py
  vizro-core/src/vizro/static/css/accordion.css
  vizro-core/src/vizro/static/css/card.css
  vizro-core/src/vizro/static/css/layout.css
  vizro-core/src/vizro/static/css/types.css
Labels: Status: Ready for Review :ballot_box_with_check:, Issue: Bug Report :bug:

#107 General improvements to docs and linters
  .github/pull_request_template.md
  .pre-commit-config.yaml
  CODE_OF_CONDUCT.md
  pyproject.toml
  tools/find_forbidden_words_in_repo.sh
  tools/forbidden_words.txt
  vizro-core/CHANGELOG.md
  vizro-core/changelog.d/20231011_144547_maximilian_schulz_general_todos.md
  vizro-core/docs/pages/development/authors.md
  vizro-core/docs/pages/development/contributing.md
  vizro-core/docs/pages/explanation/why_vizro.md
  vizro-core/docs/pages/user_guides/actions.md
  vizro-core/docs/pages/user_guides/assets.md
  vizro-core/docs/pages/user_guides/dashboard.md
  vizro-core/docs/pages/user_guides/navigation.md
  vizro-core/pyproject.toml
  vizro-core/src/vizro/_vizro.py
  vizro-core/src/vizro/actions/_filter_action.py
  vizro-core/src/vizro/actions/_on_page_load_action.py
  vizro-core/src/vizro/actions/_parameter_action.py
  vizro-core/src/vizro/actions/export_data_action.py
  vizro-core/src/vizro/actions/filter_interaction_action.py
  vizro-core/src/vizro/models/_action/_actions_chain.py
  vizro-core/src/vizro/models/_components/form/_form_utils.py
  vizro-core/src/vizro/models/_navigation/navigation.py
  vizro-core/tests/unit/vizro/models/test_base.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: DevOps/Setup :classical_building:, Component: Docs :spiral_notepad:

#110 Update user guides and implement branch name prefix enforcement
  .pre-commit-config.yaml
  pyproject.toml
  tools/check_branch_name.sh
  tools/forbidden_words.txt
  vizro-core/changelog.d/20231012_205313_huong_li_nguyen_update_guides_custom.md
  vizro-core/docs/pages/user_guides/custom_charts.md
  vizro-core/docs/pages/user_guides/custom_components.md
  vizro-core/docs/pages/user_guides/run.md
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Docs :spiral_notepad:

#117 Refactor `Navigation` and `Accordion`
  vizro-core/changelog.d/20231017_212005_huong_li_nguyen_navigation.md
  vizro-core/schemas/0.1.5.dev0.json
  vizro-core/src/vizro/models/_dashboard.py
  vizro-core/src/vizro/models/_navigation/_accordion.py
  vizro-core/src/vizro/models/_navigation/_navigation_utils.py
  vizro-core/src/vizro/models/_navigation/navigation.py
  vizro-core/src/vizro/static/css/layout.css
  vizro-core/tests/unit/vizro/models/_navigation/test_accordion.py
  vizro-core/tests/unit/vizro/models/_navigation/test_navigation.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Refactoring :superhero:

#115 Enable turning off marks when step is define in slider components
  .github/images/tech_logos.png
  vizro-core/changelog.d/20231016_131411_nadija_ratkusic_graca_components_range_slider_mark_step_bugfix.md
  vizro-core/examples/default/app.py
  vizro-core/schemas/0.1.5.dev0.json
  vizro-core/src/vizro/models/_components/form/_form_utils.py
  vizro-core/src/vizro/models/_components/form/range_slider.py
  vizro-core/src/vizro/models/_components/form/slider.py
  vizro-core/tests/unit/vizro/models/_components/form/test_range_slider.py
  vizro-core/tests/unit/vizro/models/_components/form/test_slider.py
Labels: Status: Ready for Review :ballot_box_with_check:, Issue: Bug Report :bug:

#120 Enable `_clear_state` and ensure test independence
  .github/images/tech_logos.png
  README.md
  pyproject.toml
  vizro-core/changelog.d/20231019_130629_maximilian_schulz_implement_improved_clearing.md
  vizro-core/docs/pages/development/authors.md
  vizro-core/src/vizro/_vizro.py
  vizro-core/src/vizro/managers/_data_manager.py
  vizro-core/src/vizro/managers/_model_manager.py
  vizro-core/tests/conftest.py
  vizro-core/tests/unit/vizro/actions/_action_loop/test_get_action_loop_components.py
  vizro-core/tests/unit/vizro/conftest.py
  vizro-core/tests/unit/vizro/models/_navigation/test_accordion.py
  vizro-core/tests/unit/vizro/models/_navigation/test_navigation.py
  vizro-core/tests/unit/vizro/models/test_dashboard.py
  vizro-core/tests/unit/vizro/models/test_page.py
  vizro-core/tests/unit/vizro/themes/test_theme.py
Labels: Status: Ready for Review :ballot_box_with_check:, Issue: Bug Report :bug:, Component: Tests :test_tube:

#126 Add disclaimer for custom created components and integrations
  vizro-core/changelog.d/20231025_125539_huong_li_nguyen_add_disclaimer_for_custom_created.md
  vizro-core/docs/pages/user_guides/custom_charts.md
  vizro-core/docs/pages/user_guides/custom_components.md
  vizro-core/docs/pages/user_guides/integration.md
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Docs :spiral_notepad:

#114 Enable dash datatable
  vizro-core/changelog.d/20231030_132538_maximilian_schulz_table_component_MS.md
  vizro-core/docs/assets/user_guides/table/custom_table.png
  vizro-core/docs/assets/user_guides/table/styled_table.png
  vizro-core/docs/assets/user_guides/table/table.png
  vizro-core/docs/pages/user_guides/components.md
  vizro-core/docs/pages/user_guides/graph.md
  vizro-core/docs/pages/user_guides/table.md
  vizro-core/mkdocs.yml
  vizro-core/schemas/0.1.5.json
  vizro-core/schemas/0.1.6.dev0.json
  vizro-core/schemas/generate.py
  vizro-core/src/vizro/actions/_actions_utils.py
  vizro-core/src/vizro/actions/_callback_mapping/_callback_mapping_utils.py
  vizro-core/src/vizro/actions/_filter_action.py
  vizro-core/src/vizro/actions/_on_page_load_action.py
  vizro-core/src/vizro/actions/_parameter_action.py
  vizro-core/src/vizro/actions/export_data_action.py
  vizro-core/src/vizro/actions/filter_interaction_action.py
  vizro-core/src/vizro/managers/_model_manager.py
  vizro-core/src/vizro/models/__init__.py
  vizro-core/src/vizro/models/_components/__init__.py
  vizro-core/src/vizro/models/_components/_components_utils.py
  vizro-core/src/vizro/models/_components/form/checklist.py
  vizro-core/src/vizro/models/_components/form/dropdown.py
  vizro-core/src/vizro/models/_components/form/radio_items.py
  vizro-core/src/vizro/models/_components/form/range_slider.py
  vizro-core/src/vizro/models/_components/form/slider.py
  vizro-core/src/vizro/models/_components/graph.py
  vizro-core/src/vizro/models/_components/table.py
  vizro-core/src/vizro/models/_controls/filter.py
  vizro-core/src/vizro/models/_page.py
  vizro-core/src/vizro/models/types.py
  vizro-core/src/vizro/static/css/dropdown.css
  vizro-core/src/vizro/static/css/scroll_bar.css
  vizro-core/src/vizro/static/css/table.css
  vizro-core/src/vizro/tables/__init__.py
  vizro-core/src/vizro/tables/dash_table.py
  vizro-core/tests/unit/vizro/conftest.py
  vizro-core/tests/unit/vizro/models/_components/test_graph.py
  vizro-core/tests/unit/vizro/models/_components/test_table.py
  vizro-core/tests/unit/vizro/models/test_page.py
  vizro-core/tests/unit/vizro/tables/test_dash_table.py
Labels: Status: Ready for Review :ballot_box_with_check:, Issue: Feature Request :nerd_face:

#137 Prevent `Table` from overflowing its container
  vizro-core/changelog.d/20231031_111125_huong_li_nguyen_fix_table_overflow.md
  vizro-core/src/vizro/models/_components/graph.py
  vizro-core/src/vizro/models/_components/table.py
  vizro-core/src/vizro/static/css/layout.css
  vizro-core/tests/unit/vizro/models/_components/test_graph.py
  vizro-core/tests/unit/vizro/models/_components/test_table.py
Labels: Status: Ready for Review :ballot_box_with_check:, Issue: Bug Report :bug:
