Repository mckinsey/vizro, pull requests merged in 2023-12, with the labels that each got.

#203 Bump dash lower bound to 2.14.1
  vizro-core/changelog.d/20231208_092136_lingyi_zhang_dash_lowerbound.md
  vizro-core/hatch.toml
  vizro-core/pyproject.toml
  vizro-core/snyk/requirements.txt
Labels: Status: Ready for Review :ballot_box_with_check:, dependencies

#204 Resolve snyk warnings and expand model options
  vizro-ai/changelog.d/20231208_135526_lingyi_zhang_snyk_issues_1208.md
  vizro-ai/docs/pages/user_guides/model_config.md
  vizro-ai/pyproject.toml
  vizro-ai/snyk/requirements.txt
  vizro-ai/src/vizro_ai/chains/_llm_models.py
  vizro-core/changelog.d/20231212_140156_lingyi_zhang_snyk_issues_1208.md
  vizro-core/tests/unit/vizro/integrations/kedro/fixtures/test_catalog.yaml
Labels: Status: Ready for Review :ballot_box_with_check:, dependencies, Component: Vizro-AI :robot:

#190 Minor update to `Navigation` docs
  vizro-core/changelog.d/20231204_201354_huong_li_nguyen_update_nav_docs.md
  vizro-core/docs/pages/user_guides/navigation.md
  vizro-core/schemas/0.1.7.dev0.json
  vizro-core/schemas/0.1.7.dev1.json
  vizro-core/src/vizro/actions/export_data_action.py
  vizro-core/src/vizro/actions/filter_interaction_action.py
  vizro-core/src/vizro/models/_components/form/_user_input.py
  vizro-core/src/vizro/models/_navigation/nav_link.py
  vizro-core/src/vizro/models/_navigation/navigation.py
  vizro-core/tests/unit/vizro/models/_navigation/test_nav_bar.py
  vizro-core/tests/unit/vizro/models/_navigation/test_nav_link.py
  vizro-core/tests/unit/vizro/models/_navigation/test_navigation.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Docs :spiral_notepad:

#212 Update configuration for demo dashboard
  vizro-core/changelog.d/20231213_144733_huong_li_nguyen_update_demo.md
  vizro-core/examples/default/app.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Refactoring :superhero:

#211 Fix for cancelling GitHub actions jobs
  .github/workflows/checks-vizro-ai.yml
  .github/workflows/checks-vizro-core.yml
  .github/workflows/lint-vizro-all.yml
  .github/workflows/test-integration-vizro-ai.yml
  .github/workflows/test-integration-vizro-core.yml
  .github/workflows/test-unit-vizro-ai.yml
  .github/workflows/test-unit-vizro-core.yml
  vizro-core/changelog.d/20231213_120926_alexey_snigir_cancel_gh_actions_fix.md
  vizro-core/tests/integration/test_examples.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: DevOps/Setup :classical_building:, Component: Tests :test_tube:

#213 Remove default font color from global CSS to enable overwrites
  vizro-core/changelog.d/20231213_184705_huong_li_nguyen_enable_color_overwrite.md
  vizro-core/examples/default/app.py
  vizro-core/src/vizro/static/css/accordion.css
  vizro-core/src/vizro/static/css/card.css
  vizro-core/src/vizro/static/css/dropdown.css
  vizro-core/src/vizro/static/css/images.css
  vizro-core/src/vizro/static/css/index.css
  vizro-core/src/vizro/static/css/layout.css
  vizro-core/src/vizro/static/css/selectors.css
  vizro-core/src/vizro/static/css/slider.css
  vizro-core/src/vizro/static/css/table.css
  vizro-core/src/vizro/static/css/token_names.css
  vizro-core/src/vizro/static/css/types.css
  vizro-core/src/vizro/static/css/typography.css
  vizro-core/src/vizro/static/css/variables.css
Labels: Status: Ready for Review :ballot_box_with_check:, Issue: Bug Report :bug:

#214 Convert warnings into errors in tests
  vizro-ai/changelog.d/20231213_231202_huong_li_nguyen_convert_warnings_into_errors.md
  vizro-ai/pyproject.toml
  vizro-ai/src/vizro_ai/chains/_llm_chain.py
  vizro-core/changelog.d/20231213_231400_huong_li_nguyen_convert_warnings_into_errors.md
  vizro-core/pyproject.toml
  vizro-core/tests/integration/test_examples.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Tests :test_tube:

#217 Release of vizro-core 0.1.7
  vizro-core/CHANGELOG.md
  vizro-core/changelog.d/20231109_174751_joseph_perkins_vizro_core.md
  vizro-core/changelog.d/20231110_122219_alexey_snigir_check_release_fix.md
  vizro-core/changelog.d/20231113_103808_antony.milne_prep_release.md
  vizro-core/changelog.d/20231113_122927_antony.milne_update_theme.md
  vizro-core/changelog.d/20231114_095856_petar_pejovic_fix_sliders_incorrect_input.md
  vizro-core/changelog.d/20231114_130850_nadija_ratkusic_graca_nav_panel_keyline_v2.md
  vizro-core/changelog.d/20231114_155203_antony.milne_release_lint.md
  vizro-core/changelog.d/20231115_102949_antony.milne_update_graph_theme.md
  vizro-core/changelog.d/20231122_143116_petar_pejovic_enable_custom_actions.md
  vizro-core/changelog.d/20231124_130803_antony.milne_session_storage.md
  vizro-core/changelog.d/20231128_173127_antony.milne_models_navigation_navbar.md
  vizro-core/changelog.d/20231130_161244_antony.milne_hidden.md
  vizro-core/changelog.d/20231201_152948_nadija_ratkusic_graca_navigation_css_refinements.md
  vizro-core/changelog.d/20231201_155112_antony.milne_pydantic_v2.md
  vizro-core/changelog.d/20231204_201354_huong_li_nguyen_update_nav_docs.md
  vizro-core/changelog.d/20231205_121059_antony.milne.md
  vizro-core/changelog.d/20231207_111450_antony.milne_custom_actions_component_id.md
  vizro-core/changelog.d/20231208_092136_lingyi_zhang_dash_lowerbound.md
  vizro-core/changelog.d/20231212_140156_lingyi_zhang_snyk_issues_1208.md
  vizro-core/changelog.d/20231213_093615_antony.milne_typing.md
  vizro-core/changelog.d/20231213_120926_alexey_snigir_cancel_gh_actions_fix.md
  vizro-core/changelog.d/20231213_144733_huong_li_nguyen_update_demo.md
  vizro-core/changelog.d/20231213_184705_huong_li_nguyen_enable_color_overwrite.md
  vizro-core/changelog.d/20231213_231400_huong_li_nguyen_convert_warnings_into_errors.md
  vizro-core/changelog.d/20231215_131354_petar_pejovic_0_1_7.md
  vizro-core/schemas/0.1.6.json
  vizro-core/schemas/0.1.7.dev0.json
  vizro-core/schemas/0.1.7.json
  vizro-core/src/vizro/__init__.py
Labels: RELEASE

#216 Add Python 3.12 to tests
  .github/workflows/test-integration-vizro-ai.yml
  .github/workflows/test-integration-vizro-core.yml
  .github/workflows/test-unit-vizro-ai.yml
  .github/workflows/test-unit-vizro-core.yml
  README.md
  vizro-ai/README.md
  vizro-ai/changelog.d/20231214_163129_huong_li_nguyen_add_python_312.md
  vizro-ai/hatch.toml
  vizro-ai/pyproject.toml
  vizro-core/README.md
  vizro-core/changelog.d/20231214_163119_huong_li_nguyen_add_python_312.md
  vizro-core/hatch.toml
  vizro-core/pyproject.toml
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Tests :test_tube:

#195 Introduce `assert_component_equal` for tests
  vizro-core/changelog.d/20231219_171218_antony.milne_assert_components_equal.md
  vizro-core/src/vizro/models/_components/button.py
  vizro-core/tests/integration/test_navigation.py
  vizro-core/tests/tests_utils/asserts.py
  vizro-core/tests/tests_utils/demo_asserts.py
  vizro-core/tests/unit/vizro/models/_components/test_button.py
  vizro-core/tests/unit/vizro/models/_navigation/test_accordion.py
  vizro-core/tests/unit/vizro/models/_navigation/test_nav_bar.py
  vizro-core/tests/unit/vizro/models/_navigation/test_nav_link.py
  vizro-core/tests/unit/vizro/models/_navigation/test_navigation.py
  vizro-core/tests/unit/vizro/models/test_dashboard.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Tests :test_tube:

#231 Change vizro-ai integration tests
  .github/workflows/secret-scan.yml
  .github/workflows/test-integration-vizro-ai.yml
Labels: Status: Ready for Review :ballot_box_with_check:, Component: DevOps/Setup :classical_building:

#205 Rearrange and rename main page containers
  vizro-core/changelog.d/20231218_133855_huong_li_nguyen_arrange_containers.md
  vizro-core/docs/pages/user_guides/custom_components.md
  vizro-core/pyproject.toml
  vizro-core/src/vizro/models/_dashboard.py
  vizro-core/src/vizro/models/_navigation/_navigation_utils.py
  vizro-core/src/vizro/models/_navigation/accordion.py
  vizro-core/src/vizro/models/_navigation/nav_bar.py
  vizro-core/src/vizro/models/_navigation/nav_link.py
  vizro-core/src/vizro/models/_navigation/navigation.py
  vizro-core/src/vizro/models/_page.py
  vizro-core/src/vizro/static/css/accordion.css
  vizro-core/src/vizro/static/css/dropdown.css
  vizro-core/src/vizro/static/css/layout.css
  vizro-core/src/vizro/static/css/scroll_bar.css
  vizro-core/src/vizro/static/css/table.css
  vizro-core/src/vizro/static/css/typography.css
  vizro-core/tests/unit/vizro/models/_navigation/test_accordion.py
  vizro-core/tests/unit/vizro/models/_navigation/test_nav_bar.py
  vizro-core/tests/unit/vizro/models/_navigation/test_nav_link.py
  vizro-core/tests/unit/vizro/models/_navigation/test_navigation.py
  vizro-core/tests/unit/vizro/models/test_dashboard.py
  vizro-core/tests/unit/vizro/models/test_page.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Refactoring :superhero:

#236 Fix position of invisible button inside `Card`
  vizro-core/changelog.d/20231222_091555_huong_li_nguyen_fix_invisible_button.md
  vizro-core/src/vizro/static/css/card.css
Labels: Status: Ready for Review :ballot_box_with_check:, Issue: Bug Report :bug:
