Repository mckinsey/vizro, pull requests merged in 2023-11, with the labels that each got.

#139 Adjust CI scripts for package specific tasks
  .github/workflows/checks-vizro-ai.yml
  .github/workflows/checks-vizro-core.yml
  .github/workflows/lint-vizro-all.yml
  .github/workflows/test-integration-vizro-ai.yml
  vizro-ai/changelog.d/20231101_120705_maximilian_schulz_check_CI.md
  vizro-ai/hatch.toml
  vizro-core/changelog.d/20231101_120104_maximilian_schulz_check_CI.md
  vizro-core/hatch.toml
Labels: Status: Ready for Review :ballot_box_with_check:, Component: DevOps/Setup :classical_building:

#142 Move layout creation to `Dashboard`
  vizro-core/changelog.d/20231031_222504_huong_li_nguyen_move_page_layout_creation.md
  vizro-core/docs/pages/user_guides/custom_components.md
  vizro-core/pyproject.toml
  vizro-core/src/vizro/actions/_action_loop/_get_action_loop_components.py
  vizro-core/src/vizro/models/_components/card.py
  vizro-core/src/vizro/models/_components/form/_user_input.py
  vizro-core/src/vizro/models/_components/form/checklist.py
  vizro-core/src/vizro/models/_components/form/dropdown.py
  vizro-core/src/vizro/models/_components/form/radio_items.py
  vizro-core/src/vizro/models/_components/form/range_slider.py
  vizro-core/src/vizro/models/_components/form/slider.py
  vizro-core/src/vizro/models/_components/table.py
  vizro-core/src/vizro/models/_dashboard.py
  vizro-core/src/vizro/models/_navigation/_accordion.py
  vizro-core/src/vizro/models/_page.py
  vizro-core/src/vizro/static/css/layout.css
  vizro-core/tests/unit/vizro/actions/_action_loop/test_get_action_loop_components.py
  vizro-core/tests/unit/vizro/models/_components/form/test_range_slider.py
  vizro-core/tests/unit/vizro/models/_components/test_table.py
  vizro-core/tests/unit/vizro/models/_navigation/test_accordion.py
  vizro-core/tests/unit/vizro/models/test_dashboard.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Refactoring :superhero:

#145 Add hosting option to docs
  vizro-ai/.readthedocs.yaml
  vizro-ai/README.md
  vizro-ai/changelog.d/20231102_095201_maximilian_schulz_hosting_vizro_ai.md
  vizro-ai/docs/index.md
  vizro-ai/docs/pages/explanation/safety_in_vizro_ai.md
  vizro-ai/docs/stylesheets/extra.css
  vizro-ai/mkdocs.yml
  vizro-ai/src/vizro_ai/_vizro_ai.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Docs :spiral_notepad:, Component: Vizro-AI :robot:

#136 Tidy schema linting
  .github/workflows/check-release.yml
  .github/workflows/lint-vizro-all.yml
  vizro-ai/changelog.d/20231102_143844_maximilian_schulz_schema_linting.md
  vizro-ai/hatch.toml
  vizro-core/changelog.d/20231031_095110_antony.milne_schema_linting.md
  vizro-core/docs/pages/development/contributing.md
  vizro-core/hatch.toml
  vizro-core/schemas/generate.py
Labels: Status: Ready for Review :ballot_box_with_check:

#119 Table filter interactions
  vizro-core/changelog.d/20231102_145448_petar_pejovic_table_filter_interaction.md
  vizro-core/docs/assets/user_guides/actions/actions_table_filter_interaction.png
  vizro-core/docs/pages/user_guides/actions.md
  vizro-core/examples/assets/favicon.ico
  vizro-core/examples/default/app.py
  vizro-core/examples/from_dict/app.py
  vizro-core/examples/from_json/dashboard.json
  vizro-core/examples/from_yaml/dashboard.yaml
  vizro-core/src/vizro/actions/_action_loop/_build_action_loop_callbacks.py
  vizro-core/src/vizro/actions/_actions_utils.py
  vizro-core/src/vizro/actions/_callback_mapping/_callback_mapping_utils.py
  vizro-core/src/vizro/actions/_filter_action.py
  vizro-core/src/vizro/actions/_on_page_load_action.py
  vizro-core/src/vizro/actions/_parameter_action.py
  vizro-core/src/vizro/actions/filter_interaction_action.py
  vizro-core/src/vizro/models/_components/table.py
  vizro-core/src/vizro/models/types.py
  vizro-core/src/vizro/plotly/express.py
  vizro-core/src/vizro/static/css/dropdown.css
  vizro-core/tests/unit/vizro/actions/_action_loop/test_get_action_loop_components.py
  vizro-core/tests/unit/vizro/actions/_callback_mapping/test_get_action_callback_mapping.py
  vizro-core/tests/unit/vizro/actions/conftest.py
  vizro-core/tests/unit/vizro/actions/test_export_data_action.py
  vizro-core/tests/unit/vizro/actions/test_filter_action.py
  vizro-core/tests/unit/vizro/actions/test_filter_interaction_action.py
  vizro-core/tests/unit/vizro/conftest.py
  vizro-core/tests/unit/vizro/models/_components/test_table.py
Labels: Status: Ready for Review :ballot_box_with_check:, Issue: Feature Request :nerd_face:

#144 prompt refinement and dependency update
  vizro-ai/changelog.d/20231101_175538_anna_xiong_prompt_refinement.md
  vizro-ai/pyproject.toml
  vizro-ai/snyk/requirements.txt
  vizro-ai/src/vizro_ai/chains/_llm_models.py
  vizro-ai/src/vizro_ai/components/dataframe_craft.py
  vizro-ai/src/vizro_ai/components/visual_code.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Vizro-AI :robot:

#128 [Snyk] Security upgrade werkzeug from 2.2.3 to 3.0.1
  tools/tools_requirements.txt
  vizro-core/changelog.d/20231101_213654_lingyi_zhang_snyk_fix_1fa4e2ea1b51a679b7318abdba0b4f36.md
  vizro-core/pyproject.toml
  vizro-core/snyk/requirements.txt
Labels: Status: Ready for Review :ballot_box_with_check:, dependencies

#153 Set upper bound version for openai
  .github/workflows/checks-vizro-ai.yml
  .github/workflows/checks-vizro-core.yml
  .github/workflows/lint-vizro-all.yml
  .github/workflows/test-integration-vizro-ai.yml
  .github/workflows/test-integration-vizro-core.yml
  .github/workflows/test-unit-vizro-ai.yml
  .github/workflows/test-unit-vizro-core.yml
  vizro-ai/changelog.d/20231109_113606_alexey_snigir_pin_openai_version.md
  vizro-ai/pyproject.toml
  vizro-ai/snyk/requirements.txt
Labels: Status: Ready for Review :ballot_box_with_check:, Issue: Bug Report :bug:

#151 Fix assets to work when hosted at subdirectory
  .github/requirements.txt
  vizro-core/changelog.d/20231108_230816_antony.milne_fix_assets_pathname.md
  vizro-core/docs/pages/API_reference/vizro.md
  vizro-core/docs/pages/user_guides/actions.md
  vizro-core/docs/pages/user_guides/assets.md
  vizro-core/docs/pages/user_guides/custom_charts.md
  vizro-core/docs/pages/user_guides/custom_components.md
  vizro-core/docs/pages/user_guides/dashboard.md
  vizro-core/docs/pages/user_guides/run.md
  vizro-core/examples/default/app.py
  vizro-core/examples/from_dict/app.py
  vizro-core/examples/from_json/app.py
  vizro-core/examples/from_yaml/app.py
  vizro-core/examples/jupyter/app.ipynb
  vizro-core/hatch.toml
  vizro-core/schemas/0.1.6.dev2.json
  vizro-core/src/vizro/__init__.py
  vizro-core/src/vizro/_vizro.py
  vizro-core/src/vizro/models/_components/card.py
  vizro-core/src/vizro/models/_dashboard.py
  vizro-core/tests/integration/test_examples.py
  vizro-core/tests/unit/vizro/models/test_dashboard.py
Labels: Status: Ready for Review :ballot_box_with_check:, Issue: Bug Report :bug:

#155 Release of vizro-core v0.1.6
  vizro-core/CHANGELOG.md
  vizro-core/changelog.d/20231026_112851_antony.milne_0_1_5.md
  vizro-core/changelog.d/20231026_114412_runner_11_44_05.md
  vizro-core/changelog.d/20231026_130425_antony.milne_scriv.md
  vizro-core/changelog.d/20231030_132538_maximilian_schulz_table_component_MS.md
  vizro-core/changelog.d/20231031_095110_antony.milne_schema_linting.md
  vizro-core/changelog.d/20231031_104359_anna_xiong_vizro_ai_open_source_initial_commits.md
  vizro-core/changelog.d/20231031_111125_huong_li_nguyen_fix_table_overflow.md
  vizro-core/changelog.d/20231031_222504_huong_li_nguyen_move_page_layout_creation.md
  vizro-core/changelog.d/20231101_120104_maximilian_schulz_check_CI.md
  vizro-core/changelog.d/20231101_213654_lingyi_zhang_snyk_fix_1fa4e2ea1b51a679b7318abdba0b4f36.md
  vizro-core/changelog.d/20231102_145448_petar_pejovic_table_filter_interaction.md
  vizro-core/changelog.d/20231106_165628_antony.milne_jupyter_and_deployment.md
  vizro-core/changelog.d/20231108_230816_antony.milne_fix_assets_pathname.md
  vizro-core/changelog.d/20231109_170931_joseph_perkins_0_1_6.md
  vizro-core/schemas/0.1.5.json
  vizro-core/schemas/0.1.6.dev2.json
  vizro-core/schemas/0.1.6.json
  vizro-core/src/vizro/__init__.py
Labels: RELEASE

#156 version bump vizro-core 0.1.7dev
  vizro-core/changelog.d/20231109_174751_joseph_perkins_vizro_core.md
  vizro-core/schemas/0.1.7.dev0.json
  vizro-core/src/vizro/__init__.py
Labels: RELEASE

#161 Fix/improve ai error message
  vizro-ai/changelog.d/20231110_223949_maximilian_schulz_improve_AI_error_message.md
  vizro-ai/src/vizro_ai/_vizro_ai.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Vizro-AI :robot:

#159 Update vizro-ai documentation
  vizro-ai/changelog.d/20231110_151408_chiara_pullem_update.md
  vizro-ai/docs/assets/tutorials/chart/ChineseExample.png
  vizro-ai/docs/assets/tutorials/chart/GDP_Composition_Bar.png
  vizro-ai/docs/assets/tutorials/chart/GermanExample.png
  vizro-ai/docs/assets/tutorials/chart/animated_bar_chart_1.png
  vizro-ai/docs/assets/tutorials/chart/animated_bar_chart_2.png
  vizro-ai/docs/assets/tutorials/chart/animated_bar_chart_3.png
  vizro-ai/docs/assets/user_guides/bar_chart_gdp_per_continent.png
  vizro-ai/docs/index.md
  vizro-ai/docs/pages/explanation/disclaimer.md
  vizro-ai/docs/pages/explanation/safety_in_vizro_ai.md
  vizro-ai/docs/pages/tutorials/explore_vizro_ai.md
  vizro-ai/docs/pages/tutorials/quickstart.md
  vizro-ai/docs/pages/user_guides/install.md
  vizro-ai/docs/pages/user_guides/model_config.md
  vizro-ai/docs/pages/user_guides/run_vizro_ai.md
  vizro-ai/mkdocs.yml
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Docs :spiral_notepad:, Component: Vizro-AI :robot:

#173 Fix vm.Slider and vm.RangeSlider to work with incorrect textual input
  vizro-core/changelog.d/20231114_095856_petar_pejovic_fix_sliders_incorrect_input.md
  vizro-core/src/vizro/static/js/models/range_slider.js
  vizro-core/src/vizro/static/js/models/slider.js
Labels: Status: Ready for Review :ballot_box_with_check:, Issue: Bug Report :bug:

#167 Improved left side panel CSS styling
  vizro-core/changelog.d/20231114_130850_nadija_ratkusic_graca_nav_panel_keyline_v2.md
  vizro-core/src/vizro/models/_navigation/_accordion.py
  vizro-core/src/vizro/models/_page.py
  vizro-core/src/vizro/static/css/layout.css
  vizro-core/tests/unit/vizro/models/_navigation/conftest.py
Labels: Status: Ready for Review :ballot_box_with_check:

#70 Enable `NavBar` as selector for `Navigation`
  vizro-ai/changelog.d/20231128_173055_antony.milne_models_navigation_navbar.md
  vizro-ai/hatch.toml
  vizro-core/changelog.d/20231128_173127_antony.milne_models_navigation_navbar.md
  vizro-core/docs/assets/user_guides/navigation/accordion_inside_nav_bar.png
  vizro-core/docs/assets/user_guides/navigation/custom_icons.png
  vizro-core/docs/assets/user_guides/navigation/custom_navigation.png
  vizro-core/docs/assets/user_guides/navigation/default_navigation.png
  vizro-core/docs/assets/user_guides/navigation/grouped_navigation.png
  vizro-core/docs/assets/user_guides/navigation/nav_bar.png
  vizro-core/docs/assets/user_guides/navigation/only_some_pages.png
  vizro-core/docs/pages/tutorials/explore_components.md
  vizro-core/docs/pages/user_guides/components.md
  vizro-core/docs/pages/user_guides/navigation.md
  vizro-core/hatch.toml
  vizro-core/mkdocs.yml
  vizro-core/pyproject.toml
  vizro-core/schemas/0.1.6.json
  vizro-core/schemas/0.1.7.dev0.json
  vizro-core/src/vizro/_vizro.py
  vizro-core/src/vizro/models/__init__.py
  vizro-core/src/vizro/models/_controls/filter.py
  vizro-core/src/vizro/models/_dashboard.py
  vizro-core/src/vizro/models/_navigation/_navigation_utils.py
  vizro-core/src/vizro/models/_navigation/accordion.py
  vizro-core/src/vizro/models/_navigation/nav_bar.py
  vizro-core/src/vizro/models/_navigation/nav_link.py
  vizro-core/src/vizro/models/_navigation/navigation.py
  vizro-core/src/vizro/models/_page.py
  vizro-core/src/vizro/models/types.py
  vizro-core/src/vizro/static/css/accordion.css
  vizro-core/src/vizro/static/css/layout.css
  vizro-core/tests/conftest.py
  vizro-core/tests/integration/test_navigation.py
  vizro-core/tests/tests_utils/__init__.py
  vizro-core/tests/tests_utils/asserts.py
  vizro-core/tests/unit/vizro/actions/_action_loop/test_get_action_loop_components.py
  vizro-core/tests/unit/vizro/actions/test_export_data_action.py
  vizro-core/tests/unit/vizro/actions/test_filter_interaction_action.py
  vizro-core/tests/unit/vizro/conftest.py
  vizro-core/tests/unit/vizro/models/_navigation/conftest.py
  vizro-core/tests/unit/vizro/models/_navigation/test_accordion.py
  vizro-core/tests/unit/vizro/models/_navigation/test_nav_bar.py
  vizro-core/tests/unit/vizro/models/_navigation/test_nav_item.py
  vizro-core/tests/unit/vizro/models/_navigation/test_navigation.py
  vizro-core/tests/unit/vizro/models/test_dashboard.py
  vizro-core/tests/unit/vizro/models/test_page.py
  vizro-core/tests/unit/vizro/models/test_types.py
Labels: Issue: Feature Request :nerd_face:
