Repository mckinsey/vizro, pull requests merged in 2023-09, with the labels that each got.

#1 Add guide to place/style images in Card
  .github/workflows/docs-vizro-core.yml
  .github/workflows/lint-vizro-core.yml
  .github/workflows/secret-scan.yml
  .github/workflows/test-integration-vizro-core.yml
  .github/workflows/test-unit-vizro-core.yml
  vizro-core/changelog.d/20230904_155944_huong_li_nguyen_add_card_styling_back.md
  vizro-core/docs/assets/user_guides/components/card_image_default.png
  vizro-core/docs/assets/user_guides/components/card_image_floating.png
  vizro-core/docs/assets/user_guides/components/card_image_styled.png
  vizro-core/docs/pages/user_guides/components.md
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Docs :spiral_notepad:

#3 Vizro css fixes
  vizro-core/changelog.d/20230904_174834_nadija_ratkusic_graca.md
  vizro-core/src/vizro/static/css/accordion.css
  vizro-core/src/vizro/static/css/dropdown.css
  vizro-core/src/vizro/static/css/layout.css
  vizro-core/src/vizro/static/css/scroll_bar.css
  vizro-core/src/vizro/static/css/token_names.css
  vizro-core/src/vizro/static/css/variables.css
Labels: Component: Bug :bug:

#5 Remove flaky part of the export data xslx unit test
  vizro-core/changelog.d/20230905_104912_petar_pejovic_export_data_xlsx_unit_test.md
  vizro-core/tests/unit/vizro/actions/test_export_data_action.py
Labels: Component: Bug :bug:

#12 Add template for go table
  vizro-core/changelog.d/20230906_093501_huong_li_nguyen_add_table_template.md
  vizro-core/src/vizro/_themes/_templates/template_dark.py
  vizro-core/src/vizro/_themes/_templates/template_light.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Bug :bug:

#15 Update author links and codeowners
  CODEOWNERS
  README.md
  vizro-core/README.md
  vizro-core/changelog.d/20230906_124139_huong_li_nguyen_update_links_owners.md
  vizro-core/src/vizro/static/css/scroll_bar.css
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Docs :spiral_notepad:, Component: Bug :bug:

#16 Add unit tests for `Checklist`
  vizro-core/changelog.d/20230906_161356_huong_li_nguyen_add_checklist_tests.md
  vizro-core/src/vizro/models/_components/button.py
  vizro-core/src/vizro/models/_components/form/_form_utils.py
  vizro-core/src/vizro/models/_components/form/_user_input.py
  vizro-core/src/vizro/models/_components/form/checklist.py
  vizro-core/src/vizro/models/_components/form/dropdown.py
  vizro-core/src/vizro/models/_components/form/radio_items.py
  vizro-core/src/vizro/models/_components/form/range_slider.py
  vizro-core/src/vizro/models/_components/form/slider.py
  vizro-core/src/vizro/models/_components/graph.py
  vizro-core/tests/unit/vizro/models/_components/form/test_checklist.py
  vizro-core/tests/unit/vizro/models/_components/form/test_dropdown.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Tests :test_tube:

#17 Add unit tests for `RadioItems`
  vizro-core/changelog.d/20230906_164240_huong_li_nguyen_add_radioitem_tests.md
  vizro-core/schemas/0.1.0dev0.json
  vizro-core/src/vizro/models/_components/form/radio_items.py
  vizro-core/tests/unit/vizro/models/_components/form/test_radioitems.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Tests :test_tube:

#18 Consolidate conftest.py approach
  vizro-core/changelog.d/20230907_134827_huong_li_nguyen_consolidate_conftest.md
  vizro-core/tests/integration/conftest.py
  vizro-core/tests/integration/test_examples.py
  vizro-core/tests/unit/vizro/charts/test_charts_utils.py
  vizro-core/tests/unit/vizro/conftest.py
  vizro-core/tests/unit/vizro/integrations/kedro/conftest.py
  vizro-core/tests/unit/vizro/integrations/kedro/test_kedro_data_manager.py
  vizro-core/tests/unit/vizro/models/_components/test_graph.py
  vizro-core/tests/unit/vizro/themes/conftest.py
  vizro-core/tests/unit/vizro/themes/test_theme.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Tests :test_tube:

#19 Release/test release
  vizro-core/changelog.d/20230907_140110_maximilian_schulz_test_release.md
  vizro-core/hatch.toml
Labels: Status: Ready for Review :ballot_box_with_check:, Component: DevOps/Setup :classical_building:

#9 Add user guide for navigation model
  vizro-core/changelog.d/20230905_144401_nadija_ratkusic_graca.md
  vizro-core/docs/assets/user_guides/navigation/custom_navigation.png
  vizro-core/docs/assets/user_guides/navigation/default_navigation.png
  vizro-core/docs/pages/user_guides/dashboard.md
  vizro-core/docs/pages/user_guides/navigation.md
  vizro-core/mkdocs.yml
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Docs :spiral_notepad:

#20 Consolidate tests for action_validator_factory
  vizro-core/changelog.d/20230908_110632_huong_li_nguyen_add_test_action_validator_factory.md
  vizro-core/tests/unit/vizro/models/_components/conftest.py
  vizro-core/tests/unit/vizro/models/_components/form/test_checklist.py
  vizro-core/tests/unit/vizro/models/_components/form/test_dropdown.py
  vizro-core/tests/unit/vizro/models/_components/form/test_radioitems.py
  vizro-core/tests/unit/vizro/models/_components/test_button.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Tests :test_tube:

#21 Bug/fix part of pages assigned to dashboard
  vizro-core/changelog.d/20230908_105640_petar_pejovic_fix_part_of_pages_assigned_to_dashboard.md
  vizro-core/examples/default/app.py
  vizro-core/src/vizro/actions/_action_loop/_action_loop.py
  vizro-core/src/vizro/actions/_action_loop/_action_loop_utils.py
  vizro-core/src/vizro/actions/_action_loop/_build_action_loop_callbacks.py
  vizro-core/src/vizro/actions/_action_loop/_get_action_loop_components.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Bug :bug:

#22 Add unit tests for ActionChain
  vizro-core/changelog.d/20230908_134705_huong_li_nguyen_actions_chain.md
  vizro-core/schemas/0.1.0dev0.json
  vizro-core/src/vizro/models/_action/_actions_chain.py
  vizro-core/tests/unit/vizro/models/_action/test_actions_chain.py
  vizro-core/tests/unit/vizro/models/_components/form/test_checklist.py
  vizro-core/tests/unit/vizro/models/_components/form/test_dropdown.py
  vizro-core/tests/unit/vizro/models/_components/form/test_radioitems.py
  vizro-core/tests/unit/vizro/models/_components/test_button.py
  vizro-core/tests/unit/vizro/models/conftest.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Tests :test_tube:

#10 Add tests for graph, parameter, filter, and types
  vizro-core/changelog.d/20230905_101526_lingyi_zhang_graph_and_others.md
  vizro-core/src/vizro/models/_controls/parameter.py
  vizro-core/tests/unit/vizro/models/_components/test_graph.py
  vizro-core/tests/unit/vizro/models/_controls/test_filter.py
  vizro-core/tests/unit/vizro/models/_controls/test_parameter.py
  vizro-core/tests/unit/vizro/models/test_types.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Tests :test_tube:

#29 Provide ID to outer component for CSS customization
  .github/pull_request_template.md
  vizro-core/changelog.d/20230911_180805_huong_li_nguyen_enable_targeting_ids.md
  vizro-core/docs/assets/user_guides/assets/css_change.png
  vizro-core/docs/assets/user_guides/assets/css_change_card.png
  vizro-core/docs/pages/user_guides/assets.md
  vizro-core/src/vizro/models/_components/_form.py
  vizro-core/src/vizro/models/_components/button.py
  vizro-core/src/vizro/models/_components/card.py
  vizro-core/src/vizro/models/_components/form/_user_input.py
  vizro-core/src/vizro/models/_components/form/checklist.py
  vizro-core/src/vizro/models/_components/form/dropdown.py
  vizro-core/src/vizro/models/_components/form/radio_items.py
  vizro-core/src/vizro/models/_components/form/range_slider.py
  vizro-core/src/vizro/models/_components/form/slider.py
  vizro-core/src/vizro/models/_navigation/_accordion.py
  vizro-core/src/vizro/models/_page.py
  vizro-core/tests/unit/vizro/models/_components/form/test_checklist.py
  vizro-core/tests/unit/vizro/models/_components/form/test_dropdown.py
  vizro-core/tests/unit/vizro/models/_components/form/test_radioitems.py
  vizro-core/tests/unit/vizro/models/_components/form/test_slider.py
  vizro-core/tests/unit/vizro/models/_components/test_button.py
  vizro-core/tests/unit/vizro/models/_components/test_card.py
  vizro-core/tests/unit/vizro/models/_navigation/conftest.py
  vizro-core/tests/unit/vizro/models/_navigation/test_accordion.py
  vizro-core/tests/unit/vizro/models/_navigation/test_navigation.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Docs :spiral_notepad:, Component: Tests :test_tube:

#31 Enable dashboard.title and add div with package version
  vizro-core/changelog.d/20230912_165919_huong_li_nguyen_enable_dashboard_title.md
  vizro-core/docs/pages/user_guides/dashboard.md
  vizro-core/schemas/0.1.1.dev0.json
  vizro-core/src/vizro/models/_components/form/_alert.py
  vizro-core/src/vizro/models/_dashboard.py
  vizro-core/src/vizro/models/_page.py
  vizro-core/src/vizro/static/css/accordion.css
  vizro-core/src/vizro/static/css/layout.css
  vizro-core/tests/unit/vizro/models/test_dashboard.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Feature :nerd_face:

#32 Disable creation of accordion navigation for single page
  vizro-core/changelog.d/20230912_175810_huong_li_nguyen_improve_accordion.md
  vizro-core/src/vizro/models/_navigation/_accordion.py
  vizro-core/tests/unit/vizro/models/_navigation/test_accordion.py
  vizro-core/tests/unit/vizro/models/_navigation/test_navigation.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Feature :nerd_face:, Component: Tests :test_tube:

#35 Create responsive card grid for docs homepage
  vizro-core/changelog.d/20230913_145218_huong_li_nguyen_update_index.md
  vizro-core/docs/index.md
  vizro-core/docs/stylesheets/extra.css
  vizro-core/mkdocs.yml
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Docs :spiral_notepad:

#41 Update charts in documentation
  vizro-core/changelog.d/20230915_105716_chiara_pullem_update_examples.md
  vizro-core/docs/pages/tutorials/explore_components.md
  vizro-core/docs/pages/tutorials/first_dashboard.md
  vizro-core/docs/pages/user_guides/actions.md
  vizro-core/docs/pages/user_guides/control.md
  vizro-core/docs/pages/user_guides/dashboard.md
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Docs :spiral_notepad:

#27 Automation of releases
  .github/workflows/check-release.yml
  tools/check_package_release.py
  tools/extract_release_notes.py
  tools/release.sh
  tools/tools_requirements.txt
  tools/version-bump.sh
  vizro-core/changelog.d/20230915_010825_maximilian_schulz_prepare_automation.md
  vizro-core/hatch.toml
Labels: Status: Ready for Review :ballot_box_with_check:, Component: DevOps/Setup :classical_building:

#42 Adjusting User guide structure
  vizro-core/changelog.d/20230918_133403_maximilian_schulz_navigation.md
  vizro-core/docs/pages/tutorials/explore_components.md
  vizro-core/docs/pages/user_guides/control.md
  vizro-core/docs/pages/user_guides/filters.md
  vizro-core/docs/pages/user_guides/pages.md
  vizro-core/docs/pages/user_guides/parameters.md
  vizro-core/docs/pages/user_guides/selectors.md
  vizro-core/hatch.toml
  vizro-core/mkdocs.yml
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Docs :spiral_notepad:

#46 Removing fetching action function name from action_functions dictionary.
  vizro-core/changelog.d/20230921_075648_petar_pejovic_enable_custom_actions_unofficially.md
  vizro-core/src/vizro/actions/_action_loop/_build_action_loop_callbacks.py
  vizro-core/src/vizro/models/_action/_action.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Bug :bug:

#45 Add visually appealing README
  .github/images/Vizro_Github_Banner_Dark_Mode.png
  .github/images/Vizro_Github_Banner_Light_Mode.png
  .github/images/code_dashboard.png
  .github/images/dashboard_examples.png
  .github/images/example_screens.png
  .github/images/live_interactive_demo.png
  .github/images/tech_logos.png
  .github/images/value_prop_icons.png
  LICENSE.md
  README.md
  vizro-core/README.md
  vizro-core/changelog.d/20230920_215824_maximilian_schulz_proper_README.md
  vizro-core/docs/pages/user_guides/filters.md
  vizro-core/mkdocs.yml
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Docs :spiral_notepad:

#50 Release of 0.1.1
  vizro-core/CHANGELOG.md
  vizro-core/changelog.d/20230908_170536_maximilian_schulz_v0_1_0.md
  vizro-core/changelog.d/20230908_174653_maximilian_schulz_version_bump.md
  vizro-core/changelog.d/20230911_180805_huong_li_nguyen_enable_targeting_ids.md
  vizro-core/changelog.d/20230912_142150_nadija_ratkusic_graca_vizro_core_tests_range_slider.md
  vizro-core/changelog.d/20230912_165919_huong_li_nguyen_enable_dashboard_title.md
  vizro-core/changelog.d/20230912_175810_huong_li_nguyen_improve_accordion.md
  vizro-core/changelog.d/20230913_134437_alexey_snigir_check_spelling_hook.md
  vizro-core/changelog.d/20230913_145218_huong_li_nguyen_update_index.md
  vizro-core/changelog.d/20230915_010825_maximilian_schulz_prepare_automation.md
  vizro-core/changelog.d/20230915_105716_chiara_pullem_update_examples.md
  vizro-core/changelog.d/20230918_133403_maximilian_schulz_navigation.md
  vizro-core/changelog.d/20230920_215824_maximilian_schulz_proper_README.md
  vizro-core/changelog.d/20230921_075648_petar_pejovic_enable_custom_actions_unofficially.md
  vizro-core/changelog.d/20230921_183729_maximilian_schulz_v0_1_1.md
  vizro-core/schemas/0.1.0.json
  vizro-core/schemas/0.1.1.json
  vizro-core/src/vizro/__init__.py
Labels: Status: Ready for Review :ballot_box_with_check:, RELEASE

#52 Add security policy and config for dependabot
  .github/dependabot.yml
  SECURITY.md
  vizro-core/changelog.d/20230921_201427_huong_li_nguyen_enable_dependabot.md
Labels: Status: Ready for Review :ballot_box_with_check:, Component: DevOps/Setup :classical_building:

#49 Adjust README slightly
  .github/images/Vizro_Github_Banner_Dark_Mode.png
  .github/images/Vizro_Github_Banner_Light_Mode.png
  README.md
  vizro-core/README.md
  vizro-core/changelog.d/20230921_183020_maximilian_schulz_readme_fix.md
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Docs :spiral_notepad:

#53 Update security policy in README and mail address
  README.md
  SECURITY.md
  vizro-core/README.md
  vizro-core/changelog.d/20230922_092912_huong_li_nguyen_update_mail.md
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Docs :spiral_notepad:

#55 Fix release linting
  .github/workflows/check-release.yml
  vizro-core/changelog.d/20230922_161911_maximilian_schulz_fix_linting_release.md
  vizro-core/docs/index.md
  vizro-core/hatch.toml
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Bug :bug:

#54 Update PR template and issue config
  .github/ISSUE_TEMPLATE/config.yml
  .github/pull_request_template.md
  SECURITY.md
  vizro-core/changelog.d/20230922_152625_huong_li_nguyen_replace_mail.md
Labels: Status: Ready for Review :ballot_box_with_check:, Component: DevOps/Setup :classical_building:

#44 Bug-fix on accordion arrow
  vizro-core/changelog.d/20230920_155943_nadija_ratkusic_graca_accordion_arrow_demo_fix.md
  vizro-core/src/vizro/models/_navigation/_accordion.py
  vizro-core/src/vizro/static/css/accordion.css
  vizro-core/src/vizro/static/css/layout.css
  vizro-core/src/vizro/static/css/token_names.css
  vizro-core/src/vizro/static/css/variables.css
  vizro-core/tests/unit/vizro/models/_navigation/conftest.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Bug :bug:

#48 Replace screenshots in docs
  vizro-core/changelog.d/20230921_133956_nadija_ratkusic_graca_replace_screenshots.md
  vizro-core/docs/assets/tutorials/dashboard/dashboard1.png
  vizro-core/docs/assets/tutorials/dashboard/dashboard2.png
  vizro-core/docs/assets/tutorials/dashboard/dashboard21.png
  vizro-core/docs/assets/tutorials/dashboard/dashboard22.png
  vizro-core/docs/assets/tutorials/dashboard/dashboard23.png
  vizro-core/docs/assets/tutorials/dashboard/dashboard24.png
  vizro-core/docs/assets/tutorials/dashboard/dashboard3.png
  vizro-core/docs/assets/tutorials/dashboard/dashboard4.png
  vizro-core/docs/assets/user_guides/actions/actions1.png
  vizro-core/docs/assets/user_guides/actions/actions2.png
  vizro-core/docs/assets/user_guides/actions/actions_chaining.png
  vizro-core/docs/assets/user_guides/actions/actions_export.png
  vizro-core/docs/assets/user_guides/actions/actions_filter_interaction.png
  vizro-core/docs/assets/user_guides/components/button.png
  vizro-core/docs/assets/user_guides/components/card.png
  vizro-core/docs/assets/user_guides/components/card_image_default.png
  vizro-core/docs/assets/user_guides/components/card_image_floating.png
  vizro-core/docs/assets/user_guides/components/card_image_styled.png
  vizro-core/docs/assets/user_guides/components/card_text.png
  vizro-core/docs/assets/user_guides/components/graph1.png
  vizro-core/docs/assets/user_guides/components/nav_card.png
  vizro-core/docs/assets/user_guides/components/nav_card_icon.png
  vizro-core/docs/assets/user_guides/control/control1.png
  vizro-core/docs/assets/user_guides/control/control2.png
  vizro-core/docs/assets/user_guides/control/control3.png
  vizro-core/docs/assets/user_guides/control/control4.png
  vizro-core/docs/assets/user_guides/control/control5.png
  vizro-core/docs/assets/user_guides/custom_charts/custom_chart_enhanced_scatter.png
  vizro-core/docs/assets/user_guides/custom_charts/custom_chart_waterfall.png
  vizro-core/docs/assets/user_guides/custom_components/customcomponent_1.png
  vizro-core/docs/assets/user_guides/custom_components/customcomponent_2.png
  vizro-core/docs/assets/user_guides/dashboard/dashboard.png
  vizro-core/docs/assets/user_guides/data/data_pandas_dataframe.png
  vizro-core/docs/assets/user_guides/data/data_selected_from_source.png
  vizro-core/docs/assets/user_guides/layout/grid_scroll.png
  vizro-core/docs/assets/user_guides/layout/layout_empty_spaces.png
  vizro-core/docs/assets/user_guides/navigation/default_navigation.png
  vizro-core/docs/assets/user_guides/pages/page_containers.png
  vizro-core/docs/assets/user_guides/pages/page_sunburst.png
  vizro-core/docs/assets/user_guides/themes/dark.png
  vizro-core/docs/assets/user_guides/themes/light.png
  vizro-core/docs/pages/user_guides/actions.md
  vizro-core/docs/pages/user_guides/components.md
  vizro-core/docs/pages/user_guides/custom_components.md
  vizro-core/docs/pages/user_guides/data.md
  vizro-core/docs/pages/user_guides/navigation.md
  vizro-core/docs/pages/user_guides/pages.md
  vizro-core/docs/pages/user_guides/themes.md
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Docs :spiral_notepad:

#57 Explain changelog in developer docs
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/general-question.yml
  README.md
  vizro-core/README.md
  vizro-core/changelog.d/20230925_102333_maximilian_schulz_1073.md
  vizro-core/docs/pages/development/contributing.md
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Docs :spiral_notepad:

#59 Improve duplicate ID error message to guide people using Jupyter notebooks
  vizro-core/changelog.d/20230925_180111_maximilian_schulz_quick_fix_warning.md
  vizro-core/src/vizro/managers/_data_manager.py
  vizro-core/src/vizro/managers/_model_manager.py
Labels: Status: Ready for Review :ballot_box_with_check:

#60 Release of 0.1.2
  vizro-core/CHANGELOG.md
  vizro-core/changelog.d/20230918_111226_petar_pejovic_optimise_app_rendering_time.md
  vizro-core/changelog.d/20230920_155943_nadija_ratkusic_graca_accordion_arrow_demo_fix.md
  vizro-core/changelog.d/20230921_133956_nadija_ratkusic_graca_replace_screenshots.md
  vizro-core/changelog.d/20230921_183729_maximilian_schulz_v0_1_1.md
  vizro-core/changelog.d/20230921_191316_maximilian_schulz_17_07_51.md
  vizro-core/changelog.d/20230921_201427_huong_li_nguyen_enable_dependabot.md
  vizro-core/changelog.d/20230922_092912_huong_li_nguyen_update_mail.md
  vizro-core/changelog.d/20230922_152625_huong_li_nguyen_replace_mail.md
  vizro-core/changelog.d/20230922_161911_maximilian_schulz_fix_linting_release.md
  vizro-core/changelog.d/20230925_102333_maximilian_schulz_1073.md
  vizro-core/changelog.d/20230925_124909_lingyi_zhang_v0_1_2.md
  vizro-core/changelog.d/20230925_180111_maximilian_schulz_quick_fix_warning.md
  vizro-core/schemas/0.1.2.dev0.json
  vizro-core/schemas/0.1.2.json
  vizro-core/src/vizro/__init__.py
Labels: Status: Ready for Review :ballot_box_with_check:, RELEASE

#62 Small improvement to CI process of release
  .github/workflows/check-release.yml
  vizro-core/changelog.d/20230926_090231_maximilian_schulz_small_improvement.md
Labels: Status: Ready for Review :ballot_box_with_check:, Component: DevOps/Setup :classical_building:

#64 Fix ValueError in Filter and add unit test for it
  .github/workflows/lint-vizro-core.yml
  .github/workflows/test-integration-vizro-core.yml
  .github/workflows/test-unit-vizro-core.yml
  tools/check_for_datafiles.py
  tools/find_forbidden_words_in_repo.sh
  vizro-core/changelog.d/20230926_103636_huong_li_nguyen_add_tests_filter.md
  vizro-core/src/vizro/models/_controls/filter.py
  vizro-core/src/vizro/models/types.py
  vizro-core/tests/unit/vizro/models/_controls/conftest.py
  vizro-core/tests/unit/vizro/models/_controls/test_filter.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Tests :test_tube:

#63 Introduce coverage settings and failure threshold
  pyproject.toml
  vizro-core/changelog.d/20230926_113052_maximilian_schulz_introduce_coverage.md
  vizro-core/pyproject.toml
Labels: Status: Ready for Review :ballot_box_with_check:, Component: DevOps/Setup :classical_building:

#68 Remove `left_side` container by default if no content present
  vizro-core/changelog.d/20230926_173346_huong_li_nguyen_remove_left_side.md
  vizro-core/docs/pages/development/authors.md
  vizro-core/src/vizro/models/_page.py
  vizro-core/tests/unit/vizro/models/test_page.py
Labels: Status: Ready for Review :ballot_box_with_check:, Issue: Feature Request :nerd_face:

#73 Docs/introduce why vizro
  README.md
  vizro-core/README.md
  vizro-core/changelog.d/20230928_122208_maximilian_schulz_introduce_why_vizro.md
  vizro-core/docs/index.md
  vizro-core/docs/pages/development/authors.md
  vizro-core/docs/pages/explanation/why_vizro.md
  vizro-core/mkdocs.yml
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Docs :spiral_notepad:

#78 Release of v0.1.3
  vizro-core/CHANGELOG.md
  vizro-core/changelog.d/20230925_154857_lingyi_zhang_19_37_17.md
  vizro-core/changelog.d/20230926_090231_maximilian_schulz_small_improvement.md
  vizro-core/changelog.d/20230926_103636_huong_li_nguyen_add_tests_filter.md
  vizro-core/changelog.d/20230926_113052_maximilian_schulz_introduce_coverage.md
  vizro-core/changelog.d/20230926_135042_alexey_snigir_circleci_pipeline_change.md
  vizro-core/changelog.d/20230926_173346_huong_li_nguyen_remove_left_side.md
  vizro-core/changelog.d/20230927_125829_alexey_snigir_release_tests.md
  vizro-core/changelog.d/20230928_122208_maximilian_schulz_introduce_why_vizro.md
  vizro-core/changelog.d/20230928_151157_maximilian_schulz_link_to_stable.md
  vizro-core/changelog.d/20230929_101825_huong_li_nguyen_v0_1_3.md
  vizro-core/schemas/0.1.3.dev0.json
  vizro-core/schemas/0.1.3.json
  vizro-core/src/vizro/__init__.py
Labels: Status: Ready for Review :ballot_box_with_check:, RELEASE

#79 Version bump after vizro-core-0.1.3
  vizro-core/changelog.d/20230929_110424_huong_li_nguyen_bump_version_after_013.md
  vizro-core/schemas/0.1.4.dev0.json
  vizro-core/src/vizro/__init__.py
Labels: Status: Ready for Review :ballot_box_with_check:, RELEASE
