Repository mckinsey/vizro, pull requests merged in 2024-08, with the labels that each got.

#522 [POC] Dashboard generator
  vizro-ai/changelog.d/20240613_020634_lingyi_zhang_dashboard_generator.md
  vizro-ai/examples/example_dashboard.ipynb
  vizro-ai/examples/example_dashboard.py
  vizro-ai/hatch.toml
  vizro-ai/pyproject.toml
  vizro-ai/snyk/requirements.txt
  vizro-ai/src/vizro_ai/_llm_models.py
  vizro-ai/src/vizro_ai/_vizro_ai.py
  vizro-ai/src/vizro_ai/dashboard/_graph/dashboard_creation.py
  vizro-ai/src/vizro_ai/dashboard/_pydantic_output.py
  vizro-ai/src/vizro_ai/dashboard/_response_models/components.py
  vizro-ai/src/vizro_ai/dashboard/_response_models/controls.py
  vizro-ai/src/vizro_ai/dashboard/_response_models/dashboard.py
  vizro-ai/src/vizro_ai/dashboard/_response_models/df_info.py
  vizro-ai/src/vizro_ai/dashboard/_response_models/layout.py
  vizro-ai/src/vizro_ai/dashboard/_response_models/page.py
  vizro-ai/src/vizro_ai/dashboard/_response_models/types.py
  vizro-ai/src/vizro_ai/dashboard/utils.py
  vizro-ai/src/vizro_ai/py.typed
Labels: Vizro-AI :robot:

#596 [Docs] Revise Vizro-AI docs for dashboard generation pages
  vizro-ai/changelog.d/20240731_160839_jo_stichbury_revise_vizroai_docset.md
  vizro-ai/docs/assets/tutorials/dashboard/dashboard0_page1.png
  vizro-ai/docs/assets/user_guides/dashboard/dashboard1_page1.png
  vizro-ai/docs/assets/user_guides/dashboard/dashboard1_page2.png
  vizro-ai/docs/index.md
  vizro-ai/docs/pages/tutorials/quickstart-dashboard.md
  vizro-ai/docs/pages/tutorials/quickstart.md
  vizro-ai/docs/pages/user-guides/add-generated-chart-usecase.md
  vizro-ai/docs/pages/user-guides/create-advanced-charts.md
  vizro-ai/docs/pages/user-guides/create-complex-dashboard.md
  vizro-ai/docs/pages/user-guides/customize-vizro-ai.md
  vizro-ai/docs/pages/user-guides/install.md
  vizro-ai/docs/pages/user-guides/run-vizro-ai.md
  vizro-ai/docs/pages/user-guides/use-different-languages.md
  vizro-ai/mkdocs.yml
Labels: Docs :spiral_notepad:, Vizro-AI :robot:

#623 [Docs] Change link to vizro-ai docs to generic from latest where possible
  README.md
  vizro-ai/README.md
  vizro-ai/changelog.d/20240808_141634_maximilian_schulz_links_changes.md
  vizro-core/changelog.d/20240808_101825_maximilian_schulz.md
  vizro-core/docs/index.md
  vizro-core/docs/pages/tutorials/explore-components.md
  vizro-core/mkdocs.yml
Labels: Vizro-AI :robot:

#627 [Feat] Add 4o-mini to model list
  vizro-ai/changelog.d/20240809_143321_lingyi_zhang_4o_mini.md
  vizro-ai/docs/pages/user-guides/customize-vizro-ai.md
  vizro-ai/src/vizro_ai/_llm_models.py
  vizro-ai/src/vizro_ai/dashboard/_graph/dashboard_creation.py
  vizro-ai/src/vizro_ai/dashboard/_response_models/layout.py
Labels: Vizro-AI :robot:

#569 [Docs] Add py.cafe to the docs examples
  .vale/styles/Microsoft/Headings.yml
  vizro-core/changelog.d/20240705_173826_maximilian_schulz_pycafe_embedding.md
  vizro-core/docs/assets/tutorials/collections.svg
  vizro-core/docs/assets/tutorials/features.svg
  vizro-core/docs/assets/user_guides/components/africa.svg
  vizro-core/docs/assets/user_guides/components/card_image_floating.png
  vizro-core/docs/assets/user_guides/components/hypotheses.svg
  vizro-core/docs/assets/user_guides/custom_components/slide_1.jpg
  vizro-core/docs/assets/user_guides/custom_components/slide_2.jpg
  vizro-core/docs/assets/user_guides/pages/page_sunburst.png
  vizro-core/docs/index.md
  vizro-core/docs/pages/tutorials/explore-components.md
  vizro-core/docs/pages/tutorials/first-dashboard.md
  vizro-core/docs/pages/user-guides/actions.md
  vizro-core/docs/pages/user-guides/assets.md
  vizro-core/docs/pages/user-guides/card-button.md
  vizro-core/docs/pages/user-guides/container.md
  vizro-core/docs/pages/user-guides/custom-actions.md
  vizro-core/docs/pages/user-guides/custom-charts.md
  vizro-core/docs/pages/user-guides/custom-components.md
  vizro-core/docs/pages/user-guides/custom-figures.md
  vizro-core/docs/pages/user-guides/custom-tables.md
  vizro-core/docs/pages/user-guides/dashboard.md
  vizro-core/docs/pages/user-guides/figure.md
  vizro-core/docs/pages/user-guides/filters.md
  vizro-core/docs/pages/user-guides/graph.md
  vizro-core/docs/pages/user-guides/install.md
  vizro-core/docs/pages/user-guides/layouts.md
  vizro-core/docs/pages/user-guides/navigation.md
  vizro-core/docs/pages/user-guides/pages.md
  vizro-core/docs/pages/user-guides/parameters.md
  vizro-core/docs/pages/user-guides/run.md
  vizro-core/docs/pages/user-guides/selectors.md
  vizro-core/docs/pages/user-guides/table.md
  vizro-core/docs/pages/user-guides/tabs.md
  vizro-core/docs/pages/user-guides/themes.md
  vizro-core/hatch.toml
  vizro-core/mkdocs.yml
Labels: Docs :spiral_notepad:

#629 [Docs] READY: First set of changes for demo->gallery transition
  .github/images/gapminder_example.png
  README.md
  vizro-core/README.md
  vizro-core/changelog.d/20240815_102433_jo_stichbury_revise_demo_mentions.md
  vizro-core/docs/pages/examples/examples.md
  vizro-core/docs/pages/user-guides/dashboard.md
  vizro-core/examples/_chart-gallery/README.md
  vizro-core/examples/kpi/README.md
Labels: Docs :spiral_notepad:

#618 [Docs] colab notebook for chart
  vizro-ai/README.md
  vizro-ai/changelog.d/20240807_005926_lingyi_zhang_add_colab_link.md
  vizro-ai/examples/chart_by_vizro_ai.ipynb
Labels: Vizro-AI :robot:

#607 [QA] Vizro-ai base dashboard tests
  vizro-ai/changelog.d/20240805_140630_alexey_snigir_vizro_ai_dashboard_tests.md
  vizro-ai/hatch.toml
  vizro-ai/pyproject.toml
  vizro-ai/snyk/requirements.txt
  vizro-ai/tests/integration/conftest.py
  vizro-ai/tests/integration/test_dashboard.py
Labels: Vizro-AI :robot:

#641 [Feat] Enable dashboard code generation
  vizro-ai/changelog.d/20240820_231704_lingyi_zhang_enable_code_generation.md
  vizro-ai/examples/example_dashboard.ipynb
  vizro-ai/pyproject.toml
  vizro-ai/snyk/requirements.txt
  vizro-ai/src/vizro_ai/_vizro_ai.py
  vizro-ai/src/vizro_ai/dashboard/_graph/dashboard_creation.py
  vizro-ai/src/vizro_ai/dashboard/_response_models/components.py
  vizro-ai/src/vizro_ai/dashboard/_response_models/page.py
  vizro-ai/src/vizro_ai/dashboard/utils.py
  vizro-ai/src/vizro_ai/plot/components/custom_chart_wrap.py
  vizro-ai/src/vizro_ai/plot/components/dataframe_craft.py
  vizro-ai/src/vizro_ai/plot/task_pipeline/_pipeline_manager.py
  vizro-ai/tests/integration/test_example.py
  vizro-ai/tests/unit/vizro-ai/dashboard/_graph/conftest.py
  vizro-ai/tests/unit/vizro-ai/dashboard/_graph/test_dashboard_creation.py
  vizro-ai/tests/unit/vizro-ai/dashboard/_response_models/conftest.py
  vizro-ai/tests/unit/vizro-ai/dashboard/_response_models/test_components.py
  vizro-ai/tests/unit/vizro-ai/plot/components/test_custom_chart_wrap.py
Labels: Vizro-AI :robot:

#635 [Tidy] Remove snyk, gitleaks and package-lock.json
  .github/workflows/checks-vizro-ai.yml
  .github/workflows/checks-vizro-core.yml
  .vale/styles/Microsoft/ignore.txt
  tools/generate_snyk_requirements.py
  vizro-ai/changelog.d/20240819_173852_antony.milne_remove_snyk_etc.md
  vizro-ai/hatch.toml
  vizro-ai/pyproject.toml
  vizro-core/changelog.d/20240819_173836_antony.milne_remove_snyk_etc.md
  vizro-core/docs/pages/explanation/contributing.md
  vizro-core/hatch.toml
  vizro-core/package-lock.json
  vizro-core/pyproject.toml
Labels: Vizro-AI :robot:

#651 [Tidy] Prepare for Vizro-AI release
  vizro-ai/changelog.d/20240827_081436_lingyi_zhang_prepare_for_release.md
  vizro-ai/docs/pages/tutorials/quickstart-dashboard.md
  vizro-ai/docs/pages/user-guides/create-complex-dashboard.md
  vizro-ai/examples/example_dashboard.ipynb
  vizro-ai/examples/example_dashboard.py
  vizro-ai/src/vizro_ai/_vizro_ai.py
  vizro-ai/src/vizro_ai/dashboard/utils.py
  vizro-ai/tests/integration/test_dashboard.py
Labels: Vizro-AI :robot:

#653 [Docs] Add the docs for code string generation
  vizro-ai/changelog.d/20240827_083834_lingyi_zhang_dashboard_code_generation.md
  vizro-ai/docs/assets/user_guides/dashboard/dashboard2_page1.png
  vizro-ai/docs/index.md
  vizro-ai/docs/pages/user-guides/retrieve-dashboard-code.md
  vizro-ai/mkdocs.yml
Labels: Vizro-AI :robot:

#663 [Release] Release of vizro-ai 0.2.1
  vizro-ai/CHANGELOG.md
  vizro-ai/changelog.d/20240509_181708_runner.md
  vizro-ai/changelog.d/20240509_190629_nadija_ratkusic_graca_0_2_0.md
  vizro-ai/changelog.d/20240510_140409_anna_xiong_fix_vizro_ai_chart_example.md
  vizro-ai/changelog.d/20240513_162508_antony.milne_add_link_checker.md
  vizro-ai/changelog.d/20240514_232019_antony.milne_random_bits.md
  vizro-ai/changelog.d/20240520_095517_jo_stichbury_483.md
  vizro-ai/changelog.d/20240522_095814_anna_xiong_vizro_ai_faq_links.md
  vizro-ai/changelog.d/20240603_173503_anna_xiong_get_vizro_ai_customized_output.md
  vizro-ai/changelog.d/20240606_155107_anna_xiong_update_vizro_ai_integration_test.md
  vizro-ai/changelog.d/20240613_020634_lingyi_zhang_dashboard_generator.md
  vizro-ai/changelog.d/20240618_115924_antony.milne_strict_checks.md
  vizro-ai/changelog.d/20240619_092410_nadija_ratkusic_graca_duplicate_fig_diplayed.md
  vizro-ai/changelog.d/20240619_104610_nadija_ratkusic_graca_vizro_ai_docs_updates.md
  vizro-ai/changelog.d/20240619_105033_antony.milne_fix_docs.md
  vizro-ai/changelog.d/20240621_124149_huong_li_nguyen_fix_vale.md
  vizro-ai/changelog.d/20240621_204959_lingyi_zhang_remove_langchain_community.md
  vizro-ai/changelog.d/20240626_224646_anna_xiong_azure_openai.md
  vizro-ai/changelog.d/20240627_003947_lingyi_zhang_use_basechatmodel.md
  vizro-ai/changelog.d/20240702_183601_anna_xiong_vizro_ai_restructure.md
  vizro-ai/changelog.d/20240703_171515_jo_stichbury_admonition_review.md
  vizro-ai/changelog.d/20240705_153310_lingyi_zhang_vizroai_models.md
  vizro-ai/changelog.d/20240725_132140_nadija_ratkusic_graca_vizroai_update_docs.md
  vizro-ai/changelog.d/20240727_031259_lingyi_zhang_vizroai_code.md
  vizro-ai/changelog.d/20240727_033910_lingyi_zhang_chart_dataframe_mutation.md
  vizro-ai/changelog.d/20240730_121955_lingyi_zhang_fix_false_positive.md
  vizro-ai/changelog.d/20240731_160839_jo_stichbury_revise_vizroai_docset.md
  vizro-ai/changelog.d/20240802_144558_nadija_ratkusic_graca_add_unit_tests.md
  vizro-ai/changelog.d/20240805_140630_alexey_snigir_vizro_ai_dashboard_tests.md
  vizro-ai/changelog.d/20240806_123844_jo_stichbury_revise_vizroai_docset.md
  vizro-ai/changelog.d/20240807_005926_lingyi_zhang_add_colab_link.md
  vizro-ai/changelog.d/20240807_113745_huong_li_nguyen_pre_commit_ci_update_config.md
  vizro-ai/changelog.d/20240808_141634_maximilian_schulz_links_changes.md
  vizro-ai/changelog.d/20240809_143321_lingyi_zhang_4o_mini.md
  vizro-ai/changelog.d/20240819_173852_antony.milne_remove_snyk_etc.md
  vizro-ai/changelog.d/20240820_231704_lingyi_zhang_enable_code_generation.md
  vizro-ai/changelog.d/20240827_081436_lingyi_zhang_prepare_for_release.md
  vizro-ai/changelog.d/20240827_083834_lingyi_zhang_dashboard_code_generation.md
  vizro-ai/changelog.d/20240828_135224_lingyi_zhang_0_2_1.md
  vizro-ai/examples/chart_by_vizro_ai.ipynb
  vizro-ai/src/vizro_ai/__init__.py
Labels: Vizro-AI :robot:

#628 [Docs] Add colab notebook for dashboard
  vizro-ai/README.md
  vizro-ai/changelog.d/20240812_225404_lingyi_zhang_colab_dashboard.md
  vizro-ai/examples/dashboard_by_vizro_ai.ipynb
Labels: Vizro-AI :robot:

#664 [Tidy] Point the Colab link to main
  vizro-ai/README.md
  vizro-ai/changelog.d/20240828_152920_lingyi_zhang_colab_link_to_main.md
  vizro-ai/examples/chart_by_vizro_ai.ipynb
  vizro-ai/examples/dashboard_by_vizro_ai.ipynb
Labels: Vizro-AI :robot:
