Repository mckinsey/vizro, pull requests merged in 2024-04, with the labels that each got.

#392 [Docs] Add example of custom actions use with custom components
  vizro-core/changelog.d/20240328_135330_nadija_ratkusic_graca_custom_action_w_custom_component_guide.md
  vizro-core/docs/assets/user_guides/custom_components/customcomponent_3.gif
  vizro-core/docs/assets/user_guides/custom_components/customcomponent_4.gif
  vizro-core/docs/pages/user-guides/custom-actions.md
  vizro-core/docs/pages/user-guides/custom-components.md
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Docs :spiral_notepad:

#402 [Docs] Update build docs settings to use `--strict`
  vizro-ai/.readthedocs.yaml
  vizro-ai/changelog.d/20240404_112532_jo_stichbury_update_build_docs_settings.md
  vizro-ai/hatch.toml
  vizro-ai/mkdocs.yml
  vizro-core/.readthedocs.yaml
  vizro-core/changelog.d/20240404_112524_jo_stichbury_update_build_docs_settings.md
  vizro-core/docs/pages/tutorials/explore-components.md
  vizro-core/docs/pages/tutorials/first-dashboard.md
  vizro-core/docs/pages/user-guides/selectors.md
  vizro-core/hatch.toml
  vizro-core/mkdocs.yml
  vizro-core/src/vizro/_vizro.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Docs :spiral_notepad:

#396 [Docs] Update core docs index page to flag up Vizro-AI
  vizro-ai/changelog.d/20240402_180718_jo_stichbury_update_core_to_highlight_ai.md
  vizro-ai/docs/assets/tutorials/chart/GDP_Composition_Bar.png
  vizro-ai/docs/assets/tutorials/chart/GDP_Composition_Graph.png
  vizro-ai/docs/index.md
  vizro-ai/docs/pages/get-started/quickstart.md
  vizro-ai/mkdocs.yml
  vizro-core/changelog.d/20240402_180814_jo_stichbury_update_core_to_highlight_ai.md
  vizro-core/docs/index.md
  vizro-core/docs/pages/tutorials/explore-components.md
  vizro-core/mkdocs.yml
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Docs :spiral_notepad:

#406 [CI] Fix mypy linting
  .pre-commit-config.yaml
  vizro-core/changelog.d/20240405_103212_antony.milne_fix_mypy.md
Labels: Status: Ready for Review :ballot_box_with_check:, Component: DevOps/Setup :classical_building:

#401 [Docs] Add example for inversing the card icon color
  vizro-core/changelog.d/20240403_151537_nadija_ratkusic_graca_add_card_icon_styling_example.md
  vizro-core/docs/assets/user_guides/components/responsive_icon.gif
  vizro-core/docs/pages/user-guides/card-button.md
  vizro-core/src/vizro/static/css/variables.css
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Docs :spiral_notepad:

#412 [Tidy] Replace `html.Label` with `dbc.Label`
  vizro-core/changelog.d/20240409_110318_huong_li_nguyen_replace_label.md
  vizro-core/src/vizro/models/_components/form/_text_area.py
  vizro-core/src/vizro/models/_components/form/_user_input.py
  vizro-core/src/vizro/models/_components/form/checklist.py
  vizro-core/src/vizro/models/_components/form/date_picker.py
  vizro-core/src/vizro/models/_components/form/dropdown.py
  vizro-core/src/vizro/models/_components/form/radio_items.py
  vizro-core/src/vizro/models/_components/form/range_slider.py
  vizro-core/src/vizro/models/_components/form/slider.py
  vizro-core/src/vizro/static/css/bootstrap_overwrites.css
  vizro-core/tests/unit/vizro/models/_components/form/test_checklist.py
  vizro-core/tests/unit/vizro/models/_components/form/test_date_picker.py
  vizro-core/tests/unit/vizro/models/_components/form/test_dropdown.py
  vizro-core/tests/unit/vizro/models/_components/form/test_radio_items.py
  vizro-core/tests/unit/vizro/models/_components/form/test_range_slider.py
  vizro-core/tests/unit/vizro/models/_components/form/test_slider.py
  vizro-core/tests/unit/vizro/models/_components/form/test_text_area.py
  vizro-core/tests/unit/vizro/models/_components/form/test_user_input.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Refactoring :superhero:

#413 [Docs] Replace broken gif in docs
  vizro-core/changelog.d/20240409_125129_nadija_ratkusic_graca_fix_style_icon_link.md
  vizro-core/docs/assets/user_guides/components/responsive_icon.gif
  vizro-core/docs/pages/user-guides/card-button.md
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Docs :spiral_notepad:

#399 [CI] Add Github environment support
  .github/workflows/release-if-needed.yml
  .github/workflows/test-integration-vizro-ai.yml
  vizro-core/changelog.d/20240403_124418_alexey_snigir_env_support.md
Labels: Status: Ready for Review :ballot_box_with_check:, Component: DevOps/Setup :classical_building:

#421 [Release] Release of vizro 0.1.15
  vizro-ai/changelog.d/20240415_091003_huong_li_nguyen_0_1_15.md
  vizro-ai/hatch.toml
  vizro-core/CHANGELOG.md
  vizro-core/changelog.d/20240325_180146_huong_li_nguyen_replace_css_bootstrap.md
  vizro-core/changelog.d/20240326_111333_huong_li_nguyen_add_css_floatingfilter.md
  vizro-core/changelog.d/20240327_104803_huong_li_nguyen_improve_semantics_nav.md
  vizro-core/changelog.d/20240328_135330_nadija_ratkusic_graca_custom_action_w_custom_component_guide.md
  vizro-core/changelog.d/20240328_163211_petar_pejovic_actions_assert_component_equal_tests.md
  vizro-core/changelog.d/20240402_165352_antony.milne_data_manager.md
  vizro-core/changelog.d/20240402_180814_jo_stichbury_update_core_to_highlight_ai.md
  vizro-core/changelog.d/20240403_123319_jo_stichbury_update_guides_subsections.md
  vizro-core/changelog.d/20240403_124418_alexey_snigir_env_support.md
  vizro-core/changelog.d/20240403_151537_nadija_ratkusic_graca_add_card_icon_styling_example.md
  vizro-core/changelog.d/20240404_112524_jo_stichbury_update_build_docs_settings.md
  vizro-core/changelog.d/20240405_103212_antony.milne_fix_mypy.md
  vizro-core/changelog.d/20240405_135655_huong_li_nguyen_change_theme_default.md
  vizro-core/changelog.d/20240409_110318_huong_li_nguyen_replace_label.md
  vizro-core/changelog.d/20240409_125129_nadija_ratkusic_graca_fix_style_icon_link.md
  vizro-core/changelog.d/20240412_082253_antony.milne_add_data_manager_warning.md
  vizro-core/changelog.d/20240415_090419_huong_li_nguyen_0_1_15.md
  vizro-core/hatch.toml
  vizro-core/schemas/0.1.15.dev0.json
  vizro-core/schemas/0.1.15.json
  vizro-core/src/vizro/__init__.py
Labels: Status: Ready for Review :ballot_box_with_check:, RELEASE

#420 [Docs] Update `README.md` for style guide & basic readability
  .pre-commit-config.yaml
  .vale/styles/Microsoft/Terms.yml
  README.md
  pyproject.toml
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Docs :spiral_notepad:

#422 [Docs] Fix merge errors / start vale checking in docs
  .vale/.vale.ini
  .vale/styles/Microsoft/Acronyms.yml
  .vale/styles/Microsoft/Headings.yml
  .vale/styles/Microsoft/Spellings.yml
  .vale/styles/Microsoft/Terms.yml
  .vale/styles/Microsoft/VizroCapitals.yml
  .vale/styles/Microsoft/ignore-names.txt
  .vale/styles/Microsoft/ignore.txt
  vizro-ai/changelog.d/20240415_145151_jo_stichbury_fix_merge_vale_added.md
  vizro-ai/docs/index.md
  vizro-ai/docs/pages/explanation/safeguard.md
  vizro-ai/docs/pages/explanation/safety-in-vizro-ai.md
  vizro-ai/docs/pages/get-started/quickstart.md
  vizro-ai/docs/pages/user-guides/add-generated-chart-usecase.md
  vizro-core/changelog.d/20240415_145143_jo_stichbury_fix_merge_vale_added.md
  vizro-core/docs/pages/API-reference/actions.md
  vizro-core/docs/pages/API-reference/captured-callables.md
  vizro-core/docs/pages/API-reference/models.md
  vizro-core/docs/pages/API-reference/vizro.md
  vizro-core/docs/pages/development/authors.md
  vizro-core/docs/pages/development/contributing.md
  vizro-core/docs/pages/development/documentation-style-guide.md
  vizro-core/docs/pages/explanation/compatibility.md
  vizro-core/docs/pages/explanation/why-vizro.md
  vizro-core/docs/pages/tutorials/explore-components.md
  vizro-core/docs/pages/tutorials/first-dashboard.md
  vizro-core/docs/pages/user-guides/actions.md
  vizro-core/docs/pages/user-guides/assets.md
  vizro-core/docs/pages/user-guides/card-button.md
  vizro-core/docs/pages/user-guides/container.md
  vizro-core/docs/pages/user-guides/custom-actions.md
  vizro-core/docs/pages/user-guides/custom-charts.md
  vizro-core/docs/pages/user-guides/custom-components.md
  vizro-core/docs/pages/user-guides/custom-tables.md
  vizro-core/docs/pages/user-guides/dashboard.md
  vizro-core/docs/pages/user-guides/data.md
  vizro-core/docs/pages/user-guides/filters.md
  vizro-core/docs/pages/user-guides/graph.md
  vizro-core/docs/pages/user-guides/install.md
  vizro-core/docs/pages/user-guides/kedro-data-catalog.md
  vizro-core/docs/pages/user-guides/layouts.md
  vizro-core/docs/pages/user-guides/navigation.md
  vizro-core/docs/pages/user-guides/pages.md
  vizro-core/docs/pages/user-guides/parameters.md
  vizro-core/docs/pages/user-guides/run.md
  vizro-core/docs/pages/user-guides/selectors.md
  vizro-core/docs/pages/user-guides/table.md
  vizro-core/docs/pages/user-guides/tabs.md
  vizro-core/src/vizro/managers/_data_manager.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Docs :spiral_notepad:

#425 [QA] Ignore `pytest.PytestUnhandledThreadExceptionWarning`
  vizro-core/changelog.d/20240416_134105_alexey_snigir_ignore_pytest_thread_warning.md
  vizro-core/tests/integration/test_examples.py
Labels: Type: Technical DR :floppy_disk:, Status: Ready for Review :ballot_box_with_check:, Component: Tests :test_tube:

#414 [Tidy] Replace `RadioItems` and `Checklist`
  vizro-core/changelog.d/20240410_192546_huong_li_nguyen_replace_radio_item.md
  vizro-core/src/vizro/models/_components/form/_text_area.py
  vizro-core/src/vizro/models/_components/form/_user_input.py
  vizro-core/src/vizro/models/_components/form/checklist.py
  vizro-core/src/vizro/models/_components/form/dropdown.py
  vizro-core/src/vizro/models/_components/form/radio_items.py
  vizro-core/src/vizro/models/_components/form/range_slider.py
  vizro-core/src/vizro/models/_components/form/slider.py
  vizro-core/src/vizro/static/css/bootstrap_overwrites.css
  vizro-core/src/vizro/static/css/checklist.css
  vizro-core/src/vizro/static/css/radio_item.css
  vizro-core/src/vizro/static/css/selectors.css
  vizro-core/src/vizro/static/css/slider.css
  vizro-core/src/vizro/static/css/vizro-bootstrap.min.css
  vizro-core/src/vizro/static/css/vizro-bootstrap.min.css.map
  vizro-core/tests/unit/vizro/models/_components/form/test_checklist.py
  vizro-core/tests/unit/vizro/models/_components/form/test_dropdown.py
  vizro-core/tests/unit/vizro/models/_components/form/test_radio_items.py
  vizro-core/tests/unit/vizro/models/_components/form/test_range_slider.py
  vizro-core/tests/unit/vizro/models/_components/form/test_slider.py
  vizro-core/tests/unit/vizro/models/_components/form/test_text_area.py
  vizro-core/tests/unit/vizro/models/_components/form/test_user_input.py
  vizro-core/tests/unit/vizro/models/_components/test_card.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Refactoring :superhero:

#427 [Bug] Fix `hatch run secrets` command
  .pre-commit-config.yaml
  vizro-core/changelog.d/20240417_151048_maximilian_schulz_try_secret_scanning.md
  vizro-core/hatch.toml
Labels: Status: Ready for Review :ballot_box_with_check:, Component: DevOps/Setup :classical_building:

#423 [Tidy] Refactor Vizro-AI class
  vizro-ai/changelog.d/20240415_223857_nadija_ratkusic_graca_refactor_vizroai_class.md
  vizro-ai/docs/pages/explanation/faq.md
  vizro-ai/docs/pages/user-guides/add-generated-chart-usecase.md
  vizro-ai/examples/example.ipynb
  vizro-ai/src/vizro_ai/_vizro_ai.py
  vizro-ai/src/vizro_ai/chains/__init__.py
  vizro-ai/src/vizro_ai/chains/_llm_models.py
  vizro-ai/src/vizro_ai/components/chart_selection.py
  vizro-ai/src/vizro_ai/components/code_validation.py
  vizro-ai/src/vizro_ai/components/custom_chart_wrap.py
  vizro-ai/src/vizro_ai/components/dataframe_craft.py
  vizro-ai/src/vizro_ai/components/explanation.py
  vizro-ai/src/vizro_ai/components/visual_code.py
  vizro-ai/tests/unit/vizro-ai/chains/test_llm_models.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Vizro-AI :robot:

#428 [Docs] Fix an oops merge issue that broke tutorial formatting
  vizro-ai/changelog.d/20240419_145915_jo_stichbury_fix_formatting_issue.md
  vizro-ai/docs/pages/get-started/quickstart.md
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Docs :spiral_notepad:, Issue: Bug Report :bug:

#426 [Docs] Reorg of menu/landing page and add FAQs + examples section
  .vale/styles/Microsoft/Spellings.yml
  .vale/styles/Microsoft/ignore.txt
  vizro-ai/changelog.d/20240418_131121_jo_stichbury_add_awesome_vizro.md
  vizro-ai/docs/index.md
  vizro-ai/docs/pages/contribute/authors.md
  vizro-ai/docs/pages/explanation/faq.md
  vizro-ai/docs/pages/tutorials/quickstart.md
  vizro-ai/docs/pages/user-guides/install.md
  vizro-ai/docs/pages/user-guides/run-vizro-ai.md
  vizro-ai/mkdocs.yml
  vizro-core/changelog.d/20240418_131053_jo_stichbury_add_awesome_vizro.md
  vizro-core/docs/index.md
  vizro-core/docs/pages/examples/examples.md
  vizro-core/docs/pages/examples/your-examples.md
  vizro-core/docs/pages/explanation/authors.md
  vizro-core/docs/pages/explanation/compatibility.md
  vizro-core/docs/pages/explanation/contributing.md
  vizro-core/docs/pages/explanation/documentation-style-guide.md
  vizro-core/docs/pages/explanation/faq.md
  vizro-core/docs/pages/tutorials/first-dashboard.md
  vizro-core/docs/pages/user-guides/dashboard.md
  vizro-core/mkdocs.yml
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Docs :spiral_notepad:

#432 [Docs] Fix typo in vizro-core docs
  vizro-core/changelog.d/20240422_095716_jo_stichbury_fix_typo.md
  vizro-core/docs/pages/tutorials/explore-components.md
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Docs :spiral_notepad:

#436 [Docs] Update Vizro-AI docs to explain how to export the environment to ensure API key visibility
  vizro-ai/changelog.d/20240424_120614_jo_stichbury_update_environment_text_vizroai.md
  vizro-ai/docs/pages/tutorials/quickstart.md
Labels: Component: Docs :spiral_notepad:

#415 [Tidy] Add Bootstrap CSS code for `TextArea` and `UserInput`
  vizro-core/changelog.d/20240430_091634_huong_li_nguyen_add_text_input_components.md
  vizro-core/examples/_dev/app.py
  vizro-core/examples/demo/assets/css/custom.css
  vizro-core/examples/features/assets/css/custom.css
  vizro-core/src/vizro/models/_components/form/_text_area.py
  vizro-core/src/vizro/models/_components/form/_user_input.py
  vizro-core/src/vizro/static/css/bootstrap_overwrites.css
  vizro-core/src/vizro/static/css/layout.css
  vizro-core/src/vizro/static/css/types.css
  vizro-core/src/vizro/static/css/user_input.css
  vizro-core/src/vizro/static/css/vizro-bootstrap.min.css
  vizro-core/src/vizro/static/css/vizro-bootstrap.min.css.map
  vizro-core/tests/unit/vizro/models/_components/form/test_text_area.py
  vizro-core/tests/unit/vizro/models/_components/form/test_user_input.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Refactoring :superhero:

#441 [Dev] Return fig object by VizroAI plot function
  vizro-ai/changelog.d/20240426_164549_nadija_ratkusic_graca_vizro_ai_return_fig_object.md
  vizro-ai/docs/pages/tutorials/quickstart.md
  vizro-ai/docs/pages/user-guides/run-vizro-ai.md
  vizro-ai/examples/example.py
  vizro-ai/src/vizro_ai/_vizro_ai.py
  vizro-ai/src/vizro_ai/utils/helper.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Vizro-AI :robot:

#447 [Release] Release of vizro 0.1.16
  vizro-core/CHANGELOG.md
  vizro-core/changelog.d/20240410_192546_huong_li_nguyen_replace_radio_item.md
  vizro-core/changelog.d/20240415_090419_huong_li_nguyen_0_1_15.md
  vizro-core/changelog.d/20240415_145143_jo_stichbury_fix_merge_vale_added.md
  vizro-core/changelog.d/20240416_134105_alexey_snigir_ignore_pytest_thread_warning.md
  vizro-core/changelog.d/20240417_151048_maximilian_schulz_try_secret_scanning.md
  vizro-core/changelog.d/20240418_131053_jo_stichbury_add_awesome_vizro.md
  vizro-core/changelog.d/20240422_095716_jo_stichbury_fix_typo.md
  vizro-core/changelog.d/20240422_141524_huong_li_nguyen_update_layout.md
  vizro-core/changelog.d/20240424_150316_alexey_snigir_fix_for_apt_get.md
  vizro-core/changelog.d/20240430_090752_lingyi_zhang_0_1_16.md
  vizro-core/changelog.d/20240430_091634_huong_li_nguyen_add_text_input_components.md
  vizro-core/schemas/0.1.15.json
  vizro-core/schemas/0.1.16.json
  vizro-core/src/vizro/__init__.py
Labels: Status: Ready for Review :ballot_box_with_check:, RELEASE

#448 [Test] Fix vizro_ai integration test
  vizro-ai/changelog.d/20240430_095908_anna_xiong.md
  vizro-ai/src/vizro_ai/_vizro_ai.py
  vizro-ai/tests/integration/test_example.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Tests :test_tube:
