Repository mckinsey/vizro, pull requests merged in 2024-06, with the labels that each got.

#507 [Docs] Update layout docs to add coloured images to clarify the grid
  vizro-core/docs/assets/user_guides/layout/1l_2r_grid.png
  vizro-core/docs/assets/user_guides/layout/1l_3r_grid.png
  vizro-core/docs/assets/user_guides/layout/1l_grid.png
  vizro-core/docs/assets/user_guides/layout/1t_2b_grid.png
  vizro-core/docs/assets/user_guides/layout/1t_3b_grid.png
  vizro-core/docs/assets/user_guides/layout/2l_grid.png
  vizro-core/docs/assets/user_guides/layout/2t_1b_grid.png
  vizro-core/docs/assets/user_guides/layout/2t_2b_grid.png
  vizro-core/docs/assets/user_guides/layout/2t_grid.png
  vizro-core/docs/assets/user_guides/layout/3l_1r_grid.png
  vizro-core/docs/assets/user_guides/layout/3l_grid.png
  vizro-core/docs/assets/user_guides/layout/3t_1b_grid.png
  vizro-core/docs/assets/user_guides/layout/one_left.png
  vizro-core/docs/assets/user_guides/layout/one_left_color.png
  vizro-core/docs/assets/user_guides/layout/one_left_three_right.png
  vizro-core/docs/assets/user_guides/layout/one_left_three_right_color.png
  vizro-core/docs/assets/user_guides/layout/one_left_two_right_color.png
  vizro-core/docs/assets/user_guides/layout/one_top_three_bottom.png
  vizro-core/docs/assets/user_guides/layout/one_top_three_bottom_color.png
  vizro-core/docs/assets/user_guides/layout/one_top_two_bottom.png
  vizro-core/docs/assets/user_guides/layout/one_top_two_bottom_color.png
  vizro-core/docs/assets/user_guides/layout/three_left.png
  vizro-core/docs/assets/user_guides/layout/three_left_color.png
  vizro-core/docs/assets/user_guides/layout/three_left_one_right.png
  vizro-core/docs/assets/user_guides/layout/three_left_one_right_color.png
  vizro-core/docs/assets/user_guides/layout/three_top_one_bottom.png
  vizro-core/docs/assets/user_guides/layout/three_top_one_bottom_color.png
  vizro-core/docs/assets/user_guides/layout/two_left_color.png
  vizro-core/docs/assets/user_guides/layout/two_left_two_right.png
  vizro-core/docs/assets/user_guides/layout/two_left_two_right_color.png
  vizro-core/docs/assets/user_guides/layout/two_top.png
  vizro-core/docs/assets/user_guides/layout/two_top_color.png
  vizro-core/docs/assets/user_guides/layout/two_top_one_bottom.png
  vizro-core/docs/assets/user_guides/layout/two_top_one_bottom_color.png
  vizro-core/docs/pages/user-guides/layouts.md
Labels: Component: Docs :spiral_notepad:

#500 [Tidy] Consolidate usage of keyword `id` in unit tests
  vizro-core/changelog.d/20240528_153301_nadija_ratkusic_graca_standardize_conf_in_tests.md
  vizro-core/src/vizro/models/_action/_action.py
  vizro-core/src/vizro/models/_components/_form.py
  vizro-core/src/vizro/models/_components/ag_grid.py
  vizro-core/src/vizro/models/_components/card.py
  vizro-core/src/vizro/models/_components/container.py
  vizro-core/src/vizro/models/_components/form/_alert.py
  vizro-core/src/vizro/models/_components/form/_text_area.py
  vizro-core/src/vizro/models/_components/form/_user_input.py
  vizro-core/src/vizro/models/_components/form/checklist.py
  vizro-core/src/vizro/models/_components/form/date_picker.py
  vizro-core/src/vizro/models/_components/form/dropdown.py
  vizro-core/src/vizro/models/_components/form/radio_items.py
  vizro-core/src/vizro/models/_components/form/range_slider.py
  vizro-core/src/vizro/models/_components/form/slider.py
  vizro-core/src/vizro/models/_components/table.py
  vizro-core/src/vizro/models/_controls/filter.py
  vizro-core/src/vizro/models/_dashboard.py
  vizro-core/src/vizro/models/_navigation/nav_bar.py
  vizro-core/src/vizro/models/_navigation/navigation.py
  vizro-core/src/vizro/models/_page.py
  vizro-core/tests/unit/vizro/models/_action/test_action.py
  vizro-core/tests/unit/vizro/models/_action/test_actions_chain.py
  vizro-core/tests/unit/vizro/models/_components/form/test_checklist.py
  vizro-core/tests/unit/vizro/models/_components/form/test_dropdown.py
  vizro-core/tests/unit/vizro/models/_components/form/test_radio_items.py
  vizro-core/tests/unit/vizro/models/_components/form/test_range_slider.py
  vizro-core/tests/unit/vizro/models/_components/form/test_slider.py
  vizro-core/tests/unit/vizro/models/_components/form/test_text_area.py
  vizro-core/tests/unit/vizro/models/_components/form/test_user_input.py
  vizro-core/tests/unit/vizro/models/_components/test_ag_grid.py
  vizro-core/tests/unit/vizro/models/_components/test_card.py
  vizro-core/tests/unit/vizro/models/_components/test_container.py
  vizro-core/tests/unit/vizro/models/_components/test_graph.py
  vizro-core/tests/unit/vizro/models/_components/test_table.py
  vizro-core/tests/unit/vizro/models/test_dashboard.py
  vizro-core/tests/unit/vizro/models/test_layout.py
  vizro-core/tests/unit/vizro/models/test_page.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Refactoring :superhero:

#511 [Bug] Fix disappearance of charts after theme switch on mobile
  vizro-core/changelog.d/20240603_161127_huong_li_nguyen_fix_mobile_charts.md
  vizro-core/examples/_dev/app.py
  vizro-core/src/vizro/models/_layout.py
  vizro-core/tests/unit/vizro/models/test_layout.py
Labels: Status: Ready for Review :ballot_box_with_check:, Issue: Bug Report :bug:

#505 [Demo] Add KPI dashboard to examples
  .pre-commit-config.yaml
  CODE_OF_CONDUCT.md
  vizro-core/changelog.d/20240531_141147_huong_li_nguyen_creat_kpi_dashboard.md
  vizro-core/examples/demo/app.py
  vizro-core/examples/demo/jupyter_version/app.ipynb
  vizro-core/examples/kpi/README.md
  vizro-core/examples/kpi/__init__.py
  vizro-core/examples/kpi/app.py
  vizro-core/examples/kpi/assets/css/custom.css
  vizro-core/examples/kpi/assets/favicon.ico
  vizro-core/examples/kpi/assets/images/app.svg
  vizro-core/examples/kpi/assets/images/logo.svg
  vizro-core/examples/kpi/utils/__init__.py
  vizro-core/examples/kpi/utils/_charts.py
  vizro-core/examples/kpi/utils/_helper.py
  vizro-core/pyproject.toml
  vizro-core/tests/integration/test_examples.py
Labels: Status: Ready for Review :ballot_box_with_check:, Issue: Feature Request :nerd_face:

#515 [Docs] Link medium article as an example to docs
  vizro-core/docs/pages/examples/your-examples.md
Labels: Component: Docs :spiral_notepad:

#488 [Feat] get vizro ai customized text output
  vizro-ai/changelog.d/20240603_173503_anna_xiong_get_vizro_ai_customized_output.md
  vizro-ai/src/vizro_ai/_vizro_ai.py
  vizro-ai/src/vizro_ai/utils/helper.py
Labels: Component: Vizro-AI :robot:

#523 [Tidy] Update Graph theme using clientside_callback
  vizro-core/changelog.d/20240613_144301_petar_pejovic_update_graph_theme_clientside.md
  vizro-core/examples/_dev/app.py
  vizro-core/hatch.toml
  vizro-core/pyproject.toml
  vizro-core/snyk/requirements.txt
  vizro-core/src/vizro/models/_components/graph.py
  vizro-core/src/vizro/models/_dashboard.py
  vizro-core/src/vizro/models/_page.py
  vizro-core/src/vizro/static/js/clientside_functions.js
  vizro-core/src/vizro/static/js/models/dashboard.js
  vizro-core/tests/unit/vizro/models/_components/test_ag_grid.py
  vizro-core/tests/unit/vizro/models/_components/test_table.py
  vizro-core/tests/unit/vizro/models/test_dashboard.py
Labels: Status: Ready for Review :ballot_box_with_check:, Tidy/Refactoring :broom:

#525 [Docs] Clarify what chart data will be exported
  vizro-core/changelog.d/20240613_163537_petar_pejovic_explain_exporting_filtered_data_for_tables.md
  vizro-core/docs/pages/user-guides/actions.md
  vizro-core/examples/_dev/app.py
Labels: Status: Ready for Review :ballot_box_with_check:, Docs :spiral_notepad:

#493 [Feat] Add `Figure` model and introduce KPI card functions
  vizro-core/changelog.d/20240607_125345_huong_li_nguyen_create_kpi_cards.md
  vizro-core/docs/pages/API-reference/captured-callables.md
  vizro-core/docs/pages/user-guides/components.md
  vizro-core/docs/pages/user-guides/data.md
  vizro-core/docs/pages/user-guides/figure.md
  vizro-core/examples/_dev/app.py
  vizro-core/examples/_dev/assets/css/custom.css
  vizro-core/mkdocs.yml
  vizro-core/pyproject.toml
  vizro-core/schemas/0.1.18.dev0.json
  vizro-core/schemas/generate.py
  vizro-core/src/vizro/figures/__init__.py
  vizro-core/src/vizro/figures/kpi_cards.py
  vizro-core/src/vizro/models/__init__.py
  vizro-core/src/vizro/models/_components/__init__.py
  vizro-core/src/vizro/models/_components/ag_grid.py
  vizro-core/src/vizro/models/_components/figure.py
  vizro-core/src/vizro/models/_components/graph.py
  vizro-core/src/vizro/models/_components/table.py
  vizro-core/src/vizro/models/types.py
  vizro-core/src/vizro/static/css/bootstrap_overwrites.css
  vizro-core/src/vizro/static/css/cards.css
  vizro-core/src/vizro/static/css/layout.css
  vizro-core/tests/unit/vizro/models/_components/test_figure.py
  vizro-core/tests/unit/vizro/models/test_models_utils.py
Labels: Status: Ready for Review :ballot_box_with_check:, Issue: Feature Request :nerd_face:

#536 [Tidy] Remove graph _update_theme method
  vizro-core/changelog.d/20240618_141931_petar_pejovic_remove_graph_update_theme_method.md
  vizro-core/examples/_dev/app.py
  vizro-core/src/vizro/models/_components/graph.py
  vizro-core/src/vizro/static/js/models/dashboard.js
Labels: Tidy/Refactoring :broom:

#535 [Docs] Make build actually strict
  vizro-ai/changelog.d/20240618_115924_antony.milne_strict_checks.md
  vizro-ai/docs/index.md
  vizro-ai/docs/pages/contribute/contributing.md
  vizro-ai/docs/pages/user-guides/run-vizro-ai.md
  vizro-ai/hatch.toml
  vizro-ai/mkdocs.yml
  vizro-core/changelog.d/20240618_115321_antony.milne_strict_checks.md
  vizro-core/docs/index.md
  vizro-core/docs/pages/explanation/contributing.md
  vizro-core/docs/pages/user-guides/card-button.md
  vizro-core/docs/pages/user-guides/custom-actions.md
  vizro-core/docs/pages/user-guides/dashboard.md
  vizro-core/docs/pages/user-guides/figure.md
  vizro-core/docs/pages/user-guides/layouts.md
  vizro-core/docs/pages/user-guides/navigation.md
  vizro-core/docs/pages/user-guides/table.md
  vizro-core/hatch.toml
  vizro-core/mkdocs.yml
Labels: Status: Ready for Review :ballot_box_with_check:, Docs :spiral_notepad:

#540 [Docs] Fix warnings and suggestions from `vale`
  .vale/styles/Microsoft/Acronyms.yml
  .vale/styles/Microsoft/Foreign.yml
  .vale/styles/Microsoft/Headings.yml
  CONTRIBUTING.md
  vizro-ai/changelog.d/20240621_124149_huong_li_nguyen_fix_vale.md
  vizro-ai/docs/pages/user-guides/add-generated-chart-usecase.md
  vizro-ai/docs/pages/user-guides/chart-examples.md
  vizro-core/changelog.d/20240621_124137_huong_li_nguyen_fix_vale.md
  vizro-core/docs/pages/explanation/contributing.md
  vizro-core/docs/pages/explanation/faq.md
  vizro-core/docs/pages/user-guides/custom-figures.md
  vizro-core/docs/pages/user-guides/data.md
  vizro-core/docs/pages/user-guides/layouts.md
  vizro-core/docs/pages/user-guides/parameters.md
  vizro-core/docs/pages/user-guides/table.md
Labels: Status: Ready for Review :ballot_box_with_check:, Docs :spiral_notepad:

#544 Remove unused dependency from vizro_ai
  vizro-ai/changelog.d/20240621_204959_lingyi_zhang_remove_langchain_community.md
  vizro-ai/hatch.toml
  vizro-ai/pyproject.toml
  vizro-ai/snyk/requirements.txt
  vizro-ai/tests/unit/vizro-ai/components/test_chart_selection.py
  vizro-ai/tests/unit/vizro-ai/components/test_code_validation.py
  vizro-ai/tests/unit/vizro-ai/components/test_custom_chart_wrap.py
  vizro-ai/tests/unit/vizro-ai/components/test_dataframe_craft.py
  vizro-ai/tests/unit/vizro-ai/components/test_explanation.py
  vizro-ai/tests/unit/vizro-ai/components/test_visual_code.py
Labels: Status: Ready for Review :ballot_box_with_check:, Package: Vizro-AI :robot:, dependencies

#549 [Tidy] Improve `reference_format` of `kpi_card_reference`
  vizro-core/changelog.d/20240626_165216_huong_li_nguyen_add_sign_kpi_card.md
  vizro-core/examples/_dev/app.py
  vizro-core/src/vizro/figures/kpi_cards.py
  vizro-core/tests/unit/vizro/figures/test_kpi_cards.py
Labels: Status: Ready for Review :ballot_box_with_check:, Tidy/Refactoring :broom:

#553 [Docs] Fix small docs error in the AgGrid formatting description
  vizro-core/changelog.d/20240627_105712_maximilian_schulz_small_fix.md
  vizro-core/docs/pages/user-guides/table.md
Labels: Status: Ready for Review :ballot_box_with_check:, Docs :spiral_notepad:

#548 [Bug] Fix title disappearance when scrolling dash_data_table
  vizro-core/changelog.d/20240626_161742_petar_pejovic_fix_title_misalignment.md
  vizro-core/examples/_dev/app.py
  vizro-core/src/vizro/models/_components/table.py
  vizro-core/tests/unit/vizro/models/_components/test_table.py
  vizro-core/tests/unit/vizro/tables/test_dash_table.py
Labels: Status: Ready for Review :ballot_box_with_check:, Issue: Bug Report :bug:

#547 [Feat] Improve validation of CapturedCallable
  vizro-core/changelog.d/20240621_132255_antony.milne_improve_captured_callable_validation.md
  vizro-core/schemas/0.1.19.dev0.json
  vizro-core/src/vizro/_vizro.py
  vizro-core/src/vizro/models/_action/_action.py
  vizro-core/src/vizro/models/_components/_components_utils.py
  vizro-core/src/vizro/models/_components/ag_grid.py
  vizro-core/src/vizro/models/_components/figure.py
  vizro-core/src/vizro/models/_components/graph.py
  vizro-core/src/vizro/models/_components/table.py
  vizro-core/src/vizro/models/types.py
  vizro-core/tests/unit/vizro/models/_components/test_ag_grid.py
  vizro-core/tests/unit/vizro/models/_components/test_figure.py
  vizro-core/tests/unit/vizro/models/_components/test_graph.py
  vizro-core/tests/unit/vizro/models/_components/test_table.py
  vizro-core/tests/unit/vizro/models/test_types.py
Labels: Status: Ready for Review :ballot_box_with_check:, Tidy/Refactoring :broom:

#552 [Docs] Explain limitations when a custom graph is a source of the filter interaction
  vizro-core/changelog.d/20240627_102933_petar_pejovic_custom_graph_as_source_of_filter_interaction.md
  vizro-core/docs/pages/user-guides/actions.md
  vizro-core/examples/_dev/app.py
  vizro-core/src/vizro/models/_components/graph.py
Labels: Status: Ready for Review :ballot_box_with_check:, Docs :spiral_notepad:

#550 [Tidy] Use BaseChatModel for type hint
  vizro-ai/changelog.d/20240627_003947_lingyi_zhang_use_basechatmodel.md
  vizro-ai/src/vizro_ai/chains/_llm_chain.py
  vizro-ai/src/vizro_ai/chains/_llm_models.py
  vizro-ai/src/vizro_ai/components/_base.py
  vizro-ai/src/vizro_ai/components/chart_selection.py
  vizro-ai/src/vizro_ai/components/code_validation.py
  vizro-ai/src/vizro_ai/components/custom_chart_wrap.py
  vizro-ai/src/vizro_ai/components/dataframe_craft.py
  vizro-ai/src/vizro_ai/components/explanation.py
  vizro-ai/src/vizro_ai/components/visual_code.py
  vizro-ai/src/vizro_ai/task_pipeline/_pipeline.py
  vizro-ai/src/vizro_ai/task_pipeline/_pipeline_manager.py
Labels: Status: Ready for Review :ballot_box_with_check:, Tidy/Refactoring :broom:
