Repository mckinsey/vizro, pull requests merged in 2024-03, with the labels that each got.

#268 [Feat] Apply custom CSS to AgGrid
  vizro-core/changelog.d/20240229_143548_huong_li_nguyen_aggrid_styling.md
  vizro-core/examples/_dev/app.py
  vizro-core/src/vizro/actions/_action_loop/_build_action_loop_callbacks.py
  vizro-core/src/vizro/actions/_actions_utils.py
  vizro-core/src/vizro/actions/_callback_mapping/_callback_mapping_utils.py
  vizro-core/src/vizro/models/_components/ag_grid.py
  vizro-core/src/vizro/models/_components/graph.py
  vizro-core/src/vizro/models/_components/table.py
  vizro-core/src/vizro/static/css/aggrid.css
  vizro-core/src/vizro/static/css/button.css
  vizro-core/src/vizro/static/css/scroll_bar.css
  vizro-core/src/vizro/static/css/token_names.css
  vizro-core/src/vizro/static/css/variables.css
  vizro-core/src/vizro/static/js/clientside_functions.js
  vizro-core/src/vizro/static/js/models/dashboard.js
  vizro-core/src/vizro/tables/_dash_ag_grid.py
  vizro-core/tests/unit/vizro/models/_components/test_ag_grid.py
  vizro-core/tests/unit/vizro/models/_components/test_table.py
  vizro-core/tests/unit/vizro/tables/test_dash_ag_grid.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Configuration :computer:

#324 [Docs] Add documentation for the AgGrid
  CODEOWNERS
  vizro-core/changelog.d/20240301_124716_maximilian_schulz_aggrid_docs_2.md
  vizro-core/docs/assets/user_guides/table/aggrid.png
  vizro-core/docs/assets/user_guides/table/formatted_aggrid.png
  vizro-core/docs/assets/user_guides/table/styled_aggrid.png
  vizro-core/docs/pages/user-guides/custom-tables.md
  vizro-core/docs/pages/user-guides/table.md
  vizro-core/examples/_dev/yaml_version/dashboard.yaml
  vizro-core/examples/demo/app.py
  vizro-core/examples/features/app.py
  vizro-core/examples/features/yaml_version/dashboard.yaml
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Docs :spiral_notepad:

#341 [Bug] Set upper limit on `dash` temporarily
  vizro-core/changelog.d/20240304_123956_huong_li_nguyen_add_upper_limit.md
  vizro-core/pyproject.toml
  vizro-core/snyk/requirements.txt
Labels: Status: Ready for Review :ballot_box_with_check:, Issue: Bug Report :bug:

#343 [Release] Release vizro 0.1.12
  vizro-core/CHANGELOG.md
  vizro-core/changelog.d/20240213_093621_anna_xiong_0_1_11.md
  vizro-core/changelog.d/20240213_150316_runner_15_03_13.md
  vizro-core/changelog.d/20240214_201401_huong_li_nguyen_fix_bootstrap_plugin.md
  vizro-core/changelog.d/20240220_140357_jo_stichbury_second_branch_docs_name_changes.md
  vizro-core/changelog.d/20240220_142604_jo_stichbury_add_favicon.md
  vizro-core/changelog.d/20240221_102202_jo_stichbury_run_method_updating.md
  vizro-core/changelog.d/20240221_121749_jo_stichbury_create_style_guide.md
  vizro-core/changelog.d/20240221_133908_huong_li_nguyen_fix_semantics_navigation.md
  vizro-core/changelog.d/20240221_180436_huong_li_nguyen_apply_alphabetical_css_order.md
  vizro-core/changelog.d/20240222_094020_maximilian_schulz_aggrid_separate_models.md
  vizro-core/changelog.d/20240222_155053_alexey_snigir_update_chromedriver_url.md
  vizro-core/changelog.d/20240226_100408_huong_li_nguyen_fix_css_grid.md
  vizro-core/changelog.d/20240226_181547_huong_li_nguyen_add_selectors.md
  vizro-core/changelog.d/20240227_123915_jo_stichbury_light_edit_for_readability.md
  vizro-core/changelog.d/20240229_143548_huong_li_nguyen_aggrid_styling.md
  vizro-core/changelog.d/20240301_124716_maximilian_schulz_aggrid_docs_2.md
  vizro-core/changelog.d/20240304_123956_huong_li_nguyen_add_upper_limit.md
  vizro-core/changelog.d/20240304_191314_maximilian_schulz_0_1_12.md
  vizro-core/schemas/0.1.11.json
  vizro-core/schemas/0.1.12.json
  vizro-core/src/vizro/__init__.py
Labels: RELEASE

#339 [Docs] Update docs to reflect AgGrid interaction
  vizro-core/changelog.d/20240304_085704_maximilian_schulz_change_table_example.md
  vizro-core/docs/assets/user_guides/actions/actions_table_filter_interaction.png
  vizro-core/docs/pages/user-guides/actions.md
  vizro-core/examples/_dev/app.py
  vizro-core/examples/_dev/yaml_version/app.py
  vizro-core/examples/_dev/yaml_version/dashboard.yaml
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Docs :spiral_notepad:

#340 [Feat] Add exception handling for providing false callable to Graph, Table, etc
  vizro-core/changelog.d/20240304_123020_maximilian_schulz_improved_exception_handling.md
  vizro-core/src/vizro/models/_components/_components_utils.py
  vizro-core/src/vizro/models/_components/ag_grid.py
  vizro-core/src/vizro/models/_components/graph.py
  vizro-core/src/vizro/models/_components/table.py
  vizro-core/src/vizro/models/types.py
  vizro-core/tests/unit/vizro/models/_components/test_ag_grid.py
  vizro-core/tests/unit/vizro/models/_components/test_graph.py
  vizro-core/tests/unit/vizro/models/_components/test_table.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Tests :test_tube:

#351 [Feat] Add column separators to `AgGrid` by default
  vizro-core/changelog.d/20240306_155532_huong_li_nguyen_apply_col_separators_ag_grid.md
  vizro-core/docs/assets/user_guides/table/aggrid.png
  vizro-core/docs/assets/user_guides/table/formatted_aggrid.png
  vizro-core/docs/assets/user_guides/table/styled_aggrid.png
  vizro-core/src/vizro/static/css/aggrid.css
Labels: Status: Ready for Review :ballot_box_with_check:, Issue: Feature Request :nerd_face:

#336 [Tidy] Consolidate gaps in selectors and apply new designs to sliders
  vizro-core/changelog.d/20240227_130907_huong_li_nguyen_consolidate_css.md
  vizro-core/examples/_dev/app.py
  vizro-core/examples/_dev/assets/css/custom.css
  vizro-core/examples/features/app.py
  vizro-core/src/vizro/models/_components/form/checklist.py
  vizro-core/src/vizro/models/_components/form/dropdown.py
  vizro-core/src/vizro/models/_components/form/radio_items.py
  vizro-core/src/vizro/models/_components/form/range_slider.py
  vizro-core/src/vizro/models/_components/form/slider.py
  vizro-core/src/vizro/static/css/accordion.css
  vizro-core/src/vizro/static/css/checklist.css
  vizro-core/src/vizro/static/css/dropdown.css
  vizro-core/src/vizro/static/css/layout.css
  vizro-core/src/vizro/static/css/radio_item.css
  vizro-core/src/vizro/static/css/selectors.css
  vizro-core/src/vizro/static/css/slider.css
  vizro-core/src/vizro/static/js/models/slider.js
  vizro-core/tests/unit/vizro/models/_components/form/test_checklist.py
  vizro-core/tests/unit/vizro/models/_components/form/test_dropdown.py
  vizro-core/tests/unit/vizro/models/_components/form/test_radio_items.py
  vizro-core/tests/unit/vizro/models/_components/form/test_range_slider.py
  vizro-core/tests/unit/vizro/models/_components/form/test_slider.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Refactoring :superhero:

#349 [Docs] Add change to enable 404 page automation
  vizro-ai/changelog.d/20240306_103758_jo_stichbury_404_page.md
  vizro-ai/mkdocs.yml
  vizro-core/changelog.d/20240306_102800_jo_stichbury_404_page.md
  vizro-core/mkdocs.yml
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Docs :spiral_notepad:

#354 [Bug] Fix AgGrid inspect console error
  vizro-core/changelog.d/20240306_194040_maximilian_schulz_fix_ag_grid_console_error.md
  vizro-core/src/vizro/tables/_dash_ag_grid.py
Labels: Status: Ready for Review :ballot_box_with_check:, Issue: Bug Report :bug:

#356 [Tidy] Consolidate styling of selected cell for `dash_ag_grid` and `dash_data_table`
  vizro-core/changelog.d/20240307_132015_huong_li_nguyen_improve_selected_cell.md
  vizro-core/docs/assets/user_guides/actions/actions_table_filter_interaction.png
  vizro-core/examples/_dev/app.py
  vizro-core/src/vizro/static/css/aggrid.css
  vizro-core/src/vizro/tables/_dash_table.py
  vizro-core/tests/unit/vizro/tables/test_dash_table.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Refactoring :superhero:

#357 [Bug/Docs] improve docs and fix bug on custom ag_grid
  vizro-core/changelog.d/20240308_164516_maximilian_schulz_improve_custom_tables.md
  vizro-core/docs/assets/user_guides/table/custom_grid.png
  vizro-core/docs/pages/API-reference/captured-callables.md
  vizro-core/docs/pages/user-guides/custom-tables.md
  vizro-core/docs/pages/user-guides/table.md
  vizro-core/examples/_dev/assets/images/logo.svg
  vizro-core/mkdocs.yml
  vizro-core/src/vizro/models/_components/ag_grid.py
  vizro-core/src/vizro/tables/_dash_ag_grid.py
  vizro-core/src/vizro/tables/_dash_table.py
  vizro-core/tests/unit/vizro/tables/test_dash_ag_grid.py
  vizro-core/tests/unit/vizro/tables/test_dash_table.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Docs :spiral_notepad:, Issue: Bug Report :bug:

#358 [Bug] Fix path to built-in Vizro assets
  vizro-core/changelog.d/20240311_161236_antony.milne_external_assets.md
  vizro-core/docs/pages/user-guides/run.md
  vizro-core/src/vizro/_vizro.py
Labels: Status: Ready for Review :ballot_box_with_check:, Issue: Bug Report :bug:

#360 [Release] Bump vizro-core to 0.1.14.dev0
  vizro-core/changelog.d/20240312_095050_petar_pejovic_0_1_14_dev0.md
  vizro-core/schemas/0.1.14.dev0.json
  vizro-core/src/vizro/__init__.py
Labels: Status: Ready for Review :ballot_box_with_check:, RELEASE

#364 [Bug] Replace `dcc.Link` with `dbc.NavLink`
  vizro-core/changelog.d/20240312_150737_huong_li_nguyen_replace_link_navlink.md
  vizro-core/examples/_dev/app.py
  vizro-core/src/vizro/models/_components/card.py
  vizro-core/tests/unit/vizro/models/_components/test_card.py
Labels: Status: Ready for Review :ballot_box_with_check:, Issue: Bug Report :bug:

#366 [Tidy] Replace `dash.page_registry` as page lookup with `model_manager`
  vizro-core/changelog.d/20240312_182756_huong_li_nguyen_demo_nav_bar_link_issue.md
  vizro-core/examples/_dev/app.py
  vizro-core/src/vizro/actions/_action_loop/_action_loop_utils.py
  vizro-core/src/vizro/actions/_action_loop/_build_action_loop_callbacks.py
  vizro-core/src/vizro/actions/_action_loop/_get_action_loop_components.py
  vizro-core/src/vizro/models/_dashboard.py
  vizro-core/src/vizro/models/_navigation/_navigation_utils.py
  vizro-core/src/vizro/models/_navigation/accordion.py
  vizro-core/src/vizro/models/_navigation/nav_link.py
  vizro-core/src/vizro/models/_page.py
  vizro-core/tests/integration/test_navigation.py
  vizro-core/tests/unit/vizro/models/_navigation/test_accordion.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Refactoring :superhero:

#346 [Feat] Add CSS styling to single and multi `DatePicker`
  vizro-core/changelog.d/20240304_221635_huong_li_nguyen_datepicker.md
  vizro-core/examples/_dev/app.py
  vizro-core/src/vizro/models/_components/form/date_picker.py
  vizro-core/src/vizro/static/css/datepicker.css
  vizro-core/src/vizro/static/css/token_names.css
  vizro-core/src/vizro/static/css/variables.css
Labels: Status: Ready for Review :ballot_box_with_check:, Issue: Feature Request :nerd_face:

#369 [Tidy] Update VizroAI dependencies
  vizro-ai/changelog.d/20240313_180121_maximilian_schulz_update_vizro_ai_requirements.md
  vizro-ai/hatch.toml
  vizro-ai/pyproject.toml
  vizro-ai/snyk/requirements.txt
  vizro-ai/src/vizro_ai/chains/_llm_models.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Vizro-AI :robot:

#370 [Release] Release of vizro-ai 0.1.2
  vizro-ai/CHANGELOG.md
  vizro-ai/changelog.d/20240105_101137_maximilian_schulz_0_1_2_dev0.md
  vizro-ai/changelog.d/20240109_112642_maximilian_schulz_missing_argument.md
  vizro-ai/changelog.d/20240110_093842_anna_xiong_add_max_retry_parameter.md
  vizro-ai/changelog.d/20240118_144903_anna_xiong_load_env_automatically.md
  vizro-ai/changelog.d/20240119_112647_anna_xiong_task_pipeline_v1.md
  vizro-ai/changelog.d/20240122_112645_antony.milne_enable_containers_AM.md
  vizro-ai/changelog.d/20240122_113617_anna_xiong_add_depdency_Pyarrow.md
  vizro-ai/changelog.d/20240126_180009_huong_li_nguyen_apply_black_c.md
  vizro-ai/changelog.d/20240131_120328_huong_li_nguyen_snyk_fix_b26268607f189c7eb740ee434192bfda.md
  vizro-ai/changelog.d/20240131_142042_anna_xiong_refactor_ai_utils.md
  vizro-ai/changelog.d/20240205_193238_huong_li_nguyen_pre_commit_ci_update_config.md
  vizro-ai/changelog.d/20240208_161900_huong_li_nguyen_tidy_ruff.md
  vizro-ai/changelog.d/20240212_223917_anna_xiong_update_vizro_ai_readme.md
  vizro-ai/changelog.d/20240214_093242_anna_xiong_update_main_readme.md
  vizro-ai/changelog.d/20240220_115353_jo_stichbury_second_branch_docs_name_changes.md
  vizro-ai/changelog.d/20240220_142800_jo_stichbury_add_favicon.md
  vizro-ai/changelog.d/20240221_181059_huong_li_nguyen_apply_alphabetical_css_order.md
  vizro-ai/changelog.d/20240227_085152_huong_li_nguyen_langchain_0_1_0.md
  vizro-ai/changelog.d/20240306_103758_jo_stichbury_404_page.md
  vizro-ai/changelog.d/20240313_180121_maximilian_schulz_update_vizro_ai_requirements.md
  vizro-ai/changelog.d/20240313_183650_maximilian_schulz_0_1_2.md
  vizro-ai/src/vizro_ai/__init__.py
Labels: Status: Ready for Review :ballot_box_with_check:, RELEASE

#372 [Release] Bump vizro-ai to 0.1.3.dev0
  vizro-ai/changelog.d/20240313_190013_maximilian_schulz_version_bump.md
  vizro-ai/src/vizro_ai/__init__.py
Labels: Status: Ready for Review :ballot_box_with_check:

#373 [Tidy] Replace `html.Div` with `dbc.Card`
  vizro-core/changelog.d/20240314_124722_huong_li_nguyen_replace_card.md
  vizro-core/docs/pages/user-guides/assets.md
  vizro-core/src/vizro/models/_components/card.py
  vizro-core/src/vizro/static/css/card.css
  vizro-core/src/vizro/static/css/layout.css
  vizro-core/src/vizro/static/css/scroll_bar.css
  vizro-core/tests/unit/vizro/models/_components/test_card.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Refactoring :superhero:

#371 [Bug] Change dropdown position of `DatePicker` based on space
  vizro-core/examples/_dev/app.py
  vizro-core/examples/features/app.py
  vizro-core/examples/features/yaml_version/app.py
  vizro-core/examples/features/yaml_version/dashboard.yaml
  vizro-core/src/vizro/models/_components/form/date_picker.py
  vizro-core/src/vizro/static/js/clientside_functions.js
  vizro-core/src/vizro/static/js/models/date_picker.js
Labels: Status: Ready for Review :ballot_box_with_check:, Issue: Bug Report :bug:

#362 [Tidy] Replace `dmc.Tooltip` with `dbc.Tooltip`
  vizro-core/changelog.d/20240312_114533_huong_li_nguyen_replace_tooltip.md
  vizro-core/src/vizro/models/_dashboard.py
  vizro-core/src/vizro/models/_navigation/nav_link.py
  vizro-core/src/vizro/static/css/accordion.css
  vizro-core/src/vizro/static/css/fonts/tooltip.css
  vizro-core/src/vizro/static/css/layout.css
  vizro-core/src/vizro/static/css/variables.css
  vizro-core/src/vizro/static/js/models/dashboard.js
  vizro-core/tests/integration/test_navigation.py
  vizro-core/tests/unit/vizro/models/_navigation/test_nav_bar.py
  vizro-core/tests/unit/vizro/models/_navigation/test_nav_link.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Refactoring :superhero:

#319 [QA] Add unit tests and docs for `DatePicker`
  vizro-core/docs/assets/user_guides/selectors/default_filter_selectors.png
  vizro-core/docs/pages/user-guides/filters.md
  vizro-core/docs/pages/user-guides/selectors.md
  vizro-core/examples/_dev/app.py
  vizro-core/examples/_dev/yaml_version/app.py
  vizro-core/examples/_dev/yaml_version/dashboard.yaml
  vizro-core/examples/features/app.py
  vizro-core/examples/features/yaml_version/app.py
  vizro-core/examples/features/yaml_version/dashboard.yaml
  vizro-core/pyproject.toml
  vizro-core/snyk/requirements.txt
  vizro-core/src/vizro/models/_components/form/_form_utils.py
  vizro-core/src/vizro/models/_components/form/date_picker.py
  vizro-core/src/vizro/models/_controls/filter.py
  vizro-core/src/vizro/models/types.py
  vizro-core/src/vizro/static/js/clientside_functions.js
  vizro-core/src/vizro/static/js/models/date_picker.js
  vizro-core/tests/unit/vizro/conftest.py
  vizro-core/tests/unit/vizro/models/_components/form/test_date_picker.py
  vizro-core/tests/unit/vizro/models/_components/form/test_radio_items.py
  vizro-core/tests/unit/vizro/models/_components/form/test_range_slider.py
  vizro-core/tests/unit/vizro/models/_components/form/test_slider.py
  vizro-core/tests/unit/vizro/models/_controls/conftest.py
  vizro-core/tests/unit/vizro/models/_controls/test_filter.py
  vizro-core/tests/unit/vizro/models/_controls/test_parameter.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Tests :test_tube:

#309 [Feat] Enable temporal selector `DatePicker`
  vizro-core/changelog.d/20240219_132602_nadija_ratkusic_graca_datepicker.md
  vizro-core/docs/assets/user_guides/selectors/default_filter_selectors.png
  vizro-core/docs/pages/user-guides/filters.md
  vizro-core/docs/pages/user-guides/selectors.md
  vizro-core/examples/_dev/app.py
  vizro-core/examples/_dev/yaml_version/app.py
  vizro-core/examples/_dev/yaml_version/dashboard.yaml
  vizro-core/examples/features/app.py
  vizro-core/examples/features/yaml_version/app.py
  vizro-core/examples/features/yaml_version/dashboard.yaml
  vizro-core/pyproject.toml
  vizro-core/schemas/0.1.13.json
  vizro-core/schemas/0.1.14.dev0.json
  vizro-core/snyk/requirements.txt
  vizro-core/src/vizro/models/__init__.py
  vizro-core/src/vizro/models/_components/form/__init__.py
  vizro-core/src/vizro/models/_components/form/_form_utils.py
  vizro-core/src/vizro/models/_components/form/date_picker.py
  vizro-core/src/vizro/models/_components/form/range_slider.py
  vizro-core/src/vizro/models/_components/form/slider.py
  vizro-core/src/vizro/models/_controls/filter.py
  vizro-core/src/vizro/models/_controls/parameter.py
  vizro-core/src/vizro/models/types.py
  vizro-core/src/vizro/static/css/datepicker.css
  vizro-core/src/vizro/static/css/token_names.css
  vizro-core/src/vizro/static/css/variables.css
  vizro-core/src/vizro/static/js/clientside_functions.js
  vizro-core/src/vizro/static/js/models/date_picker.js
  vizro-core/tests/unit/vizro/conftest.py
  vizro-core/tests/unit/vizro/models/_components/form/test_date_picker.py
  vizro-core/tests/unit/vizro/models/_components/form/test_radio_items.py
  vizro-core/tests/unit/vizro/models/_components/form/test_range_slider.py
  vizro-core/tests/unit/vizro/models/_components/form/test_slider.py
  vizro-core/tests/unit/vizro/models/_controls/conftest.py
  vizro-core/tests/unit/vizro/models/_controls/test_filter.py
  vizro-core/tests/unit/vizro/models/_controls/test_parameter.py
Labels: Status: Ready for Review :ballot_box_with_check:, Issue: Feature Request :nerd_face:

#387 [Release] Bump vizro-core to 0.1.15.dev0
  vizro-core/changelog.d/20240326_105937_nadija_ratkusic_graca_0_1_15_dev0.md
  vizro-core/schemas/0.1.15.dev0.json
  vizro-core/src/vizro/__init__.py
Labels: Status: Ready for Review :ballot_box_with_check:, RELEASE

#388 [Bug] Fix CSS for `floatingFilter` in `AgGrid`
  vizro-core/changelog.d/20240326_111333_huong_li_nguyen_add_css_floatingfilter.md
  vizro-core/examples/_dev/app.py
  vizro-core/src/vizro/static/css/aggrid.css
  vizro-core/src/vizro/tables/_dash_ag_grid.py
Labels: Status: Ready for Review :ballot_box_with_check:, Issue: Bug Report :bug:

#385 [Docs] Add vale ini and styles for docs linting
  .pre-commit-config.yaml
  .vale/.vale.ini
  .vale/styles/Microsoft/AMPM.yml
  .vale/styles/Microsoft/Accessibility.yml
  .vale/styles/Microsoft/Acronyms.yml
  .vale/styles/Microsoft/Adverbs.yml
  .vale/styles/Microsoft/Auto.yml
  .vale/styles/Microsoft/Avoid.yml
  .vale/styles/Microsoft/ComplexWords.yml
  .vale/styles/Microsoft/Dashes.yml
  .vale/styles/Microsoft/DateFormat.yml
  .vale/styles/Microsoft/DateNumbers.yml
  .vale/styles/Microsoft/DateOrder.yml
  .vale/styles/Microsoft/FirstPerson.yml
  .vale/styles/Microsoft/Foreign.yml
  .vale/styles/Microsoft/Gender.yml
  .vale/styles/Microsoft/GenderBias.yml
  .vale/styles/Microsoft/HeadingColons.yml
  .vale/styles/Microsoft/HeadingPunctuation.yml
  .vale/styles/Microsoft/Headings.yml
  .vale/styles/Microsoft/Hyphens.yml
  .vale/styles/Microsoft/Negative.yml
  .vale/styles/Microsoft/Ordinal.yml
  .vale/styles/Microsoft/OxfordComma.yml
  .vale/styles/Microsoft/Percentages.yml
  .vale/styles/Microsoft/RangeTime.yml
  .vale/styles/Microsoft/SentenceLength.yml
  .vale/styles/Microsoft/Spacing.yml
  .vale/styles/Microsoft/Suspended.yml
  .vale/styles/Microsoft/Terms.yml
  .vale/styles/Microsoft/URLFormat.yml
  .vale/styles/Microsoft/Units.yml
  .vale/styles/Microsoft/Vocab.yml
  .vale/styles/Microsoft/Wordiness.yml
  .vale/styles/Microsoft/meta.json
  .vale/styles/Readability/AutomatedReadability.yml
  .vale/styles/Readability/ColemanLiau.yml
  .vale/styles/Readability/FleschKincaid.yml
  .vale/styles/Readability/FleschReadingEase.yml
  .vale/styles/Readability/GunningFog.yml
  .vale/styles/Readability/LIX.yml
  .vale/styles/Readability/SMOG.yml
  .vale/styles/Readability/meta.json
  .vale/styles/vale/Annotations.yml
  .vale/styles/vale/Editorializing.yml
  .vale/styles/vale/Hedging.yml
  .vale/styles/vale/Litotes.yml
  .vale/styles/vale/Redundancy.yml
  .vale/styles/vale/Uncomparables.yml
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Docs :spiral_notepad:

#393 [Tidy] Improve semantics of `NavBar` and `Accordion`
  vizro-core/changelog.d/20240327_104803_huong_li_nguyen_improve_semantics_nav.md
  vizro-core/src/vizro/models/_dashboard.py
  vizro-core/src/vizro/models/_navigation/_navigation_utils.py
  vizro-core/src/vizro/models/_navigation/accordion.py
  vizro-core/src/vizro/models/_navigation/nav_bar.py
  vizro-core/src/vizro/models/_navigation/navigation.py
  vizro-core/src/vizro/static/css/layout.css
  vizro-core/tests/unit/vizro/models/_navigation/test_accordion.py
  vizro-core/tests/unit/vizro/models/_navigation/test_nav_bar.py
  vizro-core/tests/unit/vizro/models/_navigation/test_navigation.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Refactoring :superhero:

#394 [QA] Using assert_component_equal in actions, dashboard and controls tests
  vizro-core/changelog.d/20240328_163211_petar_pejovic_actions_assert_component_equal_tests.md
  vizro-core/tests/unit/vizro/actions/_action_loop/test_get_action_loop_components.py
  vizro-core/tests/unit/vizro/actions/_callback_mapping/test_get_action_callback_mapping.py
  vizro-core/tests/unit/vizro/models/_action/test_action.py
  vizro-core/tests/unit/vizro/models/_controls/test_filter.py
  vizro-core/tests/unit/vizro/models/_controls/test_parameter.py
  vizro-core/tests/unit/vizro/models/test_dashboard.py
  vizro-core/tests/unit/vizro/models/test_page.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Tests :test_tube:
