Repository mckinsey/vizro, pull requests merged in 2024-07, with the labels that each got.

#556 [Docs] Update docstrings and screenshots for KPI cards
  vizro-core/changelog.d/20240701_084052_huong_li_nguyen_update_docs_kpi.md
  vizro-core/docs/assets/user_guides/figure/custom_kpi.png
  vizro-core/docs/assets/user_guides/figure/figure.png
  vizro-core/docs/assets/user_guides/figure/kpi_cards.png
  vizro-core/docs/pages/user-guides/custom-figures.md
  vizro-core/docs/pages/user-guides/figure.md
  vizro-core/examples/_dev/app.py
  vizro-core/pyproject.toml
  vizro-core/src/vizro/figures/kpi_cards.py
Labels: Status: Ready for Review :ballot_box_with_check:, Docs :spiral_notepad:

#517 [Dev] Update LLM model wrapper mapping
  vizro-ai/changelog.d/20240626_224646_anna_xiong_azure_openai.md
  vizro-ai/src/vizro_ai/chains/_llm_models.py
Labels: Status: Ready for Review :ballot_box_with_check:, Package: Vizro-AI :robot:

#562 [Bug] Fix inconsistent return types in selector values
  vizro-core/changelog.d/20240703_091955_huong_li_nguyen_fix_selector_return_type.md
  vizro-core/examples/_dev/app.py
  vizro-core/src/vizro/actions/_actions_utils.py
  vizro-core/src/vizro/models/_action/_action.py
  vizro-core/tests/unit/vizro/actions/conftest.py
  vizro-core/tests/unit/vizro/actions/test_parameter_action.py
Labels: Status: Ready for Review :ballot_box_with_check:, Issue: Bug Report :bug:

#572 [Bug] Fix default icon provision for `vm.NavLink`
  vizro-core/changelog.d/20240708_105029_huong_li_nguyen_fix_default_nav_items.md
  vizro-core/examples/_dev/app.py
  vizro-core/src/vizro/models/_navigation/nav_bar.py
Labels: Status: Ready for Review :ballot_box_with_check:, Issue: Bug Report :bug:

#570 [Docs] Add OpenAI model name aliases
  vizro-ai/changelog.d/20240705_153310_lingyi_zhang_vizroai_models.md
  vizro-ai/docs/pages/user-guides/customize-vizro-ai.md
  vizro-ai/src/vizro_ai/chains/_llm_models.py
Labels: Status: Ready for Review :ballot_box_with_check:, Docs :spiral_notepad:, Package: Vizro-AI :robot:

#564 [Docs] Rationalise admonitions in documentation
  vizro-ai/changelog.d/20240703_171515_jo_stichbury_admonition_review.md
  vizro-ai/docs/pages/user-guides/install.md
  vizro-core/changelog.d/20240703_171525_jo_stichbury_admonition_review.md
  vizro-core/docs/pages/examples/examples.md
  vizro-core/docs/pages/explanation/documentation-style-guide.md
  vizro-core/docs/pages/tutorials/explore-components.md
  vizro-core/docs/pages/user-guides/actions.md
  vizro-core/docs/pages/user-guides/assets.md
  vizro-core/docs/pages/user-guides/card-button.md
  vizro-core/docs/pages/user-guides/container.md
  vizro-core/docs/pages/user-guides/custom-charts.md
  vizro-core/docs/pages/user-guides/custom-components.md
  vizro-core/docs/pages/user-guides/dashboard.md
  vizro-core/docs/pages/user-guides/graph.md
  vizro-core/docs/pages/user-guides/install.md
  vizro-core/docs/pages/user-guides/layouts.md
  vizro-core/docs/pages/user-guides/pages.md
  vizro-core/docs/pages/user-guides/parameters.md
  vizro-core/docs/pages/user-guides/run.md
  vizro-core/docs/pages/user-guides/selectors.md
  vizro-core/docs/pages/user-guides/table.md
Labels: Issue: Docs :spiral_notepad:

#527 [Bug] Fix duplicate figure display in jupyter notebook
  vizro-ai/changelog.d/20240619_092410_nadija_ratkusic_graca_duplicate_fig_diplayed.md
  vizro-ai/docs/pages/tutorials/quickstart.md
  vizro-ai/docs/pages/user-guides/add-generated-chart-usecase.md
  vizro-ai/docs/pages/user-guides/chart-examples.md
  vizro-ai/docs/pages/user-guides/create-advanced-charts.md
  vizro-ai/docs/pages/user-guides/customize-vizro-ai.md
  vizro-ai/docs/pages/user-guides/run-vizro-ai.md
  vizro-ai/docs/pages/user-guides/use-different-languages.md
  vizro-ai/src/vizro_ai/_vizro_ai.py
  vizro-ai/src/vizro_ai/utils/helper.py
Labels: Vizro-AI :robot:

#561 [Tidy] Restructure vizro-ai
  vizro-ai/changelog.d/20240702_183601_anna_xiong_vizro_ai_restructure.md
  vizro-ai/src/vizro_ai/_llm_models.py
  vizro-ai/src/vizro_ai/_vizro_ai.py
  vizro-ai/src/vizro_ai/plot/__init__.py
  vizro-ai/src/vizro_ai/plot/_utils/__init__.py
  vizro-ai/src/vizro_ai/plot/_utils/_constants.py
  vizro-ai/src/vizro_ai/plot/_utils/_safeguard.py
  vizro-ai/src/vizro_ai/plot/components/__init__.py
  vizro-ai/src/vizro_ai/plot/components/_base.py
  vizro-ai/src/vizro_ai/plot/components/chart_selection.py
  vizro-ai/src/vizro_ai/plot/components/code_validation.py
  vizro-ai/src/vizro_ai/plot/components/custom_chart_wrap.py
  vizro-ai/src/vizro_ai/plot/components/dataframe_craft.py
  vizro-ai/src/vizro_ai/plot/components/explanation.py
  vizro-ai/src/vizro_ai/plot/components/visual_code.py
  vizro-ai/src/vizro_ai/plot/schema_manager/__init__.py
  vizro-ai/src/vizro_ai/plot/schema_manager/schema_manager.py
  vizro-ai/src/vizro_ai/plot/task_pipeline/__init_.py
  vizro-ai/src/vizro_ai/plot/task_pipeline/_pipeline.py
  vizro-ai/src/vizro_ai/plot/task_pipeline/_pipeline_manager.py
  vizro-ai/src/vizro_ai/utils/helper.py
  vizro-ai/tests/unit/vizro-ai/plot/components/test_chart_selection.py
  vizro-ai/tests/unit/vizro-ai/plot/components/test_code_validation.py
  vizro-ai/tests/unit/vizro-ai/plot/components/test_custom_chart_wrap.py
  vizro-ai/tests/unit/vizro-ai/plot/components/test_dataframe_craft.py
  vizro-ai/tests/unit/vizro-ai/plot/components/test_explanation.py
  vizro-ai/tests/unit/vizro-ai/plot/components/test_visual_code.py
  vizro-ai/tests/unit/vizro-ai/plot/utils/test_safeguard_code.py
  vizro-ai/tests/unit/vizro-ai/test_llm_models.py
Labels: Vizro-AI :robot:

#599 [Docs] Add `PlotOutputs` example to VizroAi docs
  vizro-ai/changelog.d/20240725_132140_nadija_ratkusic_graca_vizroai_update_docs.md
  vizro-ai/docs/pages/user-guides/run-vizro-ai.md
Labels: Docs :spiral_notepad:, Vizro-AI :robot:

#602 [Tidy] Fix typo
  vizro-ai/changelog.d/20240727_031259_lingyi_zhang_vizroai_code.md
  vizro-ai/src/vizro_ai/plot/components/__init__.py
  vizro-ai/src/vizro_ai/plot/components/_base.py
  vizro-ai/src/vizro_ai/plot/components/chart_selection.py
  vizro-ai/src/vizro_ai/plot/components/code_validation.py
  vizro-ai/src/vizro_ai/plot/components/custom_chart_wrap.py
  vizro-ai/src/vizro_ai/plot/components/dataframe_craft.py
  vizro-ai/src/vizro_ai/plot/components/explanation.py
  vizro-ai/src/vizro_ai/plot/components/visual_code.py
Labels: Vizro-AI :robot:

#603 [Bug] Fix data mutation issue and improve prompts
  vizro-ai/changelog.d/20240727_033910_lingyi_zhang_chart_dataframe_mutation.md
  vizro-ai/src/vizro_ai/_vizro_ai.py
  vizro-ai/src/vizro_ai/plot/components/chart_selection.py
  vizro-ai/src/vizro_ai/plot/components/code_validation.py
  vizro-ai/src/vizro_ai/plot/components/custom_chart_wrap.py
  vizro-ai/src/vizro_ai/plot/components/dataframe_craft.py
  vizro-ai/src/vizro_ai/plot/components/explanation.py
  vizro-ai/src/vizro_ai/plot/components/visual_code.py
  vizro-ai/src/vizro_ai/plot/task_pipeline/_pipeline_manager.py
  vizro-ai/src/vizro_ai/utils/helper.py
  vizro-ai/tests/unit/vizro-ai/plot/components/test_chart_selection.py
  vizro-ai/tests/unit/vizro-ai/plot/components/test_dataframe_craft.py
  vizro-ai/tests/unit/vizro-ai/plot/components/test_visual_code.py
Labels: Vizro-AI :robot:

#605 [Bug] Fix a false positive in integration test
  vizro-ai/changelog.d/20240730_121955_lingyi_zhang_fix_false_positive.md
  vizro-ai/tests/integration/test_example.py
Labels: Vizro-AI :robot:
