Repository mckinsey/vizro, pull requests merged in 2024-11, with the labels that each got.

#847 [Demo] Vizro-AI chart UI updates
  vizro-ai/changelog.d/20241101_103905_nadija_ratkusic_graca_show_data_table.md
  vizro-ai/docs/pages/user-guides/customize-vizro-ai.md
  vizro-ai/examples/dashboard_ui/actions.py
  vizro-ai/examples/dashboard_ui/app.py
  vizro-ai/examples/dashboard_ui/assets/custom_css.css
  vizro-ai/examples/dashboard_ui/components.py
  vizro-ai/examples/dashboard_ui/requirements.in
  vizro-ai/examples/dashboard_ui/requirements.txt
  vizro-ai/src/vizro_ai/_llm_models.py
Labels: Vizro-AI :robot:

#848 [docs] Close Hacktoberfest docs tickets with fixes for Vale issues
  .vale/styles/Microsoft/Headings.yml
  vizro-ai/docs/pages/user-guides/add-generated-chart-usecase.md
  vizro-ai/docs/pages/user-guides/advanced-options.md
  vizro-ai/docs/pages/user-guides/customize-vizro-ai.md
  vizro-ai/docs/pages/user-guides/install.md
  vizro-ai/docs/pages/user-guides/retrieve-dashboard-code.md
  vizro-ai/docs/pages/user-guides/run-vizro-ai.md
  vizro-core/docs/pages/explanation/authors.md
  vizro-core/docs/pages/explanation/contributing.md
  vizro-core/docs/pages/explanation/faq.md
  vizro-core/docs/pages/explanation/your-examples.md
  vizro-core/docs/pages/tutorials/explore-components.md
  vizro-core/docs/pages/user-guides/assets.md
  vizro-core/docs/pages/user-guides/custom-charts.md
  vizro-core/docs/pages/user-guides/custom-css.md
  vizro-core/docs/pages/user-guides/graph.md
  vizro-core/docs/pages/user-guides/run.md
  vizro-core/docs/pages/user-guides/table.md
  vizro-core/docs/pages/user-guides/themes.md
  vizro-core/docs/pages/user-guides/visual-formatting.md
Labels: Docs :spiral_notepad:, Vizro-AI :robot:

#855 [Release] Release of vizro-ai 0.3.1
  vizro-ai/CHANGELOG.md
  vizro-ai/changelog.d/20241002_103550_nadija_ratkusic_graca_update_requirements.md
  vizro-ai/changelog.d/20241002_151023_runner.md
  vizro-ai/changelog.d/20241007_140626_jo_stichbury_794.md
  vizro-ai/changelog.d/20241016_133757_antony.milne_bump_python_py39.md
  vizro-ai/changelog.d/20241029_220013_lingyi_zhang_bind_vizroai_as_tool.md
  vizro-ai/changelog.d/20241101_103905_nadija_ratkusic_graca_show_data_table.md
  vizro-ai/changelog.d/20241106_113000_nadija_ratkusic_graca_tidy_available_models.md
  vizro-ai/changelog.d/20241106_131649_maximilian_schulz_0_3_1.md
  vizro-ai/src/vizro_ai/__init__.py
Labels: Vizro-AI :robot:

#853 [Tidy] Update model names and add PyCafe link
  vizro-ai/README.md
  vizro-ai/changelog.d/20241105_141708_lingyi_zhang_update_docs_to_reflect_changes.md
  vizro-ai/docs/pages/explanation/safety-in-vizro-ai.md
  vizro-ai/docs/pages/user-guides/chart-examples.md
  vizro-ai/docs/pages/user-guides/customize-vizro-ai.md
  vizro-ai/examples/chart_by_vizro_ai.ipynb
  vizro-ai/examples/dashboard_by_vizro_ai.ipynb
  vizro-ai/examples/example.ipynb
  vizro-ai/src/vizro_ai/_llm_models.py
  vizro-ai/tests/integration/test_dashboard.py
Labels: Vizro-AI :robot:

#858 [Feat] Add xAI grok-beta to code
  vizro-ai/changelog.d/20241107_112343_lingyi_zhang_xai.md
  vizro-ai/examples/dashboard_ui/actions.py
  vizro-ai/examples/dashboard_ui/app.py
  vizro-ai/examples/dashboard_ui/assets/custom_css.css
  vizro-ai/examples/dashboard_ui/components.py
  vizro-ai/examples/example.ipynb
  vizro-ai/src/vizro_ai/_llm_models.py
  vizro-ai/src/vizro_ai/plot/_response_models.py
Labels: Vizro-AI :robot:

#860 [Release] Release of vizro 0.3.2
  vizro-ai/CHANGELOG.md
  vizro-ai/changelog.d/20241106_123658_runner.md
  vizro-ai/changelog.d/20241106_131649_maximilian_schulz_0_3_1.md
  vizro-ai/changelog.d/20241107_112343_lingyi_zhang_xai.md
  vizro-ai/changelog.d/20241108_085722_maximilian_schulz_0_3_2.md
  vizro-ai/src/vizro_ai/__init__.py
Labels: Vizro-AI :robot:

#861 [Tidy] Improve markdown strip and add tests
  .github/workflows/build-vizro-whl.yml
  vizro-ai/changelog.d/20241108_102707_maximilian_schulz_some_cleanup.md
  vizro-ai/examples/dashboard_ui/requirements.in
  vizro-ai/examples/dashboard_ui/requirements.txt
  vizro-ai/src/vizro_ai/plot/_response_models.py
  vizro-ai/tests/unit/vizro-ai/plot/test_response_model.py
Labels: Vizro-AI :robot:

#702 [QA] Automatic vizro ai score tests
  .github/workflows/test-integration-vizro-ai.yml
  .github/workflows/test-score-vizro-ai.yml
  vizro-ai/changelog.d/20240917_174515_alexey_snigir_automatic_vizro_ai_score_tests.md
  vizro-ai/hatch.toml
  vizro-ai/tests/integration/test_dashboard.py
  vizro-ai/tests/score/pytest.ini
  vizro-ai/tests/score/test_dashboard.py
Labels: Vizro-AI :robot:

#868 [Demo] Add banner to visual vocabulary dashboard
  vizro-ai/examples/dashboard_ui/app.py
  vizro-core/changelog.d/20241112_123240_nadija_ratkusic_graca_add_banner_to_demo_dashboards.md
  vizro-core/examples/visual-vocabulary/app.py
  vizro-core/examples/visual-vocabulary/assets/css/custom.css
Labels: Vizro-AI :robot:

#870 [Docs] Add risk mitigation links
  vizro-ai/changelog.d/20241112_202616_nadija_ratkusic_graca_add_risk_mitigation_links.md
  vizro-ai/docs/pages/user-guides/customize-vizro-ai.md
Labels: Docs :spiral_notepad:, Vizro-AI :robot:

#876 [Demo] Adjust layout for smaller screensize
  vizro-ai/changelog.d/20241113_200250_nadija_ratkusic_graca_css_fixes.md
  vizro-ai/examples/dashboard_ui/app.py
  vizro-ai/examples/dashboard_ui/assets/custom_css.css
  vizro-ai/examples/dashboard_ui/components.py
Labels: Vizro-AI :robot:

#863 [Docs] Update code snippets to remove unnecessary id assignment
  vizro-ai/docs/pages/user-guides/add-generated-chart-usecase.md
  vizro-core/docs/pages/tutorials/first-dashboard.md
  vizro-core/docs/pages/user-guides/card-button.md
  vizro-core/docs/pages/user-guides/custom-components.md
  vizro-core/docs/pages/user-guides/filters.md
  vizro-core/docs/pages/user-guides/run.md
Labels: Docs :spiral_notepad:, Vizro-AI :robot:

#893 [CI] Allow pre-releases
  vizro-ai/hatch.toml
  vizro-core/hatch.toml
Labels: Vizro-AI :robot:

#883 [Docs] Restructure of Vizro-AI dashboard docs
  vizro-ai/docs/index.md
  vizro-ai/docs/pages/user-guides/chart-examples.md
  vizro-ai/docs/pages/user-guides/create-advanced-charts.md
  vizro-ai/docs/pages/user-guides/create-complex-dashboard.md
  vizro-ai/docs/pages/user-guides/retrieve-dashboard-code.md
  vizro-ai/docs/pages/user-guides/run-vizro-ai-dashboard.md
  vizro-ai/mkdocs.yml
  vizro-core/mkdocs.yml
Labels: Vizro-AI :robot:

#886 [Tidy] Remove all CSS variables and tokens
  vizro-core/changelog.d/20241119_173819_huong_li_nguyen_remove_variables.md
  vizro-core/docs/pages/user-guides/custom-css.md
  vizro-core/docs/pages/user-guides/custom-tables.md
  vizro-core/src/vizro/static/css/aggrid.css
  vizro-core/src/vizro/static/css/bootstrap_overwrites.css
  vizro-core/src/vizro/static/css/container.css
  vizro-core/src/vizro/static/css/datepicker.css
  vizro-core/src/vizro/static/css/dropdown.css
  vizro-core/src/vizro/static/css/layout.css
  vizro-core/src/vizro/static/css/scroll_bar.css
  vizro-core/src/vizro/static/css/slider.css
  vizro-core/src/vizro/static/css/table.css
  vizro-core/src/vizro/static/css/tabs.css
  vizro-core/src/vizro/static/css/toggle.css
  vizro-core/src/vizro/static/css/token_names.css
  vizro-core/src/vizro/static/css/variables.css
  vizro-core/src/vizro/tables/_dash_table.py
  vizro-core/tests/unit/vizro/tables/test_dash_table.py
Labels: Vizro-AI :robot:

#904 [CI] Do not use prereleases
  vizro-ai/hatch.toml
  vizro-core/hatch.toml
Labels: Vizro-AI :robot:

#900 [Docs] Tidy authors page
  vizro-core/docs/pages/explanation/authors.md
Labels: Docs :spiral_notepad:

#898 [Tidy] Add stylelint rule to flag unmatched CSS properties
  .stylelintrc
  vizro-ai/examples/dashboard_ui/assets/custom.css
Labels: Vizro-AI :robot:
