Repository mckinsey/vizro, pull requests merged in 2024-01, with the labels that each got.

#244 update docs for meta tags feature
  vizro-core/changelog.d/20240102_064659_amward_update_docs_meta_tags.md
  vizro-core/docs/pages/development/contributing.md
  vizro-core/docs/pages/user_guides/assets.md
  vizro-core/docs/pages/user_guides/dashboard.md
  vizro-core/docs/pages/user_guides/pages.md
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Docs :spiral_notepad:

#237 Bug fix on update nested graph properties
  CODEOWNERS
  vizro-core/changelog.d/20231222_112619_nadija_ratkusic_graca_parameter_bug.md
  vizro-core/docs/pages/development/authors.md
  vizro-core/src/vizro/actions/_actions_utils.py
  vizro-core/tests/unit/vizro/actions/test_actions_utils.py
Labels: Status: Ready for Review :ballot_box_with_check:, Issue: Bug Report :bug:

#247 Release of vizro-core 0.1.8
  vizro-core/CHANGELOG.md
  vizro-core/changelog.d/20231215_131354_petar_pejovic_0_1_7.md
  vizro-core/changelog.d/20231215_145925_petar_pejovic_0_1_8_dev0.md
  vizro-core/changelog.d/20231215_161134_maximilian_schulz_fix_release_process.md
  vizro-core/changelog.d/20231218_112924_alexey_snigir_lib_check_fix.md
  vizro-core/changelog.d/20231218_133855_huong_li_nguyen_arrange_containers.md
  vizro-core/changelog.d/20231218_171411_antony.milne_pr_template.md
  vizro-core/changelog.d/20231218_204302_antony.milne_improve_dashboard_title.md
  vizro-core/changelog.d/20231219_122358_alexey_snigir_get_logs_fix.md
  vizro-core/changelog.d/20231219_125122_antony.milne_pre_commit.md
  vizro-core/changelog.d/20231219_162443_maximilian_schulz_improve_custom_chart_docs.md
  vizro-core/changelog.d/20231219_171218_antony.milne_assert_components_equal.md
  vizro-core/changelog.d/20231221_052426_amward_update_meta_tags.md
  vizro-core/changelog.d/20231222_091555_huong_li_nguyen_fix_invisible_button.md
  vizro-core/changelog.d/20231222_112619_nadija_ratkusic_graca_parameter_bug.md
  vizro-core/changelog.d/20240102_064659_amward_update_docs_meta_tags.md
  vizro-core/changelog.d/20240102_095818_huong_li_nguyen_pre_commit_ci_update_config.md
  vizro-core/changelog.d/20240104_125358_nadija_ratkusic_graca_0_1_8.md
  vizro-core/schemas/0.1.7.json
  vizro-core/schemas/0.1.8.json
  vizro-core/src/vizro/__init__.py
Labels: Status: Ready for Review :ballot_box_with_check:, RELEASE

#250 Bump vizro-core-0.1.9.dev0
  vizro-core/changelog.d/20240104_144414_nadija_ratkusic_graca_0_1_9_dev0.md
  vizro-core/schemas/0.1.9.dev0.json
  vizro-core/src/vizro/__init__.py
Labels: Status: Ready for Review :ballot_box_with_check:, RELEASE

#252 Release of vizro-ai 0.1.1
  vizro-ai/CHANGELOG.md
  vizro-ai/changelog.d/20231113_115109_lingyi_zhang_vizro_ai.md
  vizro-ai/changelog.d/20231113_183619_alexey_snigir.md
  vizro-ai/changelog.d/20231114_161107_antony.milne_release_lint.md
  vizro-ai/changelog.d/20231128_173055_antony.milne_models_navigation_navbar.md
  vizro-ai/changelog.d/20231205_121131_antony.milne.md
  vizro-ai/changelog.d/20231206_212921_antony.milne_pydantic_v2.md
  vizro-ai/changelog.d/20231208_135526_lingyi_zhang_snyk_issues_1208.md
  vizro-ai/changelog.d/20231213_231202_huong_li_nguyen_convert_warnings_into_errors.md
  vizro-ai/changelog.d/20231214_163129_huong_li_nguyen_add_python_312.md
  vizro-ai/changelog.d/20240104_173912_maximilian_schulz_fix_vizro_ai_field_reference.md
  vizro-ai/changelog.d/20240104_182627_maximilian_schulz_0_1_1.md
  vizro-ai/src/vizro_ai/__init__.py
Labels: RELEASE

#256 Add keyword `explain` to private vizro-ai method
  CODEOWNERS
  vizro-ai/changelog.d/20240109_112642_maximilian_schulz_missing_argument.md
  vizro-ai/docs/pages/user_guides/run_vizro_ai.md
Labels: Status: Ready for Review :ballot_box_with_check:, Issue: Bug Report :bug:, Component: Vizro-AI :robot:

#257 Apply `ctx` abbreviation consistently
  vizro-core/changelog.d/20240109_140626_huong_li_nguyen_use_ctx_short.md
  vizro-core/src/vizro/actions/_actions_utils.py
  vizro-core/tests/unit/vizro/actions/test_export_data_action.py
  vizro-core/tests/unit/vizro/actions/test_filter_action.py
  vizro-core/tests/unit/vizro/actions/test_filter_interaction_action.py
  vizro-core/tests/unit/vizro/actions/test_on_page_load_action.py
  vizro-core/tests/unit/vizro/actions/test_parameter_action.py
  vizro-core/tests/unit/vizro/models/_components/test_graph.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Refactoring :superhero:

#258 Add warnings about incompatibility with dbc.themes
  vizro-core/changelog.d/20240109_183336_huong_li_nguyen_warning_bootstrap.md
  vizro-core/docs/pages/user_guides/assets.md
  vizro-core/docs/pages/user_guides/custom_components.md
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Docs :spiral_notepad:

#264 Docs: improved value proposition
  vizro-core/changelog.d/20240111_124930_maximilian_schulz_improve_value_proposition.md
  vizro-core/docs/pages/explanation/why_vizro.md
  vizro-core/docs/stylesheets/extra.css
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Docs :spiral_notepad:

#261 Feat/add max debug retry parameter
  vizro-ai/changelog.d/20240110_093842_anna_xiong_add_max_retry_parameter.md
  vizro-ai/docs/pages/user_guides/run_vizro_ai.md
  vizro-ai/src/vizro_ai/_vizro_ai.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Vizro-AI :robot:

#238 Introduce page-header for dashboard-title and settings
  vizro-core/changelog.d/20240103_210035_huong_li_nguyen_dashboard_title_position.md
  vizro-core/docs/pages/user_guides/dashboard.md
  vizro-core/examples/default/app.py
  vizro-core/src/vizro/models/_dashboard.py
  vizro-core/src/vizro/static/css/card.css
  vizro-core/src/vizro/static/css/layout.css
  vizro-core/src/vizro/static/css/scroll_bar.css
Labels: Type: Technical DR :floppy_disk:, Status: Ready for Review :ballot_box_with_check:

#248 Enable automatic `logo` insertion
  vizro-core/changelog.d/20240104_141852_huong_li_nguyen_enable_logo.md
  vizro-core/examples/assets/css/custom.css
  vizro-core/src/vizro/models/_dashboard.py
  vizro-core/src/vizro/models/_page.py
  vizro-core/src/vizro/static/css/layout.css
  vizro-core/src/vizro/static/css/scroll_bar.css
Labels: Status: Ready for Review :ballot_box_with_check:, Issue: Feature Request :nerd_face:

#266 Bugfix on sliders value
  .prettierignore
  vizro-core/changelog.d/20240115_110324_nadija_ratkusic_graca_slider_value_bug.md
  vizro-core/schemas/0.1.9.dev0.json
  vizro-core/src/vizro/models/_components/form/range_slider.py
  vizro-core/src/vizro/models/_components/form/slider.py
  vizro-core/tests/unit/vizro/models/_components/form/test_range_slider.py
  vizro-core/tests/unit/vizro/models/_components/form/test_slider.py
Labels: Status: Ready for Review :ballot_box_with_check:, Issue: Bug Report :bug:

#267 Tidy demo apps and `examples` folder
  vizro-core/changelog.d/20240112_161730_huong_li_nguyen_split_up_demo.md
  vizro-core/docs/pages/development/contributing.md
  vizro-core/docs/pages/user_guides/actions.md
  vizro-core/docs/pages/user_guides/assets.md
  vizro-core/docs/pages/user_guides/components.md
  vizro-core/docs/pages/user_guides/custom_actions.md
  vizro-core/docs/pages/user_guides/custom_charts.md
  vizro-core/docs/pages/user_guides/custom_components.md
  vizro-core/docs/pages/user_guides/dashboard.md
  vizro-core/docs/pages/user_guides/data.md
  vizro-core/docs/pages/user_guides/filters.md
  vizro-core/docs/pages/user_guides/graph.md
  vizro-core/docs/pages/user_guides/layouts.md
  vizro-core/docs/pages/user_guides/navigation.md
  vizro-core/docs/pages/user_guides/pages.md
  vizro-core/docs/pages/user_guides/parameters.md
  vizro-core/docs/pages/user_guides/table.md
  vizro-core/docs/pages/user_guides/themes.md
  vizro-core/examples/_dev/app.py
  vizro-core/examples/_dev/assets/css/custom.css
  vizro-core/examples/_dev/assets/favicon.ico
  vizro-core/examples/_dev/assets/images/app.svg
  vizro-core/examples/_dev/assets/images/logo.svg
  vizro-core/examples/_dev/yaml_version/app.py
  vizro-core/examples/_dev/yaml_version/dashboard.yaml
  vizro-core/examples/demo/app.py
  vizro-core/examples/demo/assets/css/custom.css
  vizro-core/examples/demo/assets/favicon.ico
  vizro-core/examples/demo/assets/images/app.svg
  vizro-core/examples/demo/assets/images/continents/africa.svg
  vizro-core/examples/demo/assets/images/continents/america.svg
  vizro-core/examples/demo/assets/images/continents/asia.svg
  vizro-core/examples/demo/assets/images/continents/europe.svg
  vizro-core/examples/demo/assets/images/continents/oceania.svg
  vizro-core/examples/demo/assets/images/icons/collections.svg
  vizro-core/examples/demo/assets/images/icons/features.svg
  vizro-core/examples/demo/assets/images/icons/hypotheses.svg
  vizro-core/examples/demo/assets/images/logo.svg
  vizro-core/examples/demo/jupyter_version/app.ipynb
  vizro-core/examples/demo/yaml_version/app.py
  vizro-core/examples/demo/yaml_version/dashboard.yaml
  vizro-core/examples/features/app.py
  vizro-core/examples/features/assets/css/custom.css
  vizro-core/examples/features/assets/favicon.ico
  vizro-core/examples/features/assets/images/app.svg
  vizro-core/examples/features/assets/images/icons/download.svg
  vizro-core/examples/features/assets/images/icons/filters.svg
  vizro-core/examples/features/assets/images/icons/line-chart.svg
  vizro-core/examples/features/assets/images/icons/use-case.svg
  vizro-core/examples/features/assets/images/logo.svg
  vizro-core/examples/features/yaml_version/app.py
  vizro-core/examples/features/yaml_version/dashboard.yaml
  vizro-core/examples/from_dict/app.py
  vizro-core/examples/from_json/app.py
  vizro-core/examples/from_json/dashboard.json
  vizro-core/examples/from_yaml/app.py
  vizro-core/hatch.toml
  vizro-core/tests/integration/test_examples.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Refactoring :superhero:

#272 Fix overflowing of `table-container` and add styling to pagination tab
  vizro-core/changelog.d/20240119_110922_huong_li_nguyen_fix_table.md
  vizro-core/examples/demo/app.py
  vizro-core/examples/demo/jupyter_version/app.ipynb
  vizro-core/examples/demo/yaml_version/dashboard.yaml
  vizro-core/src/vizro/static/css/scroll_bar.css
  vizro-core/src/vizro/static/css/table.css
Labels: Status: Ready for Review :ballot_box_with_check:, Issue: Bug Report :bug:

#273 Refactor injection of components into layout
  vizro-core/src/vizro/models/_components/_form.py
  vizro-core/src/vizro/models/_components/container.py
  vizro-core/src/vizro/models/_layout.py
  vizro-core/src/vizro/models/_page.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Refactoring :superhero:

#274 Temp fix dependency issues of kedro and pandas
  vizro-ai/changelog.d/20240122_113617_anna_xiong_add_depdency_Pyarrow.md
  vizro-ai/pyproject.toml
  vizro-ai/snyk/requirements.txt
  vizro-core/changelog.d/20240122_114344_anna_xiong_add_depdency_Pyarrow.md
  vizro-core/pyproject.toml
  vizro-core/snyk/requirements.txt
Labels: Status: Ready for Review :ballot_box_with_check:, dependencies

#254 Introduce `Container` model
  vizro-core/changelog.d/20240105_163349_huong_li_nguyen_enable_containers.md
  vizro-core/pyproject.toml
  vizro-core/schemas/0.1.9.dev0.json
  vizro-core/src/vizro/actions/_action_loop/_action_loop_utils.py
  vizro-core/src/vizro/actions/_callback_mapping/_callback_mapping_utils.py
  vizro-core/src/vizro/actions/_on_page_load_action.py
  vizro-core/src/vizro/managers/_data_manager.py
  vizro-core/src/vizro/managers/_model_manager.py
  vizro-core/src/vizro/models/__init__.py
  vizro-core/src/vizro/models/_components/__init__.py
  vizro-core/src/vizro/models/_components/_form.py
  vizro-core/src/vizro/models/_components/container.py
  vizro-core/src/vizro/models/_controls/filter.py
  vizro-core/src/vizro/models/_controls/parameter.py
  vizro-core/src/vizro/models/_dashboard.py
  vizro-core/src/vizro/models/_layout.py
  vizro-core/src/vizro/models/_models_utils.py
  vizro-core/src/vizro/models/_page.py
  vizro-core/src/vizro/models/types.py
  vizro-core/src/vizro/static/css/container.css
  vizro-core/src/vizro/static/css/layout.css
  vizro-core/tests/unit/vizro/models/test_layout.py
  vizro-core/tests/unit/vizro/models/test_page.py
Labels: Status: Ready for Review :ballot_box_with_check:, Issue: Feature Request :nerd_face:

#270 Feature: load env automatically
  vizro-ai/changelog.d/20240118_144903_anna_xiong_load_env_automatically.md
  vizro-ai/docs/pages/tutorials/explore_vizro_ai.md
  vizro-ai/docs/pages/tutorials/quickstart.md
  vizro-ai/docs/pages/user_guides/api_setup.md
  vizro-ai/docs/pages/user_guides/run_vizro_ai.md
  vizro-ai/src/vizro_ai/__init__.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Vizro-AI :robot:

#277 Fix scrolling and viewport bug on Safari
  vizro-core/changelog.d/20240123_093932_huong_li_nguyen_clean_up_docstrings.md
  vizro-core/examples/_dev/app.py
  vizro-core/pyproject.toml
  vizro-core/snyk/requirements.txt
  vizro-core/src/vizro/_vizro.py
  vizro-core/src/vizro/models/_dashboard.py
  vizro-core/src/vizro/models/_layout.py
  vizro-core/src/vizro/models/types.py
  vizro-core/src/vizro/static/css/layout.css
  vizro-core/tests/tests_utils/asserts.py
Labels: Status: Ready for Review :ballot_box_with_check:, Issue: Bug Report :bug:

#225 Enabled collapsible panel
  vizro-core/changelog.d/20240112_163629_nadija_ratkusic_graca_enable_collapsible_panel.md
  vizro-core/docs/assets/user_guides/actions/actions_chaining.png
  vizro-core/docs/assets/user_guides/actions/actions_export.png
  vizro-core/docs/assets/user_guides/actions/actions_filter_interaction.png
  vizro-core/docs/assets/user_guides/actions/actions_table_filter_interaction.png
  vizro-core/docs/assets/user_guides/components/button.png
  vizro-core/docs/assets/user_guides/control/control1.png
  vizro-core/docs/assets/user_guides/control/control2.png
  vizro-core/docs/assets/user_guides/control/control3.png
  vizro-core/docs/assets/user_guides/control/control4.png
  vizro-core/docs/assets/user_guides/control/control5.png
  vizro-core/docs/assets/user_guides/custom_actions/custom_action_inputs_outputs.png
  vizro-core/docs/assets/user_guides/custom_actions/custom_action_multiple_return_values.png
  vizro-core/docs/assets/user_guides/custom_charts/custom_chart_enhanced_scatter.png
  vizro-core/docs/assets/user_guides/custom_charts/custom_chart_waterfall.png
  vizro-core/docs/assets/user_guides/custom_components/customcomponent_1.png
  vizro-core/docs/assets/user_guides/dashboard/dashboard.png
  vizro-core/docs/assets/user_guides/data/data_pandas_dataframe.png
  vizro-core/docs/assets/user_guides/data/data_selected_from_source.png
  vizro-core/docs/assets/user_guides/pages/page_sunburst.png
  vizro-core/docs/assets/user_guides/table/custom_table.png
  vizro-core/docs/assets/user_guides/table/styled_table.png
  vizro-core/docs/assets/user_guides/table/table.png
  vizro-core/docs/assets/user_guides/themes/dark.png
  vizro-core/docs/assets/user_guides/themes/light.png
  vizro-core/docs/pages/user_guides/data.md
  vizro-core/docs/pages/user_guides/navigation.md
  vizro-core/src/vizro/models/_dashboard.py
  vizro-core/src/vizro/static/css/collapse.css
  vizro-core/src/vizro/static/css/layout.css
  vizro-core/src/vizro/static/css/token_names.css
  vizro-core/src/vizro/static/css/variables.css
  vizro-core/src/vizro/static/js/clientside_functions.js
  vizro-core/src/vizro/static/js/models/dashboard.js
  vizro-core/tests/js/models/dashboard.test.js
Labels: Status: Ready for Review :ballot_box_with_check:, Issue: Feature Request :nerd_face:

#271 Add vizro ai task pipeline
  vizro-ai/changelog.d/20240119_112647_anna_xiong_task_pipeline_v1.md
  vizro-ai/src/vizro_ai/_vizro_ai.py
  vizro-ai/src/vizro_ai/task_pipeline/__init_.py
  vizro-ai/src/vizro_ai/task_pipeline/_pipeline.py
  vizro-ai/src/vizro_ai/task_pipeline/_pipeline_manager.py
Labels: Status: Ready for Review :ballot_box_with_check:, Stage: Technical Design :art:, Component: Vizro-AI :robot:

#278 Add docs and unit tests for dashboard logo
  vizro-core/changelog.d/20240123_131012_nadija_ratkusic_graca_logo.md
  vizro-core/docs/assets/user_guides/components/button.png
  vizro-core/docs/assets/user_guides/components/graph.png
  vizro-core/docs/assets/user_guides/components/graph1.png
  vizro-core/docs/assets/user_guides/dashboard/dashboard_with_logo.png
  vizro-core/docs/assets/user_guides/table/styled_table.png
  vizro-core/docs/assets/user_guides/table/table.png
  vizro-core/docs/pages/user_guides/assets.md
  vizro-core/docs/pages/user_guides/components.md
  vizro-core/docs/pages/user_guides/dashboard.md
  vizro-core/docs/pages/user_guides/graph.md
  vizro-core/docs/pages/user_guides/table.md
  vizro-core/mkdocs.yml
  vizro-core/tests/unit/vizro/models/test_dashboard.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Docs :spiral_notepad:, Component: Tests :test_tube:

#287 Release of vizro-core 0.1.9
  vizro-core/CHANGELOG.md
  vizro-core/changelog.d/20240103_170310_huong_li_nguyen_replace_selected_components.md
  vizro-core/changelog.d/20240103_210035_huong_li_nguyen_dashboard_title_position.md
  vizro-core/changelog.d/20240104_141852_huong_li_nguyen_enable_logo.md
  vizro-core/changelog.d/20240104_144414_nadija_ratkusic_graca_0_1_9_dev0.md
  vizro-core/changelog.d/20240105_163349_huong_li_nguyen_enable_containers.md
  vizro-core/changelog.d/20240109_111254_alexey_snigir_fix_running_status.md
  vizro-core/changelog.d/20240109_140626_huong_li_nguyen_use_ctx_short.md
  vizro-core/changelog.d/20240109_183336_huong_li_nguyen_warning_bootstrap.md
  vizro-core/changelog.d/20240110_111807_alexey_snigir_fix_running_status.md
  vizro-core/changelog.d/20240111_124930_maximilian_schulz_improve_value_proposition.md
  vizro-core/changelog.d/20240112_161730_huong_li_nguyen_split_up_demo.md
  vizro-core/changelog.d/20240112_163629_nadija_ratkusic_graca_enable_collapsible_panel.md
  vizro-core/changelog.d/20240115_110324_nadija_ratkusic_graca_slider_value_bug.md
  vizro-core/changelog.d/20240119_110922_huong_li_nguyen_fix_table.md
  vizro-core/changelog.d/20240122_112645_antony.milne_enable_containers_AM.md
  vizro-core/changelog.d/20240122_114344_anna_xiong_add_depdency_Pyarrow.md
  vizro-core/changelog.d/20240122_200148_huong_li_nguyen_container_model.md
  vizro-core/changelog.d/20240123_093932_huong_li_nguyen_clean_up_docstrings.md
  vizro-core/changelog.d/20240123_131012_nadija_ratkusic_graca_logo.md
  vizro-core/changelog.d/20240125_114940_huong_li_nguyen_0_1_9.md
  vizro-core/docs/pages/user_guides/components.md
  vizro-core/schemas/0.1.8.json
  vizro-core/schemas/0.1.9.json
  vizro-core/src/vizro/__init__.py
Labels: Status: Ready for Review :ballot_box_with_check:, RELEASE

#288 Version bump after vizro-core 0.1.9
  .github/workflows/release-if-needed.yml
  vizro-core/changelog.d/20240125_123044_huong_li_nguyen_0_1_10dev.md
  vizro-core/schemas/0.1.10.dev0.json
  vizro-core/src/vizro/__init__.py
Labels: RELEASE

#265 Add unit tests for `Container`
  vizro-core/changelog.d/20240112_120344_huong_li_nguyen_containers.md
  vizro-core/tests/unit/vizro/actions/_callback_mapping/test_get_action_callback_mapping.py
  vizro-core/tests/unit/vizro/models/_components/test_container.py
  vizro-core/tests/unit/vizro/models/conftest.py
  vizro-core/tests/unit/vizro/models/test_layout.py
  vizro-core/tests/unit/vizro/models/test_models_utils.py
  vizro-core/tests/unit/vizro/models/test_page.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Tests :test_tube:

#276 Bug fix on accordion active item
  vizro-core/changelog.d/20240123_103311_nadija_ratkusic_graca_accordion_active_item.md
  vizro-core/src/vizro/models/_navigation/accordion.py
  vizro-core/tests/unit/vizro/models/_navigation/test_accordion.py
Labels: Status: Ready for Review :ballot_box_with_check:, Issue: Bug Report :bug:

#283 Apply `asserts_component_equal` to unit tests for components
  vizro-core/changelog.d/20240124_104847_nadija_ratkusic_graca_implementing_assets_component_equal.md
  vizro-core/tests/unit/vizro/models/_components/form/test_checklist.py
  vizro-core/tests/unit/vizro/models/_components/form/test_dropdown.py
  vizro-core/tests/unit/vizro/models/_components/form/test_radioitems.py
  vizro-core/tests/unit/vizro/models/_components/form/test_range_slider.py
  vizro-core/tests/unit/vizro/models/_components/form/test_slider.py
  vizro-core/tests/unit/vizro/models/_components/test_card.py
  vizro-core/tests/unit/vizro/models/_components/test_graph.py
  vizro-core/tests/unit/vizro/models/_components/test_table.py
Labels: Status: Ready for Review :ballot_box_with_check:

#280 Introduce `Tabs` model
  vizro-core/changelog.d/20240123_180733_huong_li_nguyen_tabs.md
  vizro-core/examples/_dev/app.py
  vizro-core/examples/features/app.py
  vizro-core/examples/features/yaml_version/dashboard.yaml
  vizro-core/pyproject.toml
  vizro-core/schemas/0.1.10.dev0.json
  vizro-core/src/vizro/managers/_model_manager.py
  vizro-core/src/vizro/models/__init__.py
  vizro-core/src/vizro/models/_components/__init__.py
  vizro-core/src/vizro/models/_components/_form.py
  vizro-core/src/vizro/models/_components/container.py
  vizro-core/src/vizro/models/_components/tabs.py
  vizro-core/src/vizro/models/_models_utils.py
  vizro-core/src/vizro/models/_page.py
  vizro-core/src/vizro/models/types.py
  vizro-core/src/vizro/static/css/tabs.css
  vizro-core/tests/unit/vizro/models/_components/test_container.py
  vizro-core/tests/unit/vizro/models/test_models_utils.py
Labels: Status: Ready for Review :ballot_box_with_check:, Issue: Feature Request :nerd_face:

#291 Add unit tests for `Tabs`
  vizro-core/changelog.d/20240126_143046_huong_li_nguyen_tabs.md
  vizro-core/examples/_dev/app.py
  vizro-core/src/vizro/models/_components/tabs.py
  vizro-core/tests/unit/vizro/actions/_callback_mapping/test_get_action_callback_mapping.py
  vizro-core/tests/unit/vizro/models/_components/test_tabs.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Tests :test_tube:

#284 Enhance docs for `Container`
  vizro-core/changelog.d/20240124_133016_huong_li_nguyen_container_enhancement.md
  vizro-core/docs/assets/user_guides/components/nested_containers.png
  vizro-core/docs/assets/user_guides/layout/grid_advanced.png
  vizro-core/docs/assets/user_guides/layout/stacking.png
  vizro-core/docs/pages/user_guides/container.md
  vizro-core/docs/pages/user_guides/layouts.md
  vizro-core/examples/_dev/app.py
  vizro-core/examples/_dev/yaml_version/dashboard.yaml
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Docs :spiral_notepad:

#282 Add docs for `Tabs`
  vizro-core/changelog.d/20240125_093312_huong_li_nguyen_tabs.md
  vizro-core/docs/assets/user_guides/components/tabs-info.png
  vizro-core/docs/assets/user_guides/components/tabs.png
  vizro-core/docs/pages/user_guides/components.md
  vizro-core/docs/pages/user_guides/container.md
  vizro-core/docs/pages/user_guides/custom_charts.md
  vizro-core/docs/pages/user_guides/layouts.md
  vizro-core/docs/pages/user_guides/tabs.md
  vizro-core/mkdocs.yml
  vizro-core/src/vizro/models/types.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Docs :spiral_notepad:
