Repository mckinsey/vizro, pull requests merged in 2024-02, with the labels that each got.

#302 Improve layouts for small devices
  vizro-core/changelog.d/20240208_105116_huong_li_nguyen_mobile.md
  vizro-core/examples/demo/app.py
  vizro-core/examples/demo/yaml_version/app.py
  vizro-core/examples/demo/yaml_version/dashboard.yaml
  vizro-core/src/vizro/static/css/layout.css
  vizro-core/src/vizro/static/js/models/dashboard.js
  vizro-core/tests/integration/test_examples.py
Labels: Status: Ready for Review :ballot_box_with_check:, Issue: Feature Request :nerd_face:

#310 Docs: update main readme
  README.md
  vizro-ai/changelog.d/20240214_093242_anna_xiong_update_main_readme.md
  vizro-ai/docs/index.md
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Docs :spiral_notepad:

#321 [Ready] Rename docs to remove underscores, fix resulting broken links
  .gitignore
  .prettierignore
  vizro-ai/changelog.d/20240220_115353_jo_stichbury_second_branch_docs_name_changes.md
  vizro-ai/docs/index.md
  vizro-ai/docs/pages/explanation/disclaimer.md
  vizro-ai/docs/pages/explanation/safety-in-vizro-ai.md
  vizro-ai/docs/pages/tutorials/explore-vizro-ai.md
  vizro-ai/docs/pages/tutorials/quickstart.md
  vizro-ai/docs/pages/user-guides/api-setup.md
  vizro-ai/docs/pages/user-guides/install.md
  vizro-ai/docs/pages/user-guides/model-config.md
  vizro-ai/docs/pages/user-guides/run-vizro-ai.md
  vizro-ai/mkdocs.yml
  vizro-core/changelog.d/20240220_140357_jo_stichbury_second_branch_docs_name_changes.md
  vizro-core/docs/pages/API-reference/actions.md
  vizro-core/docs/pages/API-reference/manager.md
  vizro-core/docs/pages/API-reference/models.md
  vizro-core/docs/pages/API-reference/vizro.md
  vizro-core/docs/pages/explanation/why-vizro.md
  vizro-core/docs/pages/tutorials/explore-components.md
  vizro-core/docs/pages/tutorials/first-dashboard.md
  vizro-core/docs/pages/user-guides/actions.md
  vizro-core/docs/pages/user-guides/assets.md
  vizro-core/docs/pages/user-guides/card-button.md
  vizro-core/docs/pages/user-guides/components.md
  vizro-core/docs/pages/user-guides/container.md
  vizro-core/docs/pages/user-guides/custom-actions.md
  vizro-core/docs/pages/user-guides/custom-charts.md
  vizro-core/docs/pages/user-guides/custom-components.md
  vizro-core/docs/pages/user-guides/custom-tables.md
  vizro-core/docs/pages/user-guides/dashboard.md
  vizro-core/docs/pages/user-guides/data.md
  vizro-core/docs/pages/user-guides/filters.md
  vizro-core/docs/pages/user-guides/graph.md
  vizro-core/docs/pages/user-guides/install.md
  vizro-core/docs/pages/user-guides/integration.md
  vizro-core/docs/pages/user-guides/layouts.md
  vizro-core/docs/pages/user-guides/navigation.md
  vizro-core/docs/pages/user-guides/pages.md
  vizro-core/docs/pages/user-guides/parameters.md
  vizro-core/docs/pages/user-guides/run.md
  vizro-core/docs/pages/user-guides/selectors.md
  vizro-core/docs/pages/user-guides/table.md
  vizro-core/docs/pages/user-guides/tabs.md
  vizro-core/docs/pages/user-guides/themes.md
  vizro-core/mkdocs.yml
  vizro-core/src/vizro/models/types.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Docs :spiral_notepad:

#323 Add favicon and changelogs
  vizro-ai/changelog.d/20240220_142800_jo_stichbury_add_favicon.md
  vizro-ai/docs/assets/images/favicon.png
  vizro-core/changelog.d/20240220_142604_jo_stichbury_add_favicon.md
  vizro-core/docs/assets/images/favicon.png
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Docs :spiral_notepad:

#327 Configure CSS linter `stylelint`
  .pre-commit-config.yaml
  .stylelintrc
  vizro-ai/changelog.d/20240221_181059_huong_li_nguyen_apply_alphabetical_css_order.md
  vizro-ai/docs/stylesheets/extra.css
  vizro-core/changelog.d/20240221_180436_huong_li_nguyen_apply_alphabetical_css_order.md
  vizro-core/docs/stylesheets/extra.css
  vizro-core/examples/_dev/assets/css/custom.css
  vizro-core/examples/demo/assets/css/custom.css
  vizro-core/examples/features/assets/css/custom.css
  vizro-core/src/vizro/static/css/accordion.css
  vizro-core/src/vizro/static/css/checklist.css
  vizro-core/src/vizro/static/css/collapse.css
  vizro-core/src/vizro/static/css/container.css
  vizro-core/src/vizro/static/css/dropdown.css
  vizro-core/src/vizro/static/css/index.css
  vizro-core/src/vizro/static/css/layout.css
  vizro-core/src/vizro/static/css/radio_item.css
  vizro-core/src/vizro/static/css/selectors.css
  vizro-core/src/vizro/static/css/slider.css
  vizro-core/src/vizro/static/css/table.css
  vizro-core/src/vizro/static/css/toggle.css
  vizro-core/src/vizro/static/css/token_names.css
  vizro-core/src/vizro/static/css/typography.css
  vizro-core/src/vizro/static/css/user_input.css
Labels: Status: Ready for Review :ballot_box_with_check:, Component: DevOps/Setup :classical_building:

#311 Add default Bootstrap theme and overwrite CSS
  vizro-core/changelog.d/20240214_201401_huong_li_nguyen_fix_bootstrap_plugin.md
  vizro-core/docs/pages/user-guides/assets.md
  vizro-core/docs/pages/user-guides/custom-components.md
  vizro-core/examples/_dev/app.py
  vizro-core/src/vizro/_vizro.py
  vizro-core/src/vizro/models/_components/card.py
  vizro-core/src/vizro/models/_components/form/_text_area.py
  vizro-core/src/vizro/models/_navigation/nav_link.py
  vizro-core/src/vizro/static/css/accordion.css
  vizro-core/src/vizro/static/css/button.css
  vizro-core/src/vizro/static/css/card.css
  vizro-core/src/vizro/static/css/layout.css
  vizro-core/src/vizro/static/css/slider.css
  vizro-core/src/vizro/static/css/token_names.css
  vizro-core/src/vizro/static/css/types.css
  vizro-core/src/vizro/static/css/typography.css
  vizro-core/src/vizro/static/css/user_input.css
  vizro-core/src/vizro/static/css/variables.css
  vizro-core/src/vizro/static/js/models/dashboard.js
  vizro-core/tests/unit/vizro/models/_components/form/test_text_area.py
  vizro-core/tests/unit/vizro/models/_components/test_card.py
  vizro-core/tests/unit/vizro/models/_navigation/test_nav_link.py
Labels: Type: Technical DR :floppy_disk:, Status: Ready for Review :ballot_box_with_check:

#325 Create a documentation style guide to apply across docs
  vizro-core/changelog.d/20240221_121749_jo_stichbury_create_style_guide.md
  vizro-core/docs/pages/development/documentation-style-guide.md
  vizro-core/mkdocs.yml
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Docs :spiral_notepad:

#322 [Docs] Add explanations on debugging and re-loading to the run methods
  vizro-core/changelog.d/20240221_102202_jo_stichbury_run_method_updating.md
  vizro-core/docs/pages/user-guides/run.md
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Docs :spiral_notepad:

#332 [Bug] Fix CSS on `page-main` in mobile layouts
  vizro-core/changelog.d/20240226_100408_huong_li_nguyen_fix_css_grid.md
  vizro-core/src/vizro/static/css/card.css
  vizro-core/src/vizro/static/css/layout.css
Labels: Status: Ready for Review :ballot_box_with_check:, Issue: Bug Report :bug:

#333 [Demo] Update features example dashboard with selectors
  vizro-core/changelog.d/20240226_181547_huong_li_nguyen_add_selectors.md
  vizro-core/examples/features/app.py
  vizro-core/examples/features/yaml_version/app.py
  vizro-core/examples/features/yaml_version/dashboard.yaml
  vizro-core/schemas/0.1.12.dev0.json
  vizro-core/src/vizro/models/_components/form/_text_area.py
  vizro-core/src/vizro/models/_components/form/_user_input.py
  vizro-core/src/vizro/models/_components/form/checklist.py
  vizro-core/src/vizro/models/_components/form/dropdown.py
  vizro-core/src/vizro/models/_components/form/radio_items.py
  vizro-core/src/vizro/models/_components/form/range_slider.py
  vizro-core/src/vizro/models/_components/form/slider.py
  vizro-core/src/vizro/static/css/table.css
Labels: Status: Ready for Review :ballot_box_with_check:, Issue: Feature Request :nerd_face:

#337 [Docs] Edit docs for readability part 1
  vizro-core/changelog.d/20240227_123915_jo_stichbury_light_edit_for_readability.md
  vizro-core/docs/index.md
  vizro-core/docs/pages/development/authors.md
  vizro-core/docs/pages/development/contributing.md
  vizro-core/docs/pages/development/documentation-style-guide.md
  vizro-core/docs/pages/explanation/why-vizro.md
  vizro-core/docs/pages/tutorials/explore-components.md
  vizro-core/docs/pages/tutorials/first-dashboard.md
  vizro-core/docs/pages/user-guides/actions.md
  vizro-core/docs/pages/user-guides/assets.md
  vizro-core/docs/pages/user-guides/card-button.md
  vizro-core/docs/pages/user-guides/components.md
  vizro-core/docs/pages/user-guides/container.md
  vizro-core/docs/pages/user-guides/custom-actions.md
  vizro-core/docs/pages/user-guides/custom-charts.md
  vizro-core/docs/pages/user-guides/custom-components.md
  vizro-core/docs/pages/user-guides/dashboard.md
  vizro-core/docs/pages/user-guides/data.md
  vizro-core/docs/pages/user-guides/filters.md
  vizro-core/docs/pages/user-guides/install.md
  vizro-core/docs/pages/user-guides/integration.md
  vizro-core/docs/pages/user-guides/layouts.md
  vizro-core/docs/pages/user-guides/navigation.md
  vizro-core/docs/pages/user-guides/parameters.md
  vizro-core/docs/pages/user-guides/selectors.md
  vizro-core/docs/pages/user-guides/table.md
  vizro-core/docs/pages/user-guides/themes.md
  vizro-core/mkdocs.yml
Labels: Component: Docs :spiral_notepad:
