Repository mckinsey/vizro, pull requests merged in 2024-05, with the labels that each got.

#444 [Tidy] Revert to original fixed version of chromedriver-autoinstaller
  vizro-core/changelog.d/20240429_140631_antony.milne_chrome_autoinstaller.md
  vizro-core/hatch.toml
  vizro-core/tests/integration/test_examples.py
  vizro-core/tests/unit/vizro/models/_controls/test_filter.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: DevOps/Setup :classical_building:

#449 [Tidy] Update langchain upper bound
  vizro-ai/changelog.d/20240501_111259_anna_xiong_langchian_verison_upperbound.md
  vizro-ai/pyproject.toml
  vizro-ai/snyk/requirements.txt
  vizro-ai/src/vizro_ai/__init__.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Vizro-AI :robot:

#450 [Docs] Add gpt4 turbo to the model options
  vizro-ai/changelog.d/20240502_112941_lingyi_zhang_default_model.md
  vizro-ai/docs/pages/user-guides/customize-vizro-ai.md
  vizro-ai/src/vizro_ai/chains/_llm_models.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Docs :spiral_notepad:

#443 [Docs] add azure open ai
  vizro-ai/changelog.d/20240426_172859_anna_xiong_add_azure_open_ai.md
  vizro-ai/docs/pages/user-guides/customize-vizro-ai.md
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Vizro-AI :robot:

#461 [Docs] Make dynamic data example more visual
  vizro-core/changelog.d/20240507_103547_huong_li_nguyen_improve_dm_example.md
  vizro-core/docs/assets/user_guides/data/data_pandas_dataframe.png
  vizro-core/docs/assets/user_guides/data/dynamic_data.gif
  vizro-core/docs/pages/user-guides/data.md
  vizro-core/examples/_dev/app.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Docs :spiral_notepad:

#452 [Docs] Add GIF to docs index page
  vizro-ai/changelog.d/20240503_150635_jo_stichbury_add_gif_to_index.md
  vizro-ai/docs/index.md
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Docs :spiral_notepad:

#455 [Tidy] Store `page.id` in outer page container to enable page specific styling
  vizro-core/changelog.d/20240506_132324_huong_li_nguyen_store_page_id.md
  vizro-core/docs/assets/user_guides/assets/css_page_title.png
  vizro-core/docs/pages/user-guides/assets.md
  vizro-core/examples/_dev/app.py
  vizro-core/examples/_dev/assets/css/custom.css
  vizro-core/src/vizro/_themes/_templates/common_values.py
  vizro-core/src/vizro/models/_dashboard.py
  vizro-core/src/vizro/models/_page.py
  vizro-core/src/vizro/static/css/aggrid.css
  vizro-core/src/vizro/static/css/dropdown.css
  vizro-core/src/vizro/static/css/layout.css
  vizro-core/src/vizro/static/css/toggle.css
  vizro-core/tests/unit/vizro/models/test_page.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Docs :spiral_notepad:, Component: Refactoring :superhero:, Issue: Feature Request :nerd_face:

#464 [Docs] Fix typo in explore components docs page
  vizro-core/changelog.d/20240508_101042_jo_stichbury_fix_typo_in_explore_components.md
  vizro-core/docs/pages/tutorials/explore-components.md
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Docs :spiral_notepad:

#453 [Docs] Check all links in docs and make them more accessible #424
  vizro-core/changelog.d/20240504_225733_didme654.md
  vizro-core/docs/pages/explanation/contributing.md
  vizro-core/docs/pages/tutorials/explore-components.md
  vizro-core/docs/pages/user-guides/card-button.md
  vizro-core/docs/pages/user-guides/container.md
  vizro-core/docs/pages/user-guides/graph.md
  vizro-core/docs/pages/user-guides/table.md
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Docs :spiral_notepad:

#462 [Docs] Remove all CSS classes with suffix `_outer`
  vizro-core/changelog.d/20240507_151401_huong_li_nguyen_remove_outer_container.md
  vizro-core/docs/pages/user-guides/assets.md
  vizro-core/examples/_dev/app.py
  vizro-core/examples/_dev/assets/css/custom.css
  vizro-core/src/vizro/models/_components/ag_grid.py
  vizro-core/src/vizro/models/_components/card.py
  vizro-core/src/vizro/models/_components/form/_text_area.py
  vizro-core/src/vizro/models/_components/form/_user_input.py
  vizro-core/src/vizro/models/_components/form/checklist.py
  vizro-core/src/vizro/models/_components/form/date_picker.py
  vizro-core/src/vizro/models/_components/form/dropdown.py
  vizro-core/src/vizro/models/_components/form/radio_items.py
  vizro-core/src/vizro/models/_components/form/range_slider.py
  vizro-core/src/vizro/models/_components/form/slider.py
  vizro-core/src/vizro/models/_components/table.py
  vizro-core/tests/unit/vizro/models/_components/form/test_checklist.py
  vizro-core/tests/unit/vizro/models/_components/form/test_date_picker.py
  vizro-core/tests/unit/vizro/models/_components/form/test_dropdown.py
  vizro-core/tests/unit/vizro/models/_components/form/test_radio_items.py
  vizro-core/tests/unit/vizro/models/_components/form/test_range_slider.py
  vizro-core/tests/unit/vizro/models/_components/form/test_slider.py
  vizro-core/tests/unit/vizro/models/_components/form/test_text_area.py
  vizro-core/tests/unit/vizro/models/_components/form/test_user_input.py
  vizro-core/tests/unit/vizro/models/_components/test_ag_grid.py
  vizro-core/tests/unit/vizro/models/_components/test_card.py
  vizro-core/tests/unit/vizro/models/_components/test_table.py
  vizro-core/tests/unit/vizro/tables/test_dash_ag_grid.py
  vizro-core/tests/unit/vizro/tables/test_dash_table.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Docs :spiral_notepad:, Component: Refactoring :superhero:

#470 [Release] Release of vizro-ai 0.2.0
  vizro-ai/CHANGELOG.md
  vizro-ai/changelog.d/20240313_190013_maximilian_schulz_version_bump.md
  vizro-ai/changelog.d/20240325_170323_jo_stichbury_revise_vizro_ai_docs.md
  vizro-ai/changelog.d/20240328_174607_nadija_ratkusic_graca_add_genAI_use_case.md
  vizro-ai/changelog.d/20240402_180718_jo_stichbury_update_core_to_highlight_ai.md
  vizro-ai/changelog.d/20240404_112532_jo_stichbury_update_build_docs_settings.md
  vizro-ai/changelog.d/20240415_091003_huong_li_nguyen_0_1_15.md
  vizro-ai/changelog.d/20240415_145151_jo_stichbury_fix_merge_vale_added.md
  vizro-ai/changelog.d/20240415_223857_nadija_ratkusic_graca_refactor_vizroai_class.md
  vizro-ai/changelog.d/20240418_131121_jo_stichbury_add_awesome_vizro.md
  vizro-ai/changelog.d/20240419_145915_jo_stichbury_fix_formatting_issue.md
  vizro-ai/changelog.d/20240419_165541_alexey_snigir_vizro_ai_tests_fix.md
  vizro-ai/changelog.d/20240424_120614_jo_stichbury_update_environment_text_vizroai.md
  vizro-ai/changelog.d/20240425_125608_nadija_ratkusic_graca_add_how_to_guide_vizroai.md
  vizro-ai/changelog.d/20240426_164549_nadija_ratkusic_graca_vizro_ai_return_fig_object.md
  vizro-ai/changelog.d/20240426_172859_anna_xiong_add_azure_open_ai.md
  vizro-ai/changelog.d/20240430_095908_anna_xiong.md
  vizro-ai/changelog.d/20240501_111259_anna_xiong_langchian_verison_upperbound.md
  vizro-ai/changelog.d/20240502_112941_lingyi_zhang_default_model.md
  vizro-ai/changelog.d/20240503_150635_jo_stichbury_add_gif_to_index.md
  vizro-ai/changelog.d/20240507_133149_alexey_snigir_vizro_ai_tests_approval.md
  vizro-ai/changelog.d/20240508_181644_alexey_snigir_fix_vizro_ai_tests.md
  vizro-ai/changelog.d/20240508_210432_nadija_ratkusic_graca_vizro_ai_tidy_docs.md
  vizro-ai/changelog.d/20240509_190629_nadija_ratkusic_graca_0_2_0.md
  vizro-ai/src/vizro_ai/__init__.py
Labels: Status: Ready for Review :ballot_box_with_check:, RELEASE

#439 [Bug] Fix bug that prevented custom tables/grids with column referral
  vizro-core/changelog.d/20240426_101916_maximilian_schulz_missing_DF_435.md
  vizro-core/examples/_dev/app.py
  vizro-core/src/vizro/models/_components/ag_grid.py
  vizro-core/src/vizro/models/_components/table.py
  vizro-core/tests/unit/vizro/models/_components/test_ag_grid.py
  vizro-core/tests/unit/vizro/models/_components/test_table.py
  vizro-core/tests/unit/vizro/tables/test_dash_ag_grid.py
  vizro-core/tests/unit/vizro/tables/test_dash_table.py
Labels: Status: Ready for Review :ballot_box_with_check:, Issue: Bug Report :bug:

#446 [Bug] Fix reloading issues of the AG Grid
  vizro-core/changelog.d/20240512_100444_maximilian_schulz_ag_grid_default_resetting_670.md
  vizro-core/examples/_dev/app.py
  vizro-core/src/vizro/tables/_dash_ag_grid.py
  vizro-core/tests/unit/vizro/tables/test_dash_ag_grid.py
Labels: Status: Ready for Review :ballot_box_with_check:, Issue: Bug Report :bug:

#477 [Docs] Two small docs changes for improved usability
  vizro-core/docs/index.md
  vizro-core/docs/pages/examples/examples.md
  vizro-core/docs/pages/explanation/contributing.md
  vizro-core/docs/pages/explanation/faq.md
  vizro-core/docs/pages/tutorials/first-dashboard.md
  vizro-core/mkdocs.yml
Labels: Component: Docs :spiral_notepad:

#472 [Docs]fix vizro ai chart example
  vizro-ai/changelog.d/20240510_140409_anna_xiong_fix_vizro_ai_chart_example.md
  vizro-ai/docs/pages/user-guides/add-generated-chart-usecase.md
  vizro-ai/docs/pages/user-guides/customize-vizro-ai.md
  vizro-ai/examples/example.ipynb
  vizro-ai/examples/example.py
  vizro-ai/src/vizro_ai/components/chart_selection.py
  vizro-ai/src/vizro_ai/components/code_validation.py
  vizro-ai/src/vizro_ai/components/custom_chart_wrap.py
  vizro-ai/src/vizro_ai/components/dataframe_craft.py
  vizro-ai/src/vizro_ai/components/visual_code.py
  vizro-ai/tests/integration/test_example.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Docs :spiral_notepad:, Component: Vizro-AI :robot:

#451 [Tidy] Remove component to data mapping from data manager
  vizro-core/changelog.d/20240502_175131_antony.milne_data_source_mapping.md
  vizro-core/src/vizro/actions/_actions_utils.py
  vizro-core/src/vizro/managers/_data_manager.py
  vizro-core/src/vizro/models/_components/_components_utils.py
  vizro-core/src/vizro/models/_components/ag_grid.py
  vizro-core/src/vizro/models/_components/graph.py
  vizro-core/src/vizro/models/_components/table.py
  vizro-core/src/vizro/models/_controls/filter.py
  vizro-core/src/vizro/models/types.py
  vizro-core/tests/unit/vizro/models/_components/test_ag_grid.py
  vizro-core/tests/unit/vizro/models/_components/test_graph.py
  vizro-core/tests/unit/vizro/models/_components/test_table.py
  vizro-core/tests/unit/vizro/models/test_types.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Refactoring :superhero:

#478 [BUG] Fix considering custom control actions
  vizro-core/changelog.d/20240514_114055_petar_pejovic_fix_considering_custom_control_actions.md
  vizro-core/examples/_dev/app.py
  vizro-core/src/vizro/managers/_model_manager.py
Labels: Status: Ready for Review :ballot_box_with_check:, Issue: Bug Report :bug:

#491 [Tidy] Clean-up examples where we set the id of grid and table within the function
  vizro-core/changelog.d/20240522_140834_maximilian_schulz_small_tasks_941.md
  vizro-core/examples/_dev/app.py
  vizro-core/examples/demo/app.py
  vizro-core/examples/demo/jupyter_version/app.ipynb
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Refactoring :superhero:

#487 [Feat] Add new dcc.Loading features in dash 2.17
  vizro-core/changelog.d/20240523_085359_amward_update_dcc_loading.md
  vizro-core/hatch.toml
  vizro-core/pyproject.toml
  vizro-core/snyk/requirements.txt
  vizro-core/src/vizro/models/_components/ag_grid.py
  vizro-core/src/vizro/models/_components/graph.py
  vizro-core/src/vizro/models/_components/table.py
  vizro-core/tests/unit/vizro/models/_components/test_ag_grid.py
  vizro-core/tests/unit/vizro/models/_components/test_graph.py
  vizro-core/tests/unit/vizro/models/_components/test_table.py
  vizro-core/tests/unit/vizro/tables/test_dash_ag_grid.py
  vizro-core/tests/unit/vizro/tables/test_dash_table.py
Labels: Issue: Feature Request :nerd_face:

#484 [CI] Github tests trigger for CircleCI
  .circleci/config.yml
  .github/workflows/circleci-trigger.yml
  .github/workflows/test-integration-vizro-ai.yml
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Tests :test_tube:

#498 [CI] Fix paths-ignore for vizro-ai docs
  .github/workflows/test-integration-vizro-ai.yml
Labels: Status: Ready for Review :ballot_box_with_check:

#502 [Release] Release of vizro 0.1.17
  vizro-core/CHANGELOG.md
  vizro-core/changelog.d/20240426_101916_maximilian_schulz_missing_DF_435.md
  vizro-core/changelog.d/20240430_090752_lingyi_zhang_0_1_16.md
  vizro-core/changelog.d/20240430_135645_runner.md
  vizro-core/changelog.d/20240502_175131_antony.milne_data_source_mapping.md
  vizro-core/changelog.d/20240504_225733_didme654.md
  vizro-core/changelog.d/20240506_132324_huong_li_nguyen_store_page_id.md
  vizro-core/changelog.d/20240507_103547_huong_li_nguyen_improve_dm_example.md
  vizro-core/changelog.d/20240507_151401_huong_li_nguyen_remove_outer_container.md
  vizro-core/changelog.d/20240508_101042_jo_stichbury_fix_typo_in_explore_components.md
  vizro-core/changelog.d/20240510_152923_nadija_ratkusic_graca_vizro_core_aggrid_custom_css.md
  vizro-core/changelog.d/20240512_100444_maximilian_schulz_ag_grid_default_resetting_670.md
  vizro-core/changelog.d/20240513_162501_antony.milne_add_link_checker.md
  vizro-core/changelog.d/20240514_114055_petar_pejovic_fix_considering_custom_control_actions.md
  vizro-core/changelog.d/20240514_213231_antony.milne_dynamic_data_load_with_args.md
  vizro-core/changelog.d/20240514_232012_antony.milne_random_bits.md
  vizro-core/changelog.d/20240515_133813_petar_pejovic_fixing_dash_table_dropdown_menu.md
  vizro-core/changelog.d/20240520_095504_jo_stichbury_483.md
  vizro-core/changelog.d/20240522_140834_maximilian_schulz_small_tasks_941.md
  vizro-core/changelog.d/20240523_085359_amward_update_dcc_loading.md
  vizro-core/changelog.d/20240528_133148_petar_pejovic_parametrise_dynamic_data.md
  vizro-core/changelog.d/20240530_095818_petar_pejovic_0_1_17.md
  vizro-core/schemas/0.1.16.json
  vizro-core/schemas/0.1.17.json
  vizro-core/src/vizro/__init__.py
Labels: Status: Ready for Review :ballot_box_with_check:, RELEASE

#495 [Tidy] Remove docstrings from build methods to harmonize overall
  vizro-core/changelog.d/20240523_094341_maximilian_schulz_clean_up_api_docs.md
  vizro-core/docs/pages/API-reference/models.md
  vizro-core/src/vizro/models/_action/_action.py
  vizro-core/src/vizro/models/types.py
Labels: Status: Ready for Review :ballot_box_with_check:, Component: Docs :spiral_notepad:

#496 [Draft] Docs: Update layouts documentation for readability
  vizro-core/changelog.d/20240523_144536_jo_stichbury_update_layout_page.md
  vizro-core/docs/pages/user-guides/layouts.md
Labels: Component: Docs :spiral_notepad:

#503 [CI] Fix changelog fragment check
  .github/workflows/checks-vizro-ai.yml
  .github/workflows/checks-vizro-core.yml
  .github/workflows/lint-vizro-all.yml
  .github/workflows/test-integration-vizro-ai.yml
Labels: Status: Ready for Review :ballot_box_with_check:, Component: DevOps/Setup :classical_building:

#497 [QA] Fix flaky `data_manager` unit tests
  vizro-core/changelog.d/20240527_100151_petar_pejovic_fix_data_manager_flaky_tests.md
  vizro-core/hatch.toml
  vizro-core/tests/unit/vizro/managers/test_data_manager.py
Labels: Component: Tests :test_tube:
