Repository mckinsey/vizro, pull requests merged in 2025-05, with the labels that each got.

#1161 [Docs] Add mcp gif to README
  vizro-ai/docs/pages/user-guides/customize-vizro-ai.md
  vizro-core/docs/assets/tutorials/dashboard/vizro-mcp.gif
  vizro-core/docs/pages/tutorials/first-dashboard.md
  vizro-mcp/README.md
  vizro-mcp/assets/vizro-mcp.gif
Labels: Vizro-AI :robot:

#1172 [Fix] Replace deprecated argument in `dbc.Modal`
  vizro-ai/changelog.d/20250514_114007_huong_li_nguyen_fix_failing_test_on_main.md
  vizro-ai/examples/dashboard_ui/components.py
Labels: Vizro-AI :robot:

#1162 [Fix] Refactor CSS for table containers and update AgGrid configuration
  vizro-core/changelog.d/20250514_132650_vladimir_nikolic_ag_grid_resizing_issue.md
  vizro-core/examples/scratch_dev/app.py
  vizro-core/src/vizro/static/css/flex-grid.css
  vizro-core/src/vizro/tables/_dash_ag_grid.py
  vizro-core/tests/e2e/screenshots/chrome/main_ag_grid_page.png
  vizro-core/tests/e2e/screenshots/chrome/main_button_styles.png
  vizro-core/tests/e2e/screenshots/chrome/main_flex_layout_all_params.png
  vizro-core/tests/e2e/screenshots/chrome/main_flex_layout_gap_and_table.png
  vizro-core/tests/e2e/screenshots/chrome/main_flex_layout_wrap_and_ag_grid.png
  vizro-core/tests/e2e/screenshots/firefox/main_ag_grid_page.png
  vizro-core/tests/e2e/screenshots/firefox/main_button_styles.png
  vizro-core/tests/e2e/screenshots/firefox/main_flex_layout_all_params.png
  vizro-core/tests/e2e/screenshots/firefox/main_flex_layout_gap_and_table.png
  vizro-core/tests/e2e/screenshots/firefox/main_flex_layout_wrap_and_ag_grid.png
  vizro-core/tests/unit/vizro/tables/test_dash_ag_grid.py
Labels: Feature Request :nerd_face:

#1132 [Docs] Update user tutorial with `Flex` layout
  vizro-core/docs/assets/tutorials/dashboard/01-first-page-button.png
  vizro-core/docs/assets/tutorials/dashboard/01-first-page-layout.png
  vizro-core/docs/pages/tutorials/explore-components.md
  vizro-core/examples/scratch_dev/app.py
Labels: Docs :spiral_notepad:

#1181 [Release] Release of vizro-mcp 0.1.1
  vizro-mcp/CHANGELOG.md
  vizro-mcp/changelog.d/20250506_192030_runner.md
  vizro-mcp/changelog.d/20250514_165842_lingyi_zhang_name_conflict_with_langchain.md
  vizro-mcp/changelog.d/20250515_115815_lingyi_zhang_0_1_1.md
  vizro-mcp/src/vizro_mcp/__init__.py
Labels: Vizro-AI :robot:

#1185 [Docs] Update font and front page icons
  vizro-core/docs/index.md
  vizro-core/mkdocs.yml
Labels: Docs :spiral_notepad:

#1188 [Docs] Update Vizro-AI front page and menu to match Vizro core
  vizro-ai/docs/index.md
  vizro-ai/mkdocs.yml
Labels: Docs :spiral_notepad:, Vizro-AI :robot:

#1190 [Docs] Add information note to Vizro-AI docs
  vizro-ai/docs/index.md
  vizro-ai/docs/pages/explanation/faq.md
  vizro-ai/docs/pages/tutorials/quickstart-dashboard.md
  vizro-ai/docs/pages/user-guides/create-complex-dashboard.md
  vizro-ai/docs/pages/user-guides/run-vizro-ai-dashboard.md
  vizro-ai/mkdocs.yml
Labels: Docs :spiral_notepad:, Vizro-AI :robot:

#1193 [Docs] Add Q&A about Vizro internals
  vizro-core/docs/pages/explanation/faq.md
Labels: Docs :spiral_notepad:

#1207 [Docs] Update FAQs to add a link to the roadmap and mention our OS license
  vizro-core/docs/pages/explanation/faq.md
Labels: Docs :spiral_notepad:

#1192 [Docs] Remove capitalisation in table of contents
  vizro-core/mkdocs.yml
Labels: Docs :spiral_notepad:
